Repository ka2kama/ringiflow: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt-check, elm-format-check

lefthook.yaml:

# lefthook 設定
# インストール: https://github.com/evilmartians/lefthook

# コミット前のチェック（ブランチ保護 + フォーマット + 拡張子）
pre-commit:
  parallel: true
  commands:
    no-main-commit:
      # main ブランチへの直接コミットを禁止
      run: |
        BRANCH=$(git symbolic-ref --short HEAD 2>/dev/null)
        if [ "$BRANCH" = "main" ]; then
          echo "Error: main ブランチへの直接コミットは禁止されています。ブランチを作成してください。"
          exit 1
        fi
    no-yml-extension:
      # .yml ファイルの追加を禁止（.yaml を使用すること）
      # .gitignore 内の参照は許可
      run: |
        files=$(git diff --cached --name-only --diff-filter=A | grep '\.yml$' || true)
        if [ -n "$files" ]; then
          echo "Error: .yml 拡張子は使用できません。.yaml を使用してください。"
          echo "該当ファイル:"
          echo "$files"
          exit 1
        fi
    rustfmt-check:
      glob: "*.rs"
      run: rustfmt +nightly --edition 2024 --check {staged_files}
    elm-format-check:
      glob: "*.elm"
      run: elm-format --validate {staged_files}

# プッシュ前のチェック（lint + unit test、DB 不要）
pre-push:
  commands:
    check-pre-push:
      run: just check-pre-push

# コミットメッセージ作成時に Issue 番号を自動付与
prepare-commit-msg:
  scripts:
    "add-issue-number.sh":
      runner: bash
    "add-model-to-attribution.sh":
      runner: bash

# コミット時刻を夜の時間帯に正規化（生活パターンの推測を抑制）
post-commit:
  scripts:
    "normalize-time.sh":
      runner: bash

#1095 Add implementation plan for removing ApiResponse envelope
  prompts/plans/1095_remove-api-response-envelope.md
Due: none

#1095 Rename PaginatedResponse.data to items (Phase 4)
  backend/apps/bff/src/handler/audit_log.rs
  backend/crates/shared/src/paginated_response.rs
  frontend/src/Data/AuditLog.elm
  frontend/src/Page/AuditLog/List.elm
  frontend/tests/Data/AuditLogTest.elm
  tests/api/hurl/audit_log/list_audit_logs.hurl
Due: rustfmt-check, elm-format-check

#1095 Fix clippy lint: remove unnecessary let binding in test helpers
  backend/apps/core-service/tests/workflow_definition_integration_test.rs
Due: rustfmt-check

#1095 Remove ApiResponse auto-unwrap from frontend Api module (Phase 5)
  frontend/src/Api.elm
  frontend/src/Api/AuditLog.elm
Due: elm-format-check

#1095 Remove ApiResponse envelope from BFF client, handlers, and OpenAPI
  backend/apps/bff/src/client/core_service/document_client.rs
  backend/apps/bff/src/client/core_service/folder_client.rs
  backend/apps/bff/src/client/core_service/response.rs
  backend/apps/bff/src/client/core_service/role_client.rs
  backend/apps/bff/src/client/core_service/task_client.rs
  backend/apps/bff/src/client/core_service/user_client.rs
  backend/apps/bff/src/client/core_service/workflow_client.rs
  backend/apps/bff/src/handler/auth/login.rs
  backend/apps/bff/src/handler/auth/mod.rs
  backend/apps/bff/src/handler/auth/session.rs
  backend/apps/bff/src/handler/dashboard.rs
  backend/apps/bff/src/handler/document.rs
  backend/apps/bff/src/handler/folder.rs
  backend/apps/bff/src/handler/role.rs
  backend/apps/bff/src/handler/task.rs
  backend/apps/bff/src/handler/user.rs
  backend/apps/bff/src/handler/workflow/command.rs
  backend/apps/bff/src/handler/workflow/query.rs
  backend/apps/bff/src/handler/workflow_definition.rs
  backend/apps/bff/tests/auth_integration_test.rs
  backend/apps/bff/tests/snapshots/openapi_spec__openapi_spec.snap
  backend/apps/bff/tests/workflow_definition_authz_test.rs
Due: rustfmt-check

#1095 Delete ApiResponse type and update OpenAPI spec (Phase 8)
  backend/apps/bff/src/bin/generate_openapi.rs
  backend/apps/bff/src/client/core_service/response.rs
  backend/apps/bff/tests/snapshots/openapi_spec__openapi_spec.snap
  backend/crates/shared/src/api_response.rs
  backend/crates/shared/src/lib.rs
  openapi/openapi.yaml
Due: rustfmt-check

#1095 Update implementation guide to note ApiResponse deprecation
  docs/90_実装解説/PR444_OpenAPI-CodeFirst/01_utoipa導入_コード解説.md
Due: none

#1095 Remove $.data envelope from Hurl API tests (Phase 7)
  tests/api/hurl/auth/csrf.hurl
  tests/api/hurl/auth/login.hurl
  tests/api/hurl/auth/logout.hurl
  tests/api/hurl/auth/me.hurl
  tests/api/hurl/dashboard/stats.hurl
  tests/api/hurl/role/create_role.hurl
  tests/api/hurl/role/delete_role.hurl
  tests/api/hurl/role/get_role.hurl
  tests/api/hurl/role/list_roles.hurl
  tests/api/hurl/role/update_role.hurl
  tests/api/hurl/task/get_task_by_display_numbers.hurl
  tests/api/hurl/task/list_my_tasks.hurl
  tests/api/hurl/user/create_user.hurl
  tests/api/hurl/user/get_user_detail.hurl
  tests/api/hurl/user/list_users.hurl
  tests/api/hurl/user/update_user.hurl
  tests/api/hurl/user/update_user_status.hurl
  tests/api/hurl/workflow/approve_step.hurl
  tests/api/hurl/workflow/comments.hurl
  tests/api/hurl/workflow/create_workflow.hurl
  tests/api/hurl/workflow/full_request_changes_resubmit_flow.hurl
  tests/api/hurl/workflow/get_workflow.hurl
  tests/api/hurl/workflow/list_my_workflows.hurl
  tests/api/hurl/workflow/multi_step_approve.hurl
  tests/api/hurl/workflow/multi_step_reject.hurl
  tests/api/hurl/workflow/reject_step.hurl
  tests/api/hurl/workflow/request_changes_step.hurl
  tests/api/hurl/workflow/resubmit_workflow.hurl
  tests/api/hurl/workflow/submit_workflow.hurl
  tests/api/hurl/workflow_definition/archive_definition.hurl
  tests/api/hurl/workflow_definition/create_definition.hurl
  tests/api/hurl/workflow_definition/delete_definition.hurl
  tests/api/hurl/workflow_definition/get_workflow_definition.hurl
  tests/api/hurl/workflow_definition/list_workflow_definitions.hurl
  tests/api/hurl/workflow_definition/publish_definition.hurl
  tests/api/hurl/workflow_definition/update_definition.hurl
  tests/api/hurl/workflow_definition/validate_definition.hurl
Due: none

#1095 Update ADR-065 to reflect completed implementation
  docs/70_ADR/065_ApiResponseエンベロープパターンの評価.md
Due: none

#1095 Remove .data envelope access from E2E test
  tests/e2e/tests/designer-workflow-flow.spec.ts
Due: none

#1095 Update plan: mark all phases complete
  prompts/plans/1095_remove-api-response-envelope.md
Due: none

#1095 Add session log for ApiResponse envelope removal
  prompts/runs/2026-03/2026-03-09_2300_ApiResponseエンベロープパターン廃止.md
Due: none

#1099 Weekly retrospective (2026-03-09) (#1101)
  process/reports/2026-03-09_2110_レトロスペクティブ.md
Due: none

Fix ELIFECYCLE noise in E2E test cleanup by running vite directly
  scripts/test/run-e2e.sh
Due: none

#1093 Record ADR-065 for ApiResponse envelope pattern evaluation
  docs/70_ADR/065_ApiResponseエンベロープパターンの評価.md
  prompts/runs/2026-03/2026-03-09_2200_ApiResponseエンベロープパターンADR記録.md
Due: none

Add missing AWS_REGION to Lightsail docker-compose
  infra/lightsail/docker-compose.yaml
Due: none

#1099 Add weekly retrospective report (2026-03-09)
  process/reports/2026-03-09_2110_レトロスペクティブ.md
Due: none

#1085 Extract detailDecoder to Data.Document per frontend.md convention
  frontend/src/Api/Document.elm
  frontend/src/Data/Document.elm
Due: elm-format-check

#1091 Add implementation plan for auto-unwrap ApiResponse
  prompts/plans/1091_auto-unwrap-api-response.md
Due: none

#1091 Centralize ApiResponse data unwrapping in Api module
  frontend/src/Api.elm
  frontend/src/Api/AuditLog.elm
  frontend/src/Api/Auth.elm
  frontend/src/Data/AdminUser.elm
  frontend/src/Data/Dashboard.elm
  frontend/src/Data/Document.elm
  frontend/src/Data/Folder.elm
  frontend/src/Data/Role.elm
  frontend/src/Data/Task.elm
  frontend/src/Data/UserItem.elm
  frontend/src/Data/WorkflowComment.elm
  frontend/src/Data/WorkflowDefinition.elm
  frontend/src/Data/WorkflowInstance.elm
  frontend/tests/Api/AuthTest.elm
  frontend/tests/Data/AdminUserTest.elm
  frontend/tests/Data/DashboardTest.elm
  frontend/tests/Data/DocumentTest.elm
  frontend/tests/Data/FolderTest.elm
  frontend/tests/Data/RoleTest.elm
  frontend/tests/Data/TaskTest.elm
  frontend/tests/Data/UserItemTest.elm
  frontend/tests/Data/WorkflowCommentTest.elm
  frontend/tests/Data/WorkflowDefinitionTest.elm
  frontend/tests/Data/WorkflowInstanceTest.elm
Due: elm-format-check

#1091 Update plan progress and add session log
  prompts/plans/1091_auto-unwrap-api-response.md
  prompts/runs/2026-03/2026-03-09_2135_ApiResponse自動アンラップ実装.md
Due: none

#1091 Remove stale doc comment about data wrapper in UserItem
  frontend/src/Data/UserItem.elm
Due: elm-format-check

#1095 Remove stale ApiResponse comments from Auth decoder docs
  frontend/src/Api/Auth.elm
Due: elm-format-check

#1095 Remove redundant let bindings left by mechanical replacement
  backend/apps/bff/src/handler/document.rs
  backend/apps/bff/src/handler/folder.rs
  backend/apps/bff/src/handler/role.rs
  backend/apps/bff/src/handler/user.rs
  backend/apps/bff/src/handler/workflow_definition.rs
  backend/apps/core-service/src/handler/auth/mod.rs
  backend/apps/core-service/src/handler/folder.rs
  backend/apps/core-service/src/handler/role.rs
  process/improvements/2026-03/2026-03-09_2014_review-and-mergeでAPPROVEDコメントの指摘事項を提示せずスキップした.md
Due: rustfmt-check

Add missing Dependabot labels to setup procedure (#1112)
  docs/60_手順書/02_プロジェクト構築/03_GitHub設定.md
  justfile
Due: none

Update Rust toolchain from 1.93 to 1.94 (#1113)
  .github/workflows/ci.yaml
  .github/workflows/claude-rules-check.yaml
  README.ja.md
  README.md
  backend/Dockerfile
  backend/rust-toolchain.toml
  docs/60_手順書/01_開発参画/01_開発環境構築.md
  docs/80_ナレッジベース/devtools/GitHubActions.md
Due: none

Update Rust toolchain from 1.93 to 1.94
  .github/workflows/ci.yaml
  .github/workflows/claude-rules-check.yaml
  README.ja.md
  README.md
  backend/Dockerfile
  backend/rust-toolchain.toml
  docs/60_手順書/01_開発参画/01_開発環境構築.md
  docs/80_ナレッジベース/devtools/GitHubActions.md
Due: none

Add missing Dependabot labels to setup procedure and justfile
  docs/60_手順書/02_プロジェクト構築/03_GitHub設定.md
  justfile
Due: none

Add document lifecycle rule for AI consistency (#1114)
  .claude/rules/document-lifecycle.md
Due: none

Add document lifecycle rule for AI consistency
  .claude/rules/document-lifecycle.md
Due: none

#1102 Evaluate and decide first Phase 3 feature (#1116)
  docs/40_詳細設計書/00_実装ロードマップ.md
  prompts/plans/1102_evaluate-phase3-first-feature.md
Due: none

#1124 Add design plan for Mermaid diagram guidelines
  prompts/plans/1124_mermaid-diagram-guidelines.md
Due: none

#1124 Add Mermaid diagram guidelines for plan files and PR bodies
  .claude/rules/dev-flow-issue.md
  .claude/rules/zoom-rhythm.md
  prompts/plans/1124_mermaid-diagram-guidelines.md
Due: none
