Repository ka2kama/ringiflow: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt-check, elm-format-check

lefthook.yaml:

# lefthook 設定
# インストール: https://github.com/evilmartians/lefthook

# コミット前のチェック（ブランチ保護 + フォーマット + 拡張子）
pre-commit:
  parallel: true
  commands:
    no-main-commit:
      # main ブランチへの直接コミットを禁止
      run: |
        BRANCH=$(git symbolic-ref --short HEAD 2>/dev/null)
        if [ "$BRANCH" = "main" ]; then
          echo "Error: main ブランチへの直接コミットは禁止されています。ブランチを作成してください。"
          exit 1
        fi
    no-yml-extension:
      # .yml ファイルの追加を禁止（.yaml を使用すること）
      # .gitignore 内の参照は許可
      run: |
        files=$(git diff --cached --name-only --diff-filter=A | grep '\.yml$' || true)
        if [ -n "$files" ]; then
          echo "Error: .yml 拡張子は使用できません。.yaml を使用してください。"
          echo "該当ファイル:"
          echo "$files"
          exit 1
        fi
    rustfmt-check:
      glob: "*.rs"
      run: rustfmt +nightly --edition 2024 --check {staged_files}
    elm-format-check:
      glob: "*.elm"
      run: elm-format --validate {staged_files}

# プッシュ前のチェック（lint + unit test、DB 不要）
pre-push:
  commands:
    check-pre-push:
      run: just check-pre-push

# コミットメッセージ作成時に Issue 番号を自動付与
prepare-commit-msg:
  scripts:
    "add-issue-number.sh":
      runner: bash
    "add-model-to-attribution.sh":
      runner: bash

# コミット時刻を夜の時間帯に正規化（生活パターンの推測を抑制）
post-commit:
  scripts:
    "normalize-time.sh":
      runner: bash

#955 Use strict equality for type URI in API test
  tests/api/hurl/audit_log/list_audit_logs.hurl
Due: none

#955 Remove leftover snapshot .new file
  backend/apps/bff/tests/snapshots/openapi_spec__openapi_spec.snap.new
Due: none

#955 Update OpenAPI snapshot for 400 response
  backend/apps/bff/tests/snapshots/openapi_spec__openapi_spec.snap.new
Due: none

#941 Add logging policy: judgment criteria for what to log
  docs/03_詳細設計書/14_Observability設計.md
  docs/06_ナレッジベース/backend/log-schema.md
  prompts/plans/941_log-policy.md
Due: none

#888 Add file-size exception comment to main.rs and update baseline
  .config/baselines.env
  backend/apps/core-service/src/main.rs
Due: rustfmt-check

#932 Add infra config change environment diff check to quality checklist
  .claude/rules/dev-flow-issue.md
Due: none

#946 Add pre-commit check for plan file naming convention
  justfile
  lefthook.yaml
  scripts/check/check-plan-filenames.sh
  scripts/check/parallel.sh
Due: none

#927 Add session log for folder transaction implementation
  prompts/runs/2026-02/2026-02-27_1818_フォルダ移動にトランザクション導入.md
Due: none

#955 Return 400 for invalid cursor parameter in audit log API (#957)
  .claude/settings.json
  backend/apps/bff/src/handler/audit_log.rs
  backend/apps/bff/tests/snapshots/openapi_spec__openapi_spec.snap
  backend/crates/infra/src/error.rs
  backend/crates/infra/src/repository/audit_log_repository.rs
  backend/crates/infra/tests/audit_log_repository_test.rs
  openapi/openapi.yaml
  tests/api/hurl/audit_log/list_audit_logs.hurl
Due: rustfmt-check

#941 Add session log for logging policy work
  prompts/runs/2026-02/2026-02-27_2118_ログポリシーの策定.md
Due: none

#888 Use Markdown link for structural-review.md reference in main.rs
  backend/apps/core-service/src/main.rs
Due: rustfmt-check

#888 Consolidate WorkflowUseCaseImpl dependencies into WorkflowUseCaseDeps struct
  backend/apps/core-service/src/main.rs
  backend/apps/core-service/src/test_utils/workflow_test_builder.rs
  backend/apps/core-service/src/usecase/workflow.rs
  backend/apps/core-service/src/usecase/workflow/command.rs
  backend/apps/core-service/src/usecase/workflow/command/comment.rs
  backend/apps/core-service/src/usecase/workflow/command/decision/approve.rs
  backend/apps/core-service/src/usecase/workflow/command/decision/common.rs
  backend/apps/core-service/src/usecase/workflow/command/decision/reject.rs
  backend/apps/core-service/src/usecase/workflow/command/decision/request_changes.rs
  backend/apps/core-service/src/usecase/workflow/command/helpers.rs
  backend/apps/core-service/src/usecase/workflow/command/lifecycle/common.rs
  backend/apps/core-service/src/usecase/workflow/command/lifecycle/create.rs
  backend/apps/core-service/src/usecase/workflow/command/lifecycle/resubmit.rs
  backend/apps/core-service/src/usecase/workflow/command/lifecycle/submit.rs
  backend/apps/core-service/src/usecase/workflow/query.rs
Due: rustfmt-check

#888 Update file-size baseline to 35 (main.rs crossed 500-line threshold)
  .config/baselines.env
Due: none

#946 Rename plan file golden-booping-metcalfe.md to 944_procedure-docs-education-focus.md
  prompts/plans/944_procedure-docs-education-focus.md
Due: none

#946 Add session log for plan filename check
  prompts/runs/2026-02/2026-02-27_2130_計画ファイル命名規則チェック.md
Due: none

#941 Add improvement record: plan file rename oversight
  process/improvements/2026-02/2026-02-27_2118_計画ファイルのランダム名リネーム漏れが構造的に防止されていない.md
Due: none

#927 Update sqlx offline cache for max_subtree_depth query
  backend/.sqlx/query-f4c9ec0d015a274b2eed0afd1c0825772dae7faa16546660c05a96fb8f8cbef4.json
Due: none

#941 Remove unnecessary bold formatting in log policy section
  docs/03_詳細設計書/14_Observability設計.md
Due: none

#927 Add explanation docs and update session log
  docs/07_実装解説/PR952_フォルダ移動トランザクション/01_フォルダ移動トランザクション_コード解説.md
  docs/07_実装解説/PR952_フォルダ移動トランザクション/01_フォルダ移動トランザクション_機能解説.md
  prompts/runs/2026-02/2026-02-27_1818_フォルダ移動にトランザクション導入.md
Due: none

#927 Add infra integration tests for FolderRepository max_subtree_depth
  backend/crates/infra/tests/folder_repository_test.rs
Due: rustfmt-check

#881 Update OpenAPI snapshot for S3 error code change (500 → 400)
  backend/apps/bff/tests/snapshots/openapi_spec__openapi_spec.snap
Due: none

#927 Add tenant_id filter to MockFolderRepository max_subtree_depth
  backend/crates/infra/src/mock.rs
  docs/07_実装解説/PR952_フォルダ移動トランザクション/01_フォルダ移動トランザクション_コード解説.md
Due: rustfmt-check

#939 Fix review feedback: bold style, section heading numbers, missing completed() error cells
  docs/08_テスト/テスト戦略_エッジケース方針.md
  docs/08_テスト/状態遷移表_WorkflowInstance.md
  docs/08_テスト/状態遷移表_WorkflowStep.md
  prompts/runs/2026-02/2026-02-27_2130_テスト戦略エッジケース方針策定.md
Due: none

#944 Fix Mermaid node format in plan file
  prompts/plans/jiggly-plotting-castle.md
Due: none

#881 Fix folder_id FK cascade and add DocumentRepository integration tests
  backend/.sqlx/query-7953140180a701ccb26a17d2a2701936f8f186332d8ecd0d339de7f7785f4f76.json
  backend/.sqlx/query-df6490c8f439433abe8bbbb12dbbec2380925e053cbf2b8cc1a77f6c51251ac1.json
  backend/crates/infra/tests/document_repository_test.rs
  backend/migrations/20260226000001_create_documents.sql
Due: rustfmt-check

#888 Consolidate WorkflowUseCaseImpl deps into a struct (#958)
  .config/baselines.env
  backend/apps/core-service/src/main.rs
  backend/apps/core-service/src/test_utils/workflow_test_builder.rs
  backend/apps/core-service/src/usecase/workflow.rs
  backend/apps/core-service/src/usecase/workflow/command.rs
  backend/apps/core-service/src/usecase/workflow/command/comment.rs
  backend/apps/core-service/src/usecase/workflow/command/decision/approve.rs
  backend/apps/core-service/src/usecase/workflow/command/decision/common.rs
  backend/apps/core-service/src/usecase/workflow/command/decision/reject.rs
  backend/apps/core-service/src/usecase/workflow/command/decision/request_changes.rs
  backend/apps/core-service/src/usecase/workflow/command/helpers.rs
  backend/apps/core-service/src/usecase/workflow/command/lifecycle/common.rs
  backend/apps/core-service/src/usecase/workflow/command/lifecycle/create.rs
  backend/apps/core-service/src/usecase/workflow/command/lifecycle/resubmit.rs
  backend/apps/core-service/src/usecase/workflow/command/lifecycle/submit.rs
  backend/apps/core-service/src/usecase/workflow/query.rs
Due: rustfmt-check

#942 Rename plan file to follow naming convention
  prompts/plans/942_canonical-log-lines.md
Due: none

#942 Fix relative path in canonical_log.rs doc comments
  backend/crates/shared/src/canonical_log.rs
Due: rustfmt-check

#881 Update schema.sql for folder_id FK cascade change
  backend/schema.sql
Due: none

#963 Update setup.sh sentinel key to detect stale S3 env vars
  scripts/env/setup.sh
Due: none

#963 Update setup.sh sentinel key to detect stale S3 env vars (#966)
  prompts/runs/2026-02/2026-02-27_2222_Epic405統合検証とS3環境変数修正.md
  scripts/env/setup.sh
Due: none

#963 Add session log for Epic #405 verification and S3 env fix
  prompts/runs/2026-02/2026-02-27_2222_Epic405統合検証とS3環境変数修正.md
Due: none

#889 Add session log for save-and-submit TODO cleanup
  prompts/runs/2026-02/2026-02-27_2221_save-and-submit-TODO修正.md
Due: none

#889 Clean up misleading saveAndSubmit comments and TODO
  frontend/src/Page/Workflow/New.elm
Due: elm-format-check

#877 Add address and subject assertions to intermediate step notification test
  tests/api/hurl/workflow/multi_step_approve.hurl
Due: none

#889 Clean up misleading save-and-submit TODO comments (#965)
  frontend/src/Page/Workflow/New.elm
  prompts/runs/2026-02/2026-02-27_2221_save-and-submit-TODO修正.md
Due: elm-format-check
