Repository ka2kama/ringiflow: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt-check, elm-format-check

rustfmt-check:
  run: rustfmt +nightly --edition 2024 --check {staged_files}

elm-format-check:
  run: elm-format --validate {staged_files}

Add Request ID utilities to shared observability module
  backend/Cargo.toml
  backend/crates/shared/Cargo.toml
  backend/crates/shared/src/observability.rs
Due: rustfmt-check

Configure Request ID layers in BFF router
  backend/apps/bff/src/main.rs
  backend/apps/bff/tests/request_id_test.rs
Due: rustfmt-check

#650 Add implementation plan for Request ID propagation
  prompts/plans/glowing-wobbling-thimble.md
Due: none

#650 Add session log and rename plan file
  prompts/plans/650_request-id-propagation.md
  prompts/runs/2026-02/2026-02-18_2216_RequestID生成伝播.md
Due: none

#614 Update plan file with completed confirmation items and test lists
  prompts/plans/614_micro-interactions.md
Due: none

#651 Fix doc numbering: rename code explanation to 02_
  docs/07_実装解説/28_PIIマスキング基盤/01_PIIマスキング_機能解説.md
  docs/07_実装解説/28_PIIマスキング基盤/02_PIIマスキング_コード解説.md
Due: none

#653 Add session log for design quality offense lens
  prompts/runs/2026-02/2026-02-18_2206_デザイン品質攻めレンズ導入.md
Due: none

#614 Add session log for micro-interactions improvement
  prompts/runs/2026-02/2026-02-18_2129_マイクロインタラクション改善.md
Due: none

#653 Clarify CRAP positioning within 4-layer UI/UX quality framework
  docs/06_ナレッジベース/methodology/独自フレームワークと既知手法の対応.md
Due: none

#650 Add Request ID generation, propagation, and log injection (#669)
  backend/Cargo.lock
  backend/Cargo.toml
  backend/apps/auth-service/src/main.rs
  backend/apps/bff/src/client/auth_service.rs
  backend/apps/bff/src/client/core_service/role_client.rs
  backend/apps/bff/src/client/core_service/task_client.rs
  backend/apps/bff/src/client/core_service/user_client.rs
  backend/apps/bff/src/client/core_service/workflow_client.rs
  backend/apps/bff/src/main.rs
  backend/apps/bff/src/middleware.rs
  backend/apps/bff/src/middleware/request_id.rs
  backend/apps/bff/tests/request_id_test.rs
  backend/apps/core-service/src/main.rs
  backend/crates/shared/Cargo.toml
  backend/crates/shared/src/observability.rs
  prompts/plans/650_request-id-propagation.md
  prompts/runs/2026-02/2026-02-18_2216_RequestID生成伝播.md
  tests/api/hurl/auth/login.hurl
  tests/api/hurl/health.hurl
Due: rustfmt-check

#651 Add explanation docs for PII masking
  docs/07_実装解説/28_PIIマスキング基盤/01_PIIマスキング_コード解説.md
  docs/07_実装解説/28_PIIマスキング基盤/01_PIIマスキング_機能解説.md
Due: none

#651 Add session log and rename plan file
  prompts/plans/651_pii-masking.md
  prompts/runs/2026-02/2026-02-18_2204_PII-masking-implementation.md
Due: none

#651 Add PII masking for Email, UserName, SessionData, and LoginRequest
  backend/apps/bff/src/handler/auth/mod.rs
  backend/apps/bff/src/main.rs
  backend/apps/core-service/src/handler/auth/mod.rs
  backend/crates/domain/src/macros.rs
  backend/crates/domain/src/user.rs
  backend/crates/domain/src/value_objects.rs
  backend/crates/infra/src/session.rs
  prompts/plans/tidy-bubbling-blossom.md
Due: rustfmt-check

#651 Extract REDACTED string literal into a constant
  backend/apps/bff/src/handler/auth/mod.rs
  backend/crates/domain/src/lib.rs
  backend/crates/domain/src/macros.rs
  backend/crates/domain/src/password.rs
  backend/crates/domain/src/user.rs
  backend/crates/domain/src/value_objects.rs
  backend/crates/infra/src/session.rs
Due: rustfmt-check

#650 Address review feedback: use REQUEST_ID_HEADER constant and update plan checkboxes
  backend/apps/bff/src/middleware/request_id.rs
  prompts/plans/650_request-id-propagation.md
Due: rustfmt-check

#650 Update test list checkboxes in plan file
  prompts/plans/650_request-id-propagation.md
Due: none

#651 Add PII masking and log sanitization foundation (#668)
  backend/apps/bff/src/handler/auth/mod.rs
  backend/apps/bff/src/main.rs
  backend/apps/core-service/src/handler/auth/mod.rs
  backend/crates/domain/src/lib.rs
  backend/crates/domain/src/macros.rs
  backend/crates/domain/src/password.rs
  backend/crates/domain/src/user.rs
  backend/crates/domain/src/value_objects.rs
  backend/crates/infra/src/session.rs
  docs/07_実装解説/28_PIIマスキング基盤/01_PIIマスキング_機能解説.md
  docs/07_実装解説/28_PIIマスキング基盤/02_PIIマスキング_コード解説.md
  prompts/plans/651_pii-masking.md
  prompts/runs/2026-02/2026-02-18_2204_PII-masking-implementation.md
Due: rustfmt-check

#670 Add design guideline compliance plan
  frontend/tests/Data/AdminUserTest.elm
  prompts/plans/memoized-napping-crystal.md
Due: elm-format-check

#670 Add session log and rename plan file
  prompts/plans/670_design-guideline-compliance.md
  prompts/runs/2026-02/2026-02-18_2256_デザインガイドライン準拠.md
Due: none

#670 Unify section cards and replace inline spinners with shared component
  frontend/src/Page/Task/Detail.elm
  frontend/src/Page/Workflow/Detail.elm
Due: elm-format-check

#670 Unify breadcrumbs, badge colors, focus styles, and spacing
  frontend/src/Data/AdminUser.elm
  frontend/src/Page/AuditLog/List.elm
  frontend/src/Page/Home.elm
  frontend/src/Page/Role/Edit.elm
  frontend/src/Page/Role/List.elm
  frontend/src/Page/Role/New.elm
  frontend/src/Page/Task/Detail.elm
  frontend/src/Page/User/Detail.elm
  frontend/src/Page/User/Edit.elm
  frontend/src/Page/User/New.elm
  frontend/src/Page/Workflow/Detail.elm
  frontend/src/Page/Workflow/List.elm
Due: elm-format-check

#670 Fix missed role badge color in User/Detail
  frontend/src/Page/User/Detail.elm
Due: elm-format-check

#670 Align existing views with design guidelines (#671)
  frontend/src/Data/AdminUser.elm
  frontend/src/Page/AuditLog/List.elm
  frontend/src/Page/Home.elm
  frontend/src/Page/Role/Edit.elm
  frontend/src/Page/Role/List.elm
  frontend/src/Page/Role/New.elm
  frontend/src/Page/Task/Detail.elm
  frontend/src/Page/User/Detail.elm
  frontend/src/Page/User/Edit.elm
  frontend/src/Page/User/New.elm
  frontend/src/Page/Workflow/Detail.elm
  frontend/src/Page/Workflow/List.elm
  frontend/tests/Data/AdminUserTest.elm
  prompts/plans/670_design-guideline-compliance.md
  prompts/runs/2026-02/2026-02-18_2256_デザインガイドライン準拠.md
Due: elm-format-check

Remove --delete-branch from gh pr merge commands
  .claude/skills/review-and-merge/SKILL.md
  CLAUDE.md
  docs/04_手順書/04_開発フロー/01_Issue駆動開発.md
  scripts/cleanup.sh
Due: none

Remove --delete-branch from gh pr merge commands (#673)
  .claude/skills/review-and-merge/SKILL.md
  CLAUDE.md
  docs/04_手順書/04_開発フロー/01_Issue駆動開発.md
  scripts/cleanup.sh
Due: none

#672 Add session log for broken doc links fix
  prompts/runs/2026-02/2026-02-18_2124_ドキュメントリンク切れ一括修正.md
Due: none

#657 Add business event logging macro and log schema documentation
  backend/crates/shared/src/event_log.rs
  backend/crates/shared/src/lib.rs
  docs/06_ナレッジベース/backend/log-schema.md
Due: rustfmt-check

#657 Add authentication business event logging to BFF login/logout
  backend/apps/bff/src/handler/auth/login.rs
Due: rustfmt-check

#657 Add structured error context fields to central error handlers
  backend/apps/auth-service/src/error.rs
  backend/apps/bff/src/error.rs
  backend/apps/bff/src/handler/auth/login.rs
  backend/apps/core-service/src/error.rs
Due: rustfmt-check

#657 Add business event logging to all workflow use cases
  backend/apps/core-service/src/usecase/workflow/command/decision/approve.rs
  backend/apps/core-service/src/usecase/workflow/command/decision/reject.rs
  backend/apps/core-service/src/usecase/workflow/command/decision/request_changes.rs
  backend/apps/core-service/src/usecase/workflow/command/lifecycle/create.rs
  backend/apps/core-service/src/usecase/workflow/command/lifecycle/resubmit.rs
  backend/apps/core-service/src/usecase/workflow/command/lifecycle/submit.rs
Due: rustfmt-check

#657 Add session log and rename plan file
  prompts/plans/657_business-event-log.md
  prompts/runs/2026-02/2026-02-18_2349_ビジネスイベントログとエラーコンテキスト実装.md
Due: none

#657 Update plan file with Phase 3-4 verification results
  prompts/plans/giggly-prancing-quasar.md
Due: none

#657 Add business event logging and error context for AI-driven investigation (#675)
  backend/apps/auth-service/src/error.rs
  backend/apps/bff/src/error.rs
  backend/apps/bff/src/handler/auth/login.rs
  backend/apps/core-service/src/error.rs
  backend/apps/core-service/src/usecase/workflow/command/decision/approve.rs
  backend/apps/core-service/src/usecase/workflow/command/decision/reject.rs
  backend/apps/core-service/src/usecase/workflow/command/decision/request_changes.rs
  backend/apps/core-service/src/usecase/workflow/command/lifecycle/create.rs
  backend/apps/core-service/src/usecase/workflow/command/lifecycle/resubmit.rs
  backend/apps/core-service/src/usecase/workflow/command/lifecycle/submit.rs
  backend/crates/shared/src/event_log.rs
  backend/crates/shared/src/lib.rs
  docs/06_ナレッジベース/backend/log-schema.md
  docs/07_実装解説/29_ビジネスイベントログ/01_ビジネスイベントログ_機能解説.md
  docs/07_実装解説/29_ビジネスイベントログ/02_ビジネスイベントログ_コード解説.md
  prompts/plans/657_business-event-log.md
  prompts/runs/2026-02/2026-02-18_2349_ビジネスイベントログとエラーコンテキスト実装.md
Due: rustfmt-check

#676 Organize scripts into functional subdirectories
  .github/workflows/check-rule-files.yaml
  .github/workflows/ci.yaml
  .github/workflows/deploy-demo.yaml
  .mcp.json
  docs/05_ADR/028_MCPサーバー導入（PostgreSQL）.md
  docs/06_ナレッジベース/devtools/Playwright.md
  docs/06_ナレッジベース/devtools/git_worktree.md
  docs/07_実装解説/03_並行開発環境/01_並行開発環境_機能解説.md
  docs/07_実装解説/03_並行開発環境/02_並行開発環境_コード解説.md
  docs/07_実装解説/03_並行開発環境/03_テスト環境worktree対応_機能解説.md
  docs/07_実装解説/03_並行開発環境/04_テスト環境worktree対応_コード解説.md
  justfile
  prompts/plans/agile-hugging-ritchie.md
  scripts/check/doc-links.sh
  scripts/check/file-size.sh
  scripts/check/fn-size.sh
  scripts/check/impl-docs.sh
  scripts/check/improvement-records.sh
  scripts/check/parallel.sh
  scripts/check/rule-files.sh
  scripts/env/generate.sh
  scripts/env/setup.sh
  scripts/test/reset-db.sh
  scripts/test/run-api.sh
  scripts/test/run-e2e.sh
  scripts/tools/deploy-lightsail.sh
  scripts/tools/dump-schema.sh
  scripts/tools/mcp-postgres.sh
  scripts/worktree/cleanup.sh
  scripts/worktree/create.sh
  scripts/worktree/issue.sh
  scripts/worktree/switch.sh
  tests/e2e/playwright.config.ts
Due: none

#676 Update scripts.md to reflect new directory structure
  .claude/rules/scripts.md
Due: none

#676 Add session log and rename plan file
  prompts/plans/676_organize-scripts-directory.md
  prompts/runs/2026-02/2026-02-19_2127_scriptsディレクトリ整理.md
Due: none

Path conditions:
  rustfmt-check: any of: *.rs
  elm-format-check: any of: *.elm
