Repository ka2kama/ringiflow: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt-check, elm-format-check

rustfmt-check:
  run: rustfmt +nightly --edition 2024 --check {staged_files}

elm-format-check:
  run: elm-format --validate {staged_files}

#1019 Remove unused imports and parameters from extracted modules
  frontend/src/Page/WorkflowDefinition/Designer/CanvasTransitions.elm
  frontend/src/Page/WorkflowDefinition/Designer/Update.elm
  frontend/src/Page/WorkflowDefinition/Designer/UpdatePersistence.elm
Due: elm-format-check

#1019 Extract persistence handlers to UpdatePersistence module
  frontend/src/Page/WorkflowDefinition/Designer/Update.elm
  frontend/src/Page/WorkflowDefinition/Designer/UpdatePersistence.elm
Due: elm-format-check

#1019 Remove split files from file-size exceptions list
  .config/file-size-exceptions.txt
Due: none

#1019 Update ADR-062 with additional split results and add plan file
  docs/70_ADR/062_大型ファイル分割計画2026-03.md
  prompts/plans/1019_split-update-canvas-modules.md
Due: none

#1019 Add session log for additional file splitting
  prompts/runs/2026-03/2026-03-04_2200_追加分割-Update-Canvas-NewUpdate.md
Due: none

#1019 Split oversized Update/Canvas modules below 500-line threshold (#1021)
  .config/file-size-exceptions.txt
  docs/70_ADR/062_大型ファイル分割計画2026-03.md
  frontend/src/Page/Workflow/New/Api.elm
  frontend/src/Page/Workflow/New/Update.elm
  frontend/src/Page/WorkflowDefinition/Designer/Canvas.elm
  frontend/src/Page/WorkflowDefinition/Designer/CanvasTransitions.elm
  frontend/src/Page/WorkflowDefinition/Designer/Update.elm
  frontend/src/Page/WorkflowDefinition/Designer/UpdatePersistence.elm
  prompts/plans/1019_split-update-canvas-modules.md
  prompts/runs/2026-03/2026-03-04_2200_追加分割-Update-Canvas-NewUpdate.md
Due: elm-format-check

#1024 Add error-time stop checklist improvement record (#1025)
  process/improvements/2026-03/2026-03-04_2227_エラー発生時に原因確認せず即座に対処を実行.md
Due: none

#1024 Add error-time stop checklist improvement record (#1028)
  .claude/rules/troubleshooting.md
  docs/80_ナレッジベース/methodology/独自フレームワークと既知手法の対応.md
  process/improvements/2026-03/2026-03-04_2227_エラー発生時に原因確認せず即座に対処を実行.md
Due: none

#1026 Add concrete SRP verification actions to quality gate
  .claude/rules/dev-flow-issue.md
  .claude/rules/zoom-rhythm.md
  docs/80_ナレッジベース/methodology/ISO25010.md
Due: none

#1026 Add implementation plan for SRP verification in quality gate
  prompts/plans/1026_srp-verification.md
Due: none

#1026 Fix bold formatting in numbered list items
  process/improvements/2026-03/2026-03-04_0204_SRP違反の検出がガードレールに依存している.md
Due: none

#1026 Add session log and update improvement record with verification
  process/improvements/2026-03/2026-03-04_0204_SRP違反の検出がガードレールに依存している.md
  prompts/plans/1026_srp-verification.md
  prompts/runs/2026-03/2026-03-04_2230_品質ゲートSRP検証行為追加.md
Due: none

#1026 Add concrete verification actions for SRP in quality gate (#1027)
  .claude/rules/dev-flow-issue.md
  .claude/rules/zoom-rhythm.md
  docs/80_ナレッジベース/methodology/ISO25010.md
  docs/80_ナレッジベース/methodology/独自フレームワークと既知手法の対応.md
  process/improvements/2026-03/2026-03-04_0204_SRP違反の検出がガードレールに依存している.md
  prompts/plans/1026_srp-verification.md
  prompts/runs/2026-03/2026-03-04_2230_品質ゲートSRP検証行為追加.md
Due: none

#1029 Add CredentialsRepository integration tests
  backend/crates/infra/tests/credentials_repository_test.rs
  prompts/plans/1029_credentials-repository-test-assessment.md
Due: rustfmt-check

#1029 Add session log for CredentialsRepository test assessment
  prompts/runs/2026-03/2026-03-04_2220_CredentialsRepositoryテスト充足性評価.md
Due: none

#1029 Assess CredentialsRepository test sufficiency (#1030)
  .claude/settings.json
  backend/crates/infra/tests/credentials_repository_test.rs
  prompts/plans/1029_credentials-repository-test-assessment.md
  prompts/runs/2026-03/2026-03-04_2220_CredentialsRepositoryテスト充足性評価.md
Due: rustfmt-check

#884 Implement file attachment for workflow applications (#1031)
  .config/file-size-exceptions.txt
  backend/crates/domain/src/document.rs
  backend/crates/domain/src/workflow/definition_validator.rs
  docs/90_実装解説/PR1031_ワークフローファイル添付/01_ファイル添付_コード解説.md
  docs/90_実装解説/PR1031_ワークフローファイル添付/01_ファイル添付_機能解説.md
  frontend/elm.json
  frontend/src/Api/Document.elm
  frontend/src/Component/FileUpload.elm
  frontend/src/Data/Document.elm
  frontend/src/Data/FormField.elm
  frontend/src/Form/DynamicForm.elm
  frontend/src/Form/Validation.elm
  frontend/src/Main.elm
  frontend/src/Page/Workflow/Detail.elm
  frontend/src/Page/Workflow/Detail/Types.elm
  frontend/src/Page/Workflow/New.elm
  frontend/src/Page/Workflow/New/FormView.elm
  frontend/src/Page/Workflow/New/Types.elm
  frontend/src/Page/Workflow/New/Update.elm
  frontend/src/Ports.elm
  frontend/src/Util/Format.elm
  frontend/src/main.js
  frontend/tests/Component/FileUploadTest.elm
  frontend/tests/Data/DocumentTest.elm
  frontend/tests/Data/FormFieldTest.elm
  frontend/tests/Form/ValidationTest.elm
  prompts/plans/884_workflow-file-attachment.md
  prompts/runs/2026-03/2026-03-04_2117_ワークフロー申請ファイル添付実装.md
Due: rustfmt-check, elm-format-check

Relax session log sanitization to preserve user feedback content (#1034)
  .claude/rules/docs.md
  prompts/runs/README.md
Due: none

#1032 Resolve same-name file collision with counter-based unique ID
  frontend/src/Component/FileUpload.elm
  frontend/tests/Component/FileUploadTest.elm
Due: elm-format-check

#1032 Add implementation plan for FileUpload unique ID
  prompts/plans/1032_fileupload-unique-id.md
Due: none

#1032 Resolve same-name file collision in FileUpload component (#1033)
  frontend/src/Component/FileUpload.elm
  frontend/tests/Component/FileUploadTest.elm
  prompts/plans/1032_fileupload-unique-id.md
Due: elm-format-check

Add inappropriate content filter to session log sanitization rules
  prompts/runs/README.md
Due: none

Add inappropriate content filter to session log sanitization (#1035)
  .claude/rules/docs.md
  prompts/runs/README.md
Due: none

#1036 Add PR review section to known methodology mapping
  docs/80_ナレッジベース/methodology/独自フレームワークと既知手法の対応.md
Due: none

#1036 Update review approval criteria for Rules Check severity tiers (ADR-063)
  .claude/rules/dev-flow-issue.md
  CLAUDE.md
Due: none

#1036 Redesign Rules Check severity model (ADR-063)
  .github/workflows/claude-rules-check.yaml
Due: none

#1036 Restructure Verification review aspects based on best practices (ADR-063)
  .github/workflows/claude-auto-review.yaml
Due: none

#1036 Add ADR-063: PR review prompt redesign based on best practices
  docs/70_ADR/063_PRレビュープロンプトのベストプラクティス起点再設計.md
Due: none

#1036 Add implementation plan for PR review redesign
  prompts/plans/1036_pr-review-best-practices.md
Due: none

#1024 Add improvement record for rushing to fix without investigation
  process/improvements/2026-03/2026-03-04_2227_エラー発生時に原因確認せず即座に対処を実行.md
Due: none

#1024 Add known methods section to improvement record
  process/improvements/2026-03/2026-03-04_2227_エラー発生時に原因確認せず即座に対処を実行.md
Due: none

#1024 Add error-time stop checklist (Step 0) to troubleshooting.md
  .claude/rules/troubleshooting.md
  docs/80_ナレッジベース/methodology/独自フレームワークと既知手法の対応.md
  process/improvements/2026-03/2026-03-04_2227_エラー発生時に原因確認せず即座に対処を実行.md
Due: none

Relax session log sanitization to preserve user feedback content
  .claude/rules/docs.md
  prompts/runs/README.md
Due: none

Path conditions:
  rustfmt-check: any of: *.rs
  elm-format-check: any of: *.elm
