Repository ka2kama/ringiflow: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt-check, elm-format-check

lefthook.yaml:

# lefthook 設定
# インストール: https://github.com/evilmartians/lefthook

# コミット前のチェック（ブランチ保護 + フォーマット + 拡張子）
pre-commit:
  parallel: true
  commands:
    no-main-commit:
      # main ブランチへの直接コミットを禁止
      run: |
        BRANCH=$(git symbolic-ref --short HEAD 2>/dev/null)
        if [ "$BRANCH" = "main" ]; then
          echo "Error: main ブランチへの直接コミットは禁止されています。ブランチを作成してください。"
          exit 1
        fi
    no-yml-extension:
      # .yml ファイルの追加を禁止（.yaml を使用すること）
      # .gitignore 内の参照は許可
      run: |
        files=$(git diff --cached --name-only --diff-filter=A | grep '\.yml$' || true)
        if [ -n "$files" ]; then
          echo "Error: .yml 拡張子は使用できません。.yaml を使用してください。"
          echo "該当ファイル:"
          echo "$files"
          exit 1
        fi
    rustfmt-check:
      glob: "*.rs"
      run: rustfmt +nightly --edition 2024 --check {staged_files}
    elm-format-check:
      glob: "*.elm"
      run: elm-format --validate {staged_files}

# プッシュ前のチェック（lint + unit test、DB 不要）
pre-push:
  commands:
    check-pre-push:
      run: just check-pre-push

# コミットメッセージ作成時に Issue 番号を自動付与
prepare-commit-msg:
  scripts:
    "add-issue-number.sh":
      runner: bash
    "add-model-to-attribution.sh":
      runner: bash

# コミット時刻を夜の時間帯に正規化（生活パターンの推測を抑制）
post-commit:
  scripts:
    "normalize-time.sh":
      runner: bash

#1008 Add 20_機能仕様書 to README directory structure and doc table
  README.ja.md
  README.md
Due: none

#997 Add Step 7 (auto design phase transition) to /start skill
  .claude/skills/start/SKILL.md
  process/improvements/2026-02/2026-02-26_2130_start完了後に毎回停止して作業を継続しない.md
Due: none

#992 Update roadmap Phase 2-2~2-4 completion criteria and fix ADR-047 duplication
  docs/20_機能仕様書/04_ワークフローデザイナー.md
  docs/40_詳細設計書/00_実装ロードマップ.md
  docs/40_詳細設計書/15_ワークフローデザイナー設計.md
  docs/70_ADR/061_Elm-OpenAPIクライアント自動生成の見送り.md
  prompts/runs/2026-02/2026-02-15_1140_ElmOpenAPIクライアント生成ツール評価.md
Due: none

#1006 Add session log for instance.rs module split
  prompts/runs/2026-03/2026-03-02_2117_instance-rsモジュール分割.md
Due: none

#997 Fix step number range in auto-execution principle
  .claude/skills/start/SKILL.md
Due: none

#990 Add weekly retrospective report (2026-03-02)
  process/reports/2026-03-02_2300_レトロスペクティブ.md
Due: none

#1006 Add doctests and doc links to instance submodules
  backend/crates/domain/src/workflow/instance/record.rs
  backend/crates/domain/src/workflow/instance/state.rs
  backend/crates/domain/src/workflow/instance/transitions.rs
Due: rustfmt-check

#990 Fix typo in retrospective report: 即座の対策 ±0pt → -5pt
  process/reports/2026-03-02_2300_レトロスペクティブ.md
Due: none

#1004 Split Designer.elm into 7 modules (#1013)
  .config/baselines.env
  docs/70_ADR/062_大型ファイル分割計画2026-03.md
  docs/90_実装解説/PR1013_Designer-elm分割/01_Designer-elm分割_コード解説.md
  docs/90_実装解説/PR1013_Designer-elm分割/01_Designer-elm分割_機能解説.md
  frontend/src/Main.elm
  frontend/src/Page/WorkflowDefinition/Designer.elm
  frontend/src/Page/WorkflowDefinition/Designer/Canvas.elm
  frontend/src/Page/WorkflowDefinition/Designer/Palette.elm
  frontend/src/Page/WorkflowDefinition/Designer/PropertyPanel.elm
  frontend/src/Page/WorkflowDefinition/Designer/Toolbar.elm
  frontend/src/Page/WorkflowDefinition/Designer/Types.elm
  frontend/src/Page/WorkflowDefinition/Designer/Update.elm
  frontend/tests/Page/WorkflowDefinition/DesignerTest.elm
  prompts/plans/1004_split-designer-elm.md
  prompts/runs/2026-03/2026-03-02_2200_Designer-elm分割実装.md
Due: elm-format-check

#1004 Address review comments: add 500-line exception docs, fix getAt consistency
  docs/70_ADR/062_大型ファイル分割計画2026-03.md
  frontend/src/Page/WorkflowDefinition/Designer/Canvas.elm
  frontend/src/Page/WorkflowDefinition/Designer/Types.elm
  frontend/src/Page/WorkflowDefinition/Designer/Update.elm
Due: elm-format-check

#1004 Remove bold formatting from template labels in explanation docs
  docs/90_実装解説/PR1013_Designer-elm分割/01_Designer-elm分割_機能解説.md
Due: none

#1005 Add implementation plan for Detail.elm split
  prompts/plans/1005_split-detail-elm.md
Due: none

#1005 Split Detail.elm into 6 sub-modules
  frontend/src/Main.elm
  frontend/src/Page/Workflow/Detail.elm
  frontend/src/Page/Workflow/Detail/Approval.elm
  frontend/src/Page/Workflow/Detail/Comments.elm
  frontend/src/Page/Workflow/Detail/Resubmit.elm
  frontend/src/Page/Workflow/Detail/StepProgress.elm
  frontend/src/Page/Workflow/Detail/Types.elm
Due: elm-format-check

#1005 Split Detail.elm into 6 sub-modules (#1016)
  frontend/src/Main.elm
  frontend/src/Page/Workflow/Detail.elm
  frontend/src/Page/Workflow/Detail/Approval.elm
  frontend/src/Page/Workflow/Detail/Comments.elm
  frontend/src/Page/Workflow/Detail/Resubmit.elm
  frontend/src/Page/Workflow/Detail/StepProgress.elm
  frontend/src/Page/Workflow/Detail/Types.elm
  prompts/plans/1005_split-detail-elm.md
  prompts/runs/2026-03/2026-03-02_2120_Detail-elm分割実装.md
Due: elm-format-check

#1007 Split New.elm into 4 sub-modules (#1018)
  docs/70_ADR/062_大型ファイル分割計画2026-03.md
  docs/90_実装解説/PR1018_New-elm分割/01_New-elm分割_コード解説.md
  docs/90_実装解説/PR1018_New-elm分割/01_New-elm分割_機能解説.md
  frontend/src/Main.elm
  frontend/src/Page/Workflow/New.elm
  frontend/src/Page/Workflow/New/FormView.elm
  frontend/src/Page/Workflow/New/Types.elm
  frontend/src/Page/Workflow/New/Update.elm
  frontend/tests/Page/Workflow/NewTest.elm
  prompts/runs/2026-03/2026-03-03_2200_New-elm分割実装.md
Due: elm-format-check

#1017 Add implementation plan for file size exception list
  prompts/plans/1017_file-size-exception-list.md
Due: none

#1017 Migrate file size check from count ratchet to exception list
  .claude/rules/structural-review.md
  .config/baselines.env
  .config/file-size-exceptions.txt
  lefthook.yaml
  scripts/check/file-size.sh
Due: none

#1007 Add New/Types.elm with shared type definitions
  frontend/src/Page/Workflow/New/Types.elm
Due: elm-format-check

#1005 Add session log for Detail.elm split
  prompts/runs/2026-03/2026-03-02_2120_Detail-elm分割実装.md
Due: none

#1017 Add session log for file size exception list migration
  prompts/runs/2026-03/2026-03-03_2230_ファイルサイズ例外リスト方式移行.md
Due: none

#1007 Add New/Update.elm with update logic
  frontend/src/Page/Workflow/New/Update.elm
Due: elm-format-check

#1005 Fix line counts in session log (457→456, 168→167)
  prompts/runs/2026-03/2026-03-02_2120_Detail-elm分割実装.md
Due: none

#1007 Add New/FormView.elm with form view functions
  frontend/src/Page/Workflow/New/FormView.elm
Due: elm-format-check

#1007 Refactor New.elm as orchestrator and update callers
  frontend/src/Main.elm
  frontend/src/Page/Workflow/New.elm
  frontend/tests/Page/Workflow/NewTest.elm
Due: elm-format-check

#1007 Fix elm-review lint errors in FormView.elm and Update.elm
  frontend/src/Page/Workflow/New/FormView.elm
  frontend/src/Page/Workflow/New/Update.elm
Due: elm-format-check

#1007 Update ADR-062 with New.elm split results and add session log
  docs/70_ADR/062_大型ファイル分割計画2026-03.md
  prompts/runs/2026-03/2026-03-03_2200_New-elm分割実装.md
Due: none

#1007 Add explanation docs for New.elm split
  docs/90_実装解説/PR1018_New-elm分割/01_New-elm分割_コード解説.md
  docs/90_実装解説/PR1018_New-elm分割/01_New-elm分割_機能解説.md
Due: none

#1007 Fix line numbers and field count in code explanation docs
  docs/90_実装解説/PR1018_New-elm分割/01_New-elm分割_コード解説.md
Due: none

#1017 Migrate file size check from count ratchet to exception list (#1020)
  .claude/rules/structural-review.md
  .config/baselines.env
  .config/file-size-exceptions.txt
  lefthook.yaml
  prompts/plans/1017_file-size-exception-list.md
  prompts/runs/2026-03/2026-03-03_2230_ファイルサイズ例外リスト方式移行.md
  scripts/check/file-size.sh
Due: none

Add mandatory context section to plan files (#1022)
  .claude/rules/dev-flow-issue.md
  .claude/rules/zoom-rhythm.md
  prompts/plans/20260304_plan-file-context-section.md
  prompts/plans/README.md
Due: none

Support plan files without Issue in context section (#1023)
  .claude/rules/zoom-rhythm.md
Due: none

#1019 Extract transition rendering to CanvasTransitions module
  frontend/src/Page/WorkflowDefinition/Designer/Canvas.elm
  frontend/src/Page/WorkflowDefinition/Designer/CanvasTransitions.elm
Due: elm-format-check

#1019 Extract API functions from New/Update.elm into New/Api.elm
  frontend/src/Page/Workflow/New/Api.elm
  frontend/src/Page/Workflow/New/Update.elm
Due: elm-format-check
