Repository ka2kama/ringiflow: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt-check, elm-format-check

lefthook.yaml:

# lefthook 設定
# インストール: https://github.com/evilmartians/lefthook

# コミット前のチェック（ブランチ保護 + フォーマット + 拡張子）
pre-commit:
  parallel: true
  commands:
    no-main-commit:
      # main ブランチへの直接コミットを禁止
      run: |
        BRANCH=$(git symbolic-ref --short HEAD 2>/dev/null)
        if [ "$BRANCH" = "main" ]; then
          echo "Error: main ブランチへの直接コミットは禁止されています。ブランチを作成してください。"
          exit 1
        fi
    no-yml-extension:
      # .yml ファイルの追加を禁止（.yaml を使用すること）
      # .gitignore 内の参照は許可
      run: |
        files=$(git diff --cached --name-only --diff-filter=A | grep '\.yml$' || true)
        if [ -n "$files" ]; then
          echo "Error: .yml 拡張子は使用できません。.yaml を使用してください。"
          echo "該当ファイル:"
          echo "$files"
          exit 1
        fi
    rustfmt-check:
      glob: "*.rs"
      run: rustfmt +nightly --edition 2024 --check {staged_files}
    elm-format-check:
      glob: "*.elm"
      run: elm-format --validate {staged_files}

# プッシュ前のチェック（lint + unit test、DB 不要）
pre-push:
  commands:
    check-pre-push:
      run: just check-pre-push

# コミットメッセージ作成時に Issue 番号を自動付与
prepare-commit-msg:
  scripts:
    "add-issue-number.sh":
      runner: bash
    "add-model-to-attribution.sh":
      runner: bash

# コミット時刻を夜の時間帯に正規化（生活パターンの推測を抑制）
post-commit:
  scripts:
    "normalize-time.sh":
      runner: bash

#736 Address review feedback: add instrumentation and error logging
  backend/apps/auth-service/src/handler/health.rs
  backend/apps/bff/src/handler/health.rs
  backend/apps/core-service/src/handler/health.rs
  docs/07_実装解説/PR737_ReadinessCheck/01_ReadinessCheck_機能解説.md
Due: rustfmt-check

#763 Add structural countermeasures for test responsibility gaps in Epic decomposition (#764)
  .claude/rules/zoom-rhythm.md
  .claude/settings.json
  docs/04_手順書/04_開発フロー/01_Issue駆動開発.md
  process/improvements/2026-02/2026-02-21_1700_子Issue分割実装時のUI操作テスト欠落.md
  process/improvements/2026-02/2026-02-21_1700_子Issue分割実装時の操作パス検証欠落.md
  prompts/plans/751_issue-epic-state-automation.md
  prompts/runs/2026-02/2026-02-21_2116_テスト責任マッピング構造的対策.md
  prompts/runs/2026-02/2026-02-21_2129_デザイナー検証公開ボタン修正.md
Due: none

Update isAdmin test to use tenant_admin role
  frontend/tests/SharedTest.elm
Due: elm-format-check

#749 Replace Self-review checkboxes with verification report format
  .claude/rules/zoom-rhythm.md
  .github/pull_request_template.md
  docs/04_手順書/04_開発フロー/01_Issue駆動開発.md
Due: none

Add session log for isAdmin role check fix
  prompts/runs/2026-02/2026-02-21_2128_isAdmin_ロールチェック修正.md
Due: none

#765 Fix worktree-remove to clean up Docker bind mount directories
  justfile
Due: none

#727 Force recompile on migration directory changes
  backend/crates/infra/build.rs
Due: rustfmt-check

#765 Introduce operation-path-based test design methodology
  .claude/rules/zoom-rhythm.md
  docs/04_手順書/04_開発フロー/01_Issue駆動開発.md
  docs/04_手順書/04_開発フロー/02_TDD開発フロー.md
  docs/06_ナレッジベース/methodology/独自フレームワークと既知手法の対応.md
  process/improvements/2026-02/2026-02-21_1700_子Issue分割実装時の操作パス検証欠落.md
Due: none

#765 Add plan file for operation-path-based test design
  prompts/plans/wild-squishing-origami.md
Due: none

#765 Re-add plan file check step to quality gate flow
  docs/04_手順書/04_開発フロー/01_Issue駆動開発.md
  process/improvements/2026-02/2026-02-16_2301_planモード後のコンテキスト喪失による計画ファイルのコミット漏れ.md
Due: none

#765 Add improvement record for countermeasure regression during doc refactoring
  process/improvements/2026-02/2026-02-21_2152_ドキュメント再構成時の改善対策デグレ.md
Due: none

#765 Add session log and rename plan file
  prompts/plans/765_operation-path-based-test-design.md
  prompts/runs/2026-02/2026-02-21_2152_操作パス起点テスト設計の導入.md
Due: none

#765 Add operation path sections to plan file (rules check fix)
  prompts/plans/765_operation-path-based-test-design.md
Due: none

#765 Introduce operation-path-based test design (#766)
  .claude/rules/zoom-rhythm.md
  docs/04_手順書/04_開発フロー/01_Issue駆動開発.md
  docs/04_手順書/04_開発フロー/02_TDD開発フロー.md
  docs/06_ナレッジベース/methodology/独自フレームワークと既知手法の対応.md
  justfile
  process/improvements/2026-02/2026-02-16_2301_planモード後のコンテキスト喪失による計画ファイルのコミット漏れ.md
  process/improvements/2026-02/2026-02-21_1700_子Issue分割実装時の操作パス検証欠落.md
  process/improvements/2026-02/2026-02-21_2152_ドキュメント再構成時の改善対策デグレ.md
  prompts/plans/765_operation-path-based-test-design.md
  prompts/runs/2026-02/2026-02-21_2152_操作パス起点テスト設計の導入.md
Due: none

Fix Mermaid syntax errors across documentation
  docs/01_要件定義書/機能仕様書/04_ワークフローデザイナー.md
  docs/06_ナレッジベース/elm/Elmルーティング.md
  docs/07_実装解説/PR114_ワークフロー申請機能/01_ワークフロー申請_機能解説.md
  docs/07_実装解説/PR166_ダッシュボード/01_ダッシュボード_機能解説.md
  docs/07_実装解説/PR166_ダッシュボード/02_ダッシュボード_コード解説.md
  docs/07_実装解説/PR228_ドメインモデル非決定的値排除/01_ドメインモデル非決定的値排除_機能解説.md
  docs/07_実装解説/PR254_ユーザー検索UI/01_ユーザー検索UI_機能解説.md
  docs/07_実装解説/PR254_ユーザー検索UI/02_ユーザー検索UI_コード解説.md
  docs/07_実装解説/PR413_マルチテナントRLS/03_コネクション管理_機能解説.md
  docs/07_実装解説/PR466_削除レジストリ基盤/01_削除レジストリ基盤_機能解説.md
  docs/07_実装解説/PR46_認証機能/01_認証機能_機能解説.md
  docs/07_実装解説/PR479_多段階承認/01_多段階承認_機能解説.md
  docs/07_実装解説/PR487_コメント機能/01_ワークフローコメント_コード解説.md
  docs/07_実装解説/PR487_コメント機能/01_ワークフローコメント_機能解説.md
  docs/07_実装解説/PR488_差し戻し再申請/01_差し戻し再申請_コード解説.md
Due: none

Fix Mermaid syntax errors across documentation (#768)
  docs/01_要件定義書/機能仕様書/04_ワークフローデザイナー.md
  docs/06_ナレッジベース/elm/Elmルーティング.md
  docs/07_実装解説/PR114_ワークフロー申請機能/01_ワークフロー申請_機能解説.md
  docs/07_実装解説/PR166_ダッシュボード/01_ダッシュボード_機能解説.md
  docs/07_実装解説/PR166_ダッシュボード/02_ダッシュボード_コード解説.md
  docs/07_実装解説/PR228_ドメインモデル非決定的値排除/01_ドメインモデル非決定的値排除_機能解説.md
  docs/07_実装解説/PR254_ユーザー検索UI/01_ユーザー検索UI_機能解説.md
  docs/07_実装解説/PR254_ユーザー検索UI/02_ユーザー検索UI_コード解説.md
  docs/07_実装解説/PR413_マルチテナントRLS/03_コネクション管理_機能解説.md
  docs/07_実装解説/PR466_削除レジストリ基盤/01_削除レジストリ基盤_機能解説.md
  docs/07_実装解説/PR46_認証機能/01_認証機能_機能解説.md
  docs/07_実装解説/PR479_多段階承認/01_多段階承認_機能解説.md
  docs/07_実装解説/PR487_コメント機能/01_ワークフローコメント_コード解説.md
  docs/07_実装解説/PR487_コメント機能/01_ワークフローコメント_機能解説.md
  docs/07_実装解説/PR488_差し戻し再申請/01_差し戻し再申請_コード解説.md
Due: none

#769 Fix user create/edit form role_name field mismatch (#769)
  frontend/src/Page/User/Edit.elm
  frontend/src/Page/User/New.elm
Due: elm-format-check

#769 Add session log for role_name field mismatch fix
  prompts/runs/2026-02/2026-02-21_2306_ユーザーフォームrole_nameフィールド不一致修正.md
Due: none

Fix user create/edit form role field mismatch (#770)
  frontend/src/Page/User/Edit.elm
  frontend/src/Page/User/New.elm
  prompts/runs/2026-02/2026-02-21_2306_ユーザーフォームrole_nameフィールド不一致修正.md
Due: elm-format-check

#769 Change user create/edit API to role_id based (#771)
  backend/.sqlx/query-b80ec020165888894ef86b3dfdd6160a0d4b6f65dafcefacee830597e9677157.json
  backend/apps/bff/src/client/core_service/types.rs
  backend/apps/bff/src/handler/user.rs
  backend/apps/bff/tests/snapshots/openapi_spec__openapi_spec.snap
  backend/apps/core-service/src/handler/auth/mod.rs
  backend/apps/core-service/src/handler/auth/tests.rs
  backend/apps/core-service/src/usecase/user.rs
  backend/crates/infra/src/mock.rs
  backend/crates/infra/src/repository/user_repository.rs
  backend/crates/infra/tests/user_repository_test.rs
  docs/07_実装解説/PR771_ユーザーAPI_role_id化/01_role_id化_コード解説.md
  docs/07_実装解説/PR771_ユーザーAPI_role_id化/01_role_id化_機能解説.md
  frontend/src/Page/User/Edit.elm
  frontend/src/Page/User/New.elm
  openapi/openapi.yaml
  process/improvements/2026-02/2026-02-22_2108_auto_memoryへの対策記録.md
  process/improvements/2026-02/2026-02-22_2108_生成物の直接編集.md
  prompts/plans/769_user-api-role-id-based.md
  prompts/runs/2026-02/2026-02-22_2108_role_id_based_user_api.md
Due: rustfmt-check, elm-format-check

Add user management API tests (#776) (#782)
  prompts/plans/776_user-management-api-tests.md
  prompts/runs/2026-02/2026-02-22_2112_ユーザー管理APIテスト追加.md
  tests/api/hurl/user/create_user.hurl
  tests/api/hurl/user/get_user_detail.hurl
  tests/api/hurl/user/update_user.hurl
  tests/api/hurl/user/update_user_status.hurl
  tests/api/hurl/vars.env
Due: none

#775 Sync API test coverage table with OpenAPI spec (37 endpoints)
  docs/08_テスト/APIテスト突合表.md
Due: none

Sync API test coverage table with OpenAPI spec (37 endpoints) (#781)
  docs/08_テスト/APIテスト突合表.md
Due: none

Add role management API tests (#783)
  docs/08_テスト/APIテスト突合表.md
  prompts/runs/2026-02/2026-02-22_2124_ロール管理APIテスト.md
  tests/api/hurl/role/create_role.hurl
  tests/api/hurl/role/delete_role.hurl
  tests/api/hurl/role/get_role.hurl
  tests/api/hurl/role/list_roles.hurl
  tests/api/hurl/role/update_role.hurl
Due: none

Make user list rows fully clickable for navigation (#785)
  frontend/src/Page/User/List.elm
Due: elm-format-check

Scale up workflow designer canvas elements for better readability
  frontend/src/Data/DesignerCanvas.elm
  frontend/src/Page/WorkflowDefinition/Designer.elm
Due: elm-format-check

Update tests for new canvas dimensions
  frontend/tests/Data/DesignerCanvasTest.elm
  frontend/tests/Page/WorkflowDefinition/DesignerTest.elm
Due: elm-format-check

Scale up workflow designer canvas elements (#786)
  frontend/src/Data/DesignerCanvas.elm
  frontend/src/Page/WorkflowDefinition/Designer.elm
  frontend/tests/Data/DesignerCanvasTest.elm
  frontend/tests/Page/WorkflowDefinition/DesignerTest.elm
Due: elm-format-check

#778 Add workflow definition write API tests (6 endpoints)
  docs/08_テスト/APIテスト突合表.md
  tests/api/hurl/workflow_definition/archive_definition.hurl
  tests/api/hurl/workflow_definition/create_definition.hurl
  tests/api/hurl/workflow_definition/delete_definition.hurl
  tests/api/hurl/workflow_definition/list_workflow_definitions.hurl
  tests/api/hurl/workflow_definition/publish_definition.hurl
  tests/api/hurl/workflow_definition/update_definition.hurl
  tests/api/hurl/workflow_definition/validate_definition.hurl
Due: none

#778 Add session log and rename plan file
  prompts/plans/778_workflow-definition-write-api-tests.md
  prompts/runs/2026-02/2026-02-22_2115_ワークフロー定義書込系APIテスト.md
Due: none

#778 Fix isString assertion to use strict equality
  tests/api/hurl/workflow_definition/validate_definition.hurl
Due: none

#778 Add workflow definition write API tests (#784)
  docs/08_テスト/APIテスト突合表.md
  prompts/plans/778_workflow-definition-write-api-tests.md
  prompts/runs/2026-02/2026-02-22_2115_ワークフロー定義書込系APIテスト.md
  tests/api/hurl/workflow_definition/archive_definition.hurl
  tests/api/hurl/workflow_definition/create_definition.hurl
  tests/api/hurl/workflow_definition/delete_definition.hurl
  tests/api/hurl/workflow_definition/list_workflow_definitions.hurl
  tests/api/hurl/workflow_definition/publish_definition.hurl
  tests/api/hurl/workflow_definition/update_definition.hurl
  tests/api/hurl/workflow_definition/validate_definition.hurl
Due: none

#772 Disable auto memory via settings.json (#789)
  .claude/settings.json
  process/improvements/2026-02/2026-02-22_2112_既存ルールのチェックボックス検証を実行しなかった.md
  prompts/runs/2026-02/2026-02-22_2112_778レビューマージと772着手.md
Due: none

#787 Add node delete button and drag boundary constraints
  .claude/settings.json
  frontend/src/Data/DesignerCanvas.elm
  frontend/src/Page/WorkflowDefinition/Designer.elm
  frontend/tests/Data/DesignerCanvasTest.elm
  frontend/tests/Page/WorkflowDefinition/DesignerTest.elm
  prompts/plans/787_node-delete-and-drag-bounds.md
  prompts/runs/2026-02/2026-02-22_2105_デザイナーノード削除UIとドラッグ境界制約.md
Due: elm-format-check

#787 Add node delete UI and drag boundary constraints (#788)
  .claude/settings.json
  frontend/src/Data/DesignerCanvas.elm
  frontend/src/Page/WorkflowDefinition/Designer.elm
  frontend/tests/Data/DesignerCanvasTest.elm
  frontend/tests/Page/WorkflowDefinition/DesignerTest.elm
  prompts/plans/787_node-delete-and-drag-bounds.md
  prompts/runs/2026-02/2026-02-22_2105_デザイナーノード削除UIとドラッグ境界制約.md
Due: elm-format-check
