Repository ka2kama/ringiflow: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt-check, elm-format-check

lefthook.yaml:

# lefthook 設定
# インストール: https://github.com/evilmartians/lefthook

# コミット前のチェック（ブランチ保護 + フォーマット + 拡張子）
pre-commit:
  parallel: true
  commands:
    no-main-commit:
      # main ブランチへの直接コミットを禁止
      run: |
        BRANCH=$(git symbolic-ref --short HEAD 2>/dev/null)
        if [ "$BRANCH" = "main" ]; then
          echo "Error: main ブランチへの直接コミットは禁止されています。ブランチを作成してください。"
          exit 1
        fi
    no-yml-extension:
      # .yml ファイルの追加を禁止（.yaml を使用すること）
      # .gitignore 内の参照は許可
      run: |
        files=$(git diff --cached --name-only --diff-filter=A | grep '\.yml$' || true)
        if [ -n "$files" ]; then
          echo "Error: .yml 拡張子は使用できません。.yaml を使用してください。"
          echo "該当ファイル:"
          echo "$files"
          exit 1
        fi
    rustfmt-check:
      glob: "*.rs"
      run: rustfmt +nightly --edition 2024 --check {staged_files}
    elm-format-check:
      glob: "*.elm"
      run: elm-format --validate {staged_files}

# プッシュ前のチェック（lint + unit test、DB 不要）
pre-push:
  commands:
    check-pre-push:
      run: just check-pre-push

# コミットメッセージ作成時に Issue 番号を自動付与
prepare-commit-msg:
  scripts:
    "add-issue-number.sh":
      runner: bash
    "add-model-to-attribution.sh":
      runner: bash

# コミット時刻を夜の時間帯に正規化（生活パターンの推測を抑制）
post-commit:
  scripts:
    "normalize-time.sh":
      runner: bash

#769 Remove findRoleIdByName and use role name directly
  frontend/src/Page/User/Edit.elm
Due: elm-format-check

#772 Disable auto memory via settings.json
  .claude/settings.json
Due: none

#776 Add user management API tests (4 endpoints)
  prompts/plans/velvet-seeking-gadget.md
  tests/api/hurl/user/create_user.hurl
  tests/api/hurl/user/get_user_detail.hurl
  tests/api/hurl/user/update_user.hurl
  tests/api/hurl/user/update_user_status.hurl
  tests/api/hurl/vars.env
Due: none

#776 Add session log and rename plan file for #776
  prompts/plans/776_user-management-api-tests.md
  prompts/runs/2026-02/2026-02-22_2112_ユーザー管理APIテスト追加.md
Due: none

#769 Change user create/edit API from role_name to role_id based
  backend/.sqlx/query-b80ec020165888894ef86b3dfdd6160a0d4b6f65dafcefacee830597e9677157.json
  backend/apps/bff/src/client/core_service/types.rs
  backend/apps/bff/src/handler/user.rs
  backend/apps/bff/tests/snapshots/openapi_spec__openapi_spec.snap
  backend/apps/core-service/src/handler/auth/mod.rs
  backend/apps/core-service/src/handler/auth/tests.rs
  backend/apps/core-service/src/usecase/user.rs
  backend/crates/infra/src/mock.rs
  backend/crates/infra/src/repository/user_repository.rs
  backend/crates/infra/tests/user_repository_test.rs
  frontend/src/Page/User/Edit.elm
  frontend/src/Page/User/New.elm
  openapi/openapi.yaml
  prompts/plans/typed-brewing-otter.md
Due: rustfmt-check, elm-format-check

#769 Add wrap-up docs for #769 role_id based user API
  docs/07_実装解説/PR771_ユーザーAPI_role_id化/01_role_id化_コード解説.md
  docs/07_実装解説/PR771_ユーザーAPI_role_id化/01_role_id化_機能解説.md
  process/improvements/2026-02/2026-02-22_2108_auto_memoryへの対策記録.md
  process/improvements/2026-02/2026-02-22_2108_生成物の直接編集.md
  prompts/plans/769_user-api-role-id-based.md
  prompts/runs/2026-02/2026-02-22_2108_role_id_based_user_api.md
Due: none

#772 Add session log and improvement record
  process/improvements/2026-02/2026-02-22_2112_既存ルールのチェックボックス検証を実行しなかった.md
  prompts/runs/2026-02/2026-02-22_2112_778レビューマージと772着手.md
Due: none

#777 Add role management API tests (5 endpoints)
  docs/08_テスト/APIテスト突合表.md
  tests/api/hurl/role/create_role.hurl
  tests/api/hurl/role/delete_role.hurl
  tests/api/hurl/role/get_role.hurl
  tests/api/hurl/role/list_roles.hurl
  tests/api/hurl/role/update_role.hurl
Due: none

Make user list rows fully clickable for navigation
  frontend/src/Page/User/List.elm
Due: elm-format-check

#776 Add missing plan file sections (brushup loop + convergence check)
  prompts/plans/776_user-management-api-tests.md
Due: none

#775 Update coverage table with user management API tests (#776)
  docs/08_テスト/APIテスト突合表.md
Due: none

Add doc comment explaining clickable row pattern
  frontend/src/Page/User/List.elm
Due: elm-format-check

#772 Add issue tracking for checkbox verification improvement
  process/improvements/2026-02/2026-02-22_2112_既存ルールのチェックボックス検証を実行しなかった.md
Due: none

#777 Add session log for ロール管理APIテスト
  prompts/runs/2026-02/2026-02-22_2124_ロール管理APIテスト.md
Due: none

Fix DevAuth session TTL expiry in demo environment (#792)
  backend/apps/bff/src/dev_auth.rs
  backend/apps/bff/src/main.rs
  prompts/runs/2026-02/2026-02-23_2111_DevAuthセッションTTL更新.md
Due: rustfmt-check

#793 Fix initial node drag in workflow designer (#794)
  frontend/src/Page/WorkflowDefinition/Designer.elm
  prompts/runs/2026-02/2026-02-23_2111_デザイナー初期ドラッグ不可バグ修正.md
Due: elm-format-check

#795 Add ADR-054 and enforce ADT state machine pattern (#798)
  .claude/rules/pre-implementation.md
  .claude/rules/zoom-rhythm.md
  .github/workflows/claude-auto-review.yaml
  docs/04_手順書/04_開発フロー/02_TDD開発フロー.md
  docs/05_ADR/054_ADTベース状態マシンパターンの標準化.md
  prompts/runs/2026-02/2026-02-23_2114_ADTベース状態マシン標準化.md
Due: none

Fix Mermaid parse errors caused by escaped quotes in node labels
  docs/07_実装解説/PR310_テナント情報取得/02_テナント情報取得_コード解説.md
  docs/07_実装解説/PR658_ログ初期化共通化/01_ログ初期化共通化_コード解説.md
  docs/07_実装解説/PR658_ログ初期化共通化/01_ログ初期化共通化_機能解説.md
  docs/07_実装解説/PR668_PIIマスキング基盤/01_PIIマスキング_機能解説.md
Due: none

Fix Mermaid parse errors in implementation docs (#800)
  docs/07_実装解説/PR310_テナント情報取得/02_テナント情報取得_コード解説.md
  docs/07_実装解説/PR658_ログ初期化共通化/01_ログ初期化共通化_コード解説.md
  docs/07_実装解説/PR658_ログ初期化共通化/01_ログ初期化共通化_機能解説.md
  docs/07_実装解説/PR668_PIIマスキング基盤/01_PIIマスキング_機能解説.md
Due: none

#779 Add audit log API test (#801)
  docs/08_テスト/APIテスト突合表.md
  prompts/runs/2026-02/2026-02-23_2107_監査ログAPIテスト追加.md
  tests/api/hurl/audit_log/list_audit_logs.hurl
Due: none

#767 Add session log for improvement measure backlink rule
  prompts/runs/2026-02/2026-02-23_2118_改善対策逆方向リンクルール導入.md
Due: none

#767 Add improvement measure backlink rule for degrade detection
  docs/04_手順書/04_開発フロー/01_Issue駆動開発.md
  process/improvements/README.md
Due: none

#767 Add improvement measure backlink rule for degrade detection (#803)
  docs/04_手順書/04_開発フロー/01_Issue駆動開発.md
  process/improvements/README.md
  prompts/runs/2026-02/2026-02-23_2118_改善対策逆方向リンクルール導入.md
Due: none

#796 Refactor Designer.elm Model to ADT state machine
  frontend/src/Page/WorkflowDefinition/Designer.elm
  frontend/tests/Page/WorkflowDefinition/DesignerTest.elm
Due: elm-format-check

#796 Add session log and rename plan file for #796
  prompts/plans/796_designer-adt-state-machine.md
  prompts/runs/2026-02/2026-02-23_2120_Designer-ADT-state-machine.md
Due: none

#796 Add implementation notes for Designer ADT state machine
  docs/07_実装解説/PR802_Designer-ADT状態マシン/01_Designer-ADT状態マシン_コード解説.md
  docs/07_実装解説/PR802_Designer-ADT状態マシン/01_Designer-ADT状態マシン_機能解説.md
Due: none

#796 Refactor Designer.elm Model to ADT state machine (#802)
  docs/07_実装解説/PR802_Designer-ADT状態マシン/01_Designer-ADT状態マシン_コード解説.md
  docs/07_実装解説/PR802_Designer-ADT状態マシン/01_Designer-ADT状態マシン_機能解説.md
  frontend/src/Page/WorkflowDefinition/Designer.elm
  frontend/tests/Page/WorkflowDefinition/DesignerTest.elm
  prompts/plans/796_designer-adt-state-machine.md
  prompts/runs/2026-02/2026-02-23_2120_Designer-ADT-state-machine.md
Due: elm-format-check

#780 Add E2E-009 user management tests (create, edit, deactivate)
  docs/08_テスト/E2Eテスト突合表.md
  tests/e2e/tests/user-management.spec.ts
Due: none

#780 Add session log and rename plan file for #780
  prompts/plans/780_user-management-e2e-test.md
  prompts/runs/2026-02/2026-02-23_2128_E2E-009_ユーザー管理E2Eテスト.md
Due: none

#780 Add E2E-009 user management E2E test (#804)
  docs/08_テスト/E2Eテスト突合表.md
  prompts/plans/780_user-management-e2e-test.md
  prompts/runs/2026-02/2026-02-23_2128_E2E-009_ユーザー管理E2Eテスト.md
  tests/e2e/tests/user-management.spec.ts
Due: none

Add ADR-055: Allow dynamic dispatch in backend
  .claude/rules/rust.md
  docs/05_ADR/055_バックエンドにおける動的ディスパッチ許容方針.md
Due: none

Add session log for ADR-055 dynamic dispatch policy
  prompts/runs/2026-02/2026-02-23_2103_ADR-055_動的ディスパッチ許容方針.md
Due: none

Fix typo: リジストリ → レジストリ in ADR-055
  docs/05_ADR/055_バックエンドにおける動的ディスパッチ許容方針.md
Due: none

Add ADR-055: Allow dynamic dispatch in backend (#806)
  .claude/rules/rust.md
  docs/05_ADR/055_バックエンドにおける動的ディスパッチ許容方針.md
  prompts/runs/2026-02/2026-02-23_2103_ADR-055_動的ディスパッチ許容方針.md
Due: none

Add README freshness check to /assess and fix stale counts
  .claude/skills/assess/SKILL.md
  README.ja.md
  README.md
Due: none

Add session log for README freshness check
  prompts/runs/2026-02/2026-02-23_2124_README鮮度チェック追加.md
Due: none

Add README freshness check to /assess skill (#807)
  .claude/skills/assess/SKILL.md
  README.ja.md
  README.md
  prompts/runs/2026-02/2026-02-23_2124_README鮮度チェック追加.md
Due: none
