Repository ka2kama/ringiflow: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt-check, elm-format-check

rustfmt-check:
  run: rustfmt +nightly --edition 2024 --check {staged_files}

elm-format-check:
  run: elm-format --validate {staged_files}

#913 Add session log and rename plan file for #913
  prompts/plans/913_designer-vertical-port-layout.md
  prompts/runs/2026-02/2026-02-25_2118_デザイナーノード接続ポイント上下配置.md
Due: none

#913 Change designer node connection points to vertical layout (#914)
  frontend/src/Data/DesignerCanvas.elm
  frontend/src/Page/WorkflowDefinition/Designer.elm
  frontend/tests/Data/DesignerCanvasTest.elm
  process/improvements/2026-02/2026-02-25_2118_応答判定ルールがスキル内指示と競合する.md
  prompts/plans/913_designer-vertical-port-layout.md
  prompts/runs/2026-02/2026-02-25_2118_デザイナーノード接続ポイント上下配置.md
Due: elm-format-check

#919 Add hypothesis exploration category checklist to troubleshooting (#920)
  .claude/rules/troubleshooting.md
  docs/06_ナレッジベース/methodology/独自フレームワークと既知手法の対応.md
  prompts/runs/2026-02/2026-02-25_2128_トラブルシューティング仮説カテゴリチェックリスト.md
Due: none

#921 Add skill instruction exception to response judgment rule (#922)
  CLAUDE.md
  process/improvements/2026-02/2026-02-25_2118_応答判定ルールがスキル内指示と競合する.md
  prompts/runs/2026-02/2026-02-25_2107_応答判定ルールのスキル内指示例外追加.md
Due: none

#923 Standardize Rust function-level coding style (#924)
  .claude/rules/rust.md
  .github/workflows/ci.yaml
  backend/Cargo.toml
  backend/apps/auth-service/Cargo.toml
  backend/apps/bff/Cargo.toml
  backend/apps/core-service/Cargo.toml
  backend/apps/core-service/src/handler/auth/mod.rs
  backend/crates/domain/Cargo.toml
  backend/crates/infra/Cargo.toml
  backend/crates/shared/Cargo.toml
  docs/05_ADR/057_workspace-lintsによるlint管理の標準化.md
  justfile
  prompts/plans/923_standardize-rust-coding-style.md
  prompts/runs/2026-02/2026-02-25_2113_Rustコーディングスタイル標準化.md
Due: rustfmt-check

#923 Flatten deeply nested control flow in auth handlers (#925)
  backend/apps/bff/src/handler/auth/login.rs
  backend/apps/bff/src/handler/auth/session.rs
  backend/apps/core-service/src/usecase/user.rs
  prompts/runs/2026-02/2026-02-25_2110_認証ハンドラのネスト平坦化.md
Due: rustfmt-check

Add Validation pass to Auto Review for omission/divergence detection (#926)
  .github/workflows/claude-auto-review.yaml
  prompts/plans/20260225_auto-review-validation.md
  prompts/runs/2026-02/2026-02-25_2111_Auto-Review-Validation追加.md
  scripts/ci/fetch-validation-context.sh
Due: none

#883 Add FolderRepository trait and PostgreSQL implementation
  backend/crates/infra/src/repository.rs
  backend/crates/infra/src/repository/folder_repository.rs
Due: rustfmt-check

#883 Add folders table migration with RLS and materialized path indexes
  backend/migrations/20260225000001_create_folders.sql
  backend/schema.sql
Due: none

#883 Add Folder domain model with FolderId, FolderName, and Folder entity
  backend/crates/domain/src/folder.rs
  backend/crates/domain/src/lib.rs
  prompts/plans/composed-gathering-kahan.md
Due: rustfmt-check

#883 Fix clippy warning, update OpenAPI spec and baselines
  .config/baselines.env
  backend/apps/bff/src/openapi.rs
  backend/apps/bff/tests/openapi_spec.rs
  backend/apps/bff/tests/snapshots/openapi_spec__openapi_spec.snap
  backend/crates/domain/src/folder.rs
  openapi/openapi.yaml
Due: rustfmt-check

#883 Add FolderUseCaseImpl with create, update, list, and delete operations
  backend/apps/core-service/src/usecase.rs
  backend/apps/core-service/src/usecase/folder.rs
Due: rustfmt-check

#883 Add folder CRUD handlers with handler tests in core-service
  backend/apps/core-service/src/handler.rs
  backend/apps/core-service/src/handler/folder.rs
  backend/apps/core-service/src/main.rs
Due: rustfmt-check

#883 Fix relative links in code explanation doc
  docs/07_実装解説/PR918_フォルダ管理API/01_フォルダ管理API_コード解説.md
Due: none

#883 Add BFF folder management API endpoints
  backend/apps/bff/src/client.rs
  backend/apps/bff/src/client/core_service.rs
  backend/apps/bff/src/client/core_service/client_impl.rs
  backend/apps/bff/src/client/core_service/error.rs
  backend/apps/bff/src/client/core_service/folder_client.rs
  backend/apps/bff/src/client/core_service/types.rs
  backend/apps/bff/src/error.rs
  backend/apps/bff/src/handler.rs
  backend/apps/bff/src/handler/folder.rs
  backend/apps/bff/src/main.rs
Due: rustfmt-check

#883 Update sqlx offline query cache for folder repository
  backend/.sqlx/query-0e29717ad4277b573322f688ff06c36e1fa30dbac22d04f518de0ac6cc7bf83f.json
  backend/.sqlx/query-2679d2a1d0b1e296df847fbcc627d68fcdd059348a347ca4a813ad6d3218a4d0.json
  backend/.sqlx/query-2b92b8cfbe0d173c36e8cdcc28448f7dcac5a3ea85e337c0971e7653c8ec1b49.json
  backend/.sqlx/query-2f01c718b4073613d00b3eda48b82981b261f5bee94f4ef40811601b44d4d24b.json
  backend/.sqlx/query-a060accf93a1a9b70f8c74e4333c12ef34e34430d6f73864c5777193426ff93d.json
  backend/.sqlx/query-be0fe2d8301284dd65ff72c2396b35af990ef41a87f3ecbd2ffdae80f946eae3.json
  backend/.sqlx/query-d4621a23f40de097c21870c4fc42681a50f2e0c99fed46f75dc488f7f5ff283e.json
Due: none

#883 Add session log and explanation docs for folder API
  docs/07_実装解説/PR918_フォルダ管理API/01_フォルダ管理API_コード解説.md
  docs/07_実装解説/PR918_フォルダ管理API/01_フォルダ管理API_機能解説.md
  prompts/plans/883_folder-api.md
  prompts/runs/2026-02/2026-02-25_2120_フォルダ管理API実装.md
Due: none

#875 Add session log and rename plan file for #875
  prompts/plans/875_notification-infrastructure.md
  prompts/runs/2026-02/2026-02-25_2116_通知基盤の構築.md
Due: none

#875 Add explanation docs for notification infrastructure
  docs/07_実装解説/PR916_通知基盤/01_通知基盤_コード解説.md
  docs/07_実装解説/PR916_通知基盤/01_通知基盤_機能解説.md
Due: none

#923 Flatten deeply nested control flow in auth handlers and user usecase
  backend/apps/bff/src/handler/auth/login.rs
  backend/apps/bff/src/handler/auth/session.rs
  backend/apps/core-service/src/usecase/user.rs
Due: rustfmt-check

Add Validation pass to Auto Review for omission/divergence detection
  .github/workflows/claude-auto-review.yaml
  prompts/plans/mossy-crafting-frog.md
Due: none

#923 Standardize Rust coding style with workspace lints and style guide
  .claude/rules/rust.md
  .github/workflows/ci.yaml
  backend/Cargo.toml
  backend/apps/auth-service/Cargo.toml
  backend/apps/bff/Cargo.toml
  backend/apps/core-service/Cargo.toml
  backend/apps/core-service/src/handler/auth/mod.rs
  backend/crates/domain/Cargo.toml
  backend/crates/infra/Cargo.toml
  backend/crates/shared/Cargo.toml
  docs/05_ADR/057_workspace-lintsによるlint管理の標準化.md
  justfile
Due: rustfmt-check

#900 Add session log for nature classification backfill
  prompts/runs/2026-02/2026-02-25_2100_改善記録の問題の性質一括追記.md
Due: none

#921 Add skill instruction exception to response judgment rule
  CLAUDE.md
  process/improvements/2026-02/2026-02-25_2118_応答判定ルールがスキル内指示と競合する.md
Due: none

Fix shellcheck SC2231: quote variable expansion in glob
  .github/workflows/claude-auto-review.yaml
Due: none

#923 Add session log for auth handler nesting refactoring
  prompts/runs/2026-02/2026-02-25_2110_認証ハンドラのネスト平坦化.md
Due: none

Add session log and rename plan file for Auto Review Validation
  prompts/plans/20260225_auto-review-validation.md
  prompts/runs/2026-02/2026-02-25_2111_Auto-Review-Validation追加.md
Due: none

#921 Add session log for response judgment skill exception
  prompts/runs/2026-02/2026-02-25_2107_応答判定ルールのスキル内指示例外追加.md
Due: none

#923 Add session log and rename plan file for #923
  prompts/plans/923_standardize-rust-coding-style.md
  prompts/runs/2026-02/2026-02-25_2113_Rustコーディングスタイル標準化.md
Due: none

#923 Remove bold from numbered list items in ADR-057
  docs/05_ADR/057_workspace-lintsによるlint管理の標準化.md
Due: none

Extract validation context script and expand closing keywords
  .github/workflows/claude-auto-review.yaml
  scripts/ci/fetch-validation-context.sh
Due: none

Path conditions:
  rustfmt-check: any of: *.rs
  elm-format-check: any of: *.elm
