Repository ka2kama/ringiflow: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt-check, elm-format-check

rustfmt-check:
  run: rustfmt +nightly --edition 2024 --check {staged_files}

elm-format-check:
  run: elm-format --validate {staged_files}

#699 Migrate Node.js version management from Volta to mise
  .mise.toml
  docs/04_手順書/01_開発参画/01_開発環境構築.md
  docs/05_ADR/052_Node.jsバージョン管理のmiseへの移行.md
  frontend/README.md
  frontend/package.json
  prompts/plans/agile-tumbling-iverson.md
  tests/e2e/package.json
Due: none

#699 Allow gh api graphql query in Claude Code settings
  .claude/settings.json
Due: none

#699 Migrate Node.js version management from Volta to mise (#700)
  .claude/settings.json
  .mise.toml
  docs/04_手順書/01_開発参画/01_開発環境構築.md
  docs/05_ADR/052_Node.jsバージョン管理のmiseへの移行.md
  frontend/README.md
  frontend/package.json
  prompts/plans/699_volta-to-mise-migration.md
  prompts/runs/2026-02/2026-02-19_1526_Volta-mise移行.md
  tests/e2e/package.json
Due: none

#701 Add mise trust step to setup recipe (#702)
  justfile
Due: none

#703 Enrich Phase 3/4 roadmap with technical challenges and verification concerns (#705)
  docs/03_詳細設計書/00_実装ロードマップ.md
  docs/06_ナレッジベース/methodology/ローカル検証性.md
Due: none

#703 Replace informal terminology with established Deploy and Pray (#706)
  docs/06_ナレッジベース/methodology/ローカル検証性.md
Due: none

#688 Unify request_changes_step transactions into single atomic operation
  backend/apps/core-service/src/usecase/workflow/command/decision/request_changes.rs
Due: rustfmt-check

#688 Unify approve_step to single transaction
  backend/apps/core-service/src/usecase/workflow/command/decision/approve.rs
Due: rustfmt-check

#688 Add implementation plan for decision usecase transaction unification
  prompts/plans/rosy-chasing-snowglobe.md
Due: none

#688 Add integration tests for optimistic locking and transaction atomicity
  backend/crates/infra/tests/transaction_concurrency_test.rs
  prompts/plans/rosy-chasing-snowglobe.md
Due: rustfmt-check

#688 Unify reject_step transactions into single atomic operation
  backend/apps/core-service/src/usecase/workflow/command/decision/reject.rs
  prompts/plans/rosy-chasing-snowglobe.md
Due: rustfmt-check

#688 Add session log and rename plan file
  prompts/plans/688_decision-usecase-transaction.md
  prompts/runs/2026-02/2026-02-19_1720_判断系ユースケーストランザクション統合.md
Due: none

#688 Unify decision usecase transactions (#704)
  backend/apps/core-service/src/usecase/workflow/command/decision/approve.rs
  backend/apps/core-service/src/usecase/workflow/command/decision/reject.rs
  backend/apps/core-service/src/usecase/workflow/command/decision/request_changes.rs
  backend/crates/infra/tests/transaction_concurrency_test.rs
  prompts/plans/688_decision-usecase-transaction.md
  prompts/runs/2026-02/2026-02-19_1720_判断系ユースケーストランザクション統合.md
Due: rustfmt-check

#689 Unify lifecycle usecase transactions into single atomic operation (#707)
  backend/apps/core-service/src/usecase/workflow/command/lifecycle/resubmit.rs
  backend/apps/core-service/src/usecase/workflow/command/lifecycle/submit.rs
  backend/crates/infra/tests/transaction_concurrency_test.rs
  process/improvements/2026-02/2026-02-19_1758_計画ファイルのテスト層記載漏れの再発.md
  prompts/plans/689_lifecycle-usecase-transaction.md
  prompts/runs/2026-02/2026-02-19_1758_ライフサイクル系ユースケーストランザクション統合.md
Due: rustfmt-check

#708 Automate gh pr ready and require user instruction for merge
  CLAUDE.md
Due: none

#708 Automate recommended document creation in wrap-up skill
  .claude/skills/wrap-up/SKILL.md
Due: none

#708 Automate recommended document creation in wrap-up skill (#709)
  .claude/settings.json
  .claude/skills/wrap-up/SKILL.md
  CLAUDE.md
Due: none

#710 Add test layer coverage check to design brushup perspectives
  .claude/rules/zoom-rhythm.md
Due: none

#710 Add test layer coverage check to design brushup perspectives (#711)
  .claude/rules/zoom-rhythm.md
Due: none

#712 Add request changes button to task detail page (#716)
  frontend/src/Page/Task/Detail.elm
  prompts/plans/712_task-request-changes.md
  prompts/runs/2026-02/2026-02-19_2118_タスク詳細画面_差し戻しボタン追加.md
Due: elm-format-check

#714 Add AI agent start trigger rule to prevent unnecessary confirmations
  docs/04_手順書/04_開発フロー/01_Issue駆動開発.md
  process/improvements/2026-02/2026-02-19_2030_Issue指定時の不要な着手確認.md
Due: none

#714 Prevent unnecessary start confirmations in Issue-driven flow (#715)
  docs/04_手順書/04_開発フロー/01_Issue駆動開発.md
  process/improvements/2026-02/2026-02-19_2030_Issue指定時の不要な着手確認.md
Due: none

#703 Enrich Phase 3/4 roadmap with technical challenges and add local verifiability knowledge base
  docs/03_詳細設計書/00_実装ロードマップ.md
  docs/06_ナレッジベース/methodology/ローカル検証性.md
Due: none

#703 Fix docs.md rule violations: bold and ASCII art
  docs/06_ナレッジベース/methodology/ローカル検証性.md
Due: none

#713 Extend E2E test infrastructure with multi-user auth and shared workflow helpers
  tests/e2e/helpers/test-data.ts
  tests/e2e/helpers/workflow.ts
  tests/e2e/playwright.config.ts
  tests/e2e/tests/approval.spec.ts
  tests/e2e/tests/auth.setup.ts
Due: none

#672 Handle indented code fences in link checker
  scripts/check-doc-links.sh
Due: none

#689 Unify lifecycle usecase transactions into single atomic operation
  backend/apps/core-service/src/usecase/workflow/command/lifecycle/resubmit.rs
  backend/apps/core-service/src/usecase/workflow/command/lifecycle/submit.rs
Due: rustfmt-check

#689 Add integration test for step INSERT rollback atomicity
  backend/crates/infra/tests/transaction_concurrency_test.rs
Due: rustfmt-check

#680 Enforce impl-docs naming convention in CI
  docs/07_実装解説/PR536_WorkflowTestBuilder/01_WorkflowTestBuilder_コード解説.md
  docs/07_実装解説/PR536_WorkflowTestBuilder/01_WorkflowTestBuilder_機能解説.md
  scripts/check/impl-docs.sh
Due: none

#703 Replace informal terminology with established "Deploy and Pray"
  docs/06_ナレッジベース/methodology/ローカル検証性.md
Due: none

#713 Add 2-step approval E2E test (E2E-004)
  tests/e2e/tests/approval.spec.ts
Due: none

#712 Add request changes button to task detail page
  frontend/src/Page/Task/Detail.elm
Due: elm-format-check

Update scripts/ description to match subdirectory structure
  README.ja.md
  README.md
Due: none

#694 Define multi-PR candidate behavior for review-and-merge skill
  .claude/skills/review-and-merge/SKILL.md
  process/improvements/2026-02/2026-02-19_0234_review-and-mergeで複数PRを同時処理しようとした.md
Due: none

#686 Create entity impact maps for WorkflowInstance and WorkflowStep
  docs/03_詳細設計書/エンティティ影響マップ/README.md
  docs/03_詳細設計書/エンティティ影響マップ/WorkflowInstance.md
  docs/03_詳細設計書/エンティティ影響マップ/WorkflowStep.md
Due: none

Path conditions:
  rustfmt-check: any of: *.rs
  elm-format-check: any of: *.elm
