Repository ka2kama/ringiflow: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt-check, elm-format-check

rustfmt-check:
  run: rustfmt +nightly --edition 2024 --check {staged_files}

elm-format-check:
  run: elm-format --validate {staged_files}

#834 Implement instrumentation checker in rust-script with syn AST parsing
  scripts/check/instrumentation.rs
Due: rustfmt-check

#834 Address review feedback: pretty_assertions, check-tools, dev env doc
  docs/04_手順書/01_開発参画/01_開発環境構築.md
  justfile
  scripts/check/instrumentation.rs
Due: rustfmt-check

#834 Update implementation explanation doc for rust-script migration
  docs/07_実装解説/PR697_Observability構造的担保/01_Observability構造的担保_コード解説.md
Due: none

#834 Update justfile and CI to use rust-script for instrumentation check
  .github/workflows/ci.yaml
  justfile
Due: none

#834 Extract rust-script install logic to shared shell script
  .github/workflows/ci.yaml
  .github/workflows/claude-rules-check.yaml
  scripts/ci/install-rust-script.sh
Due: none

#815 Address review feedback: defensive bounds and error logging
  .github/scripts/match-rules.rs
Due: rustfmt-check

#815 Add improvement record: workaround follow-up Issue tracking
  process/improvements/2026-02/2026-02-23_1932_ワークアラウンド導入時のフォローアップIssue作成漏れ.md
Due: none

#780 Fix flaky E2E test: scope status assertion to detail page
  tests/e2e/tests/user-management.spec.ts
Due: none

#834 Migrate instrumentation.sh to rust-script (#842)
  .claude/rules/observability.md
  .github/workflows/ci.yaml
  .github/workflows/claude-rules-check.yaml
  docs/04_手順書/01_開発参画/01_開発環境構築.md
  docs/05_ADR/056_CIスクリプトの言語選定方針.md
  docs/06_ナレッジベース/devtools/rust-script.md
  docs/07_実装解説/PR697_Observability構造的担保/01_Observability構造的担保_コード解説.md
  justfile
  scripts/check/instrumentation.rs
  scripts/check/instrumentation.sh
  scripts/ci/install-rust-script.sh
Due: rustfmt-check

#816 Fix stale references in session log
  prompts/runs/2026-02/2026-02-23_2124_WorkflowDetail_ADTステートマシン.md
Due: none

#816 Remove redundant bold markers in comparison tables
  docs/07_実装解説/PR839_WorkflowDetail_ADTステートマシン/01_ADTステートマシン_コード解説.md
  docs/07_実装解説/PR839_WorkflowDetail_ADTステートマシン/01_ADTステートマシン_機能解説.md
Due: none

#816 Add session log, explanation docs, and rename plan file for #816
  docs/07_実装解説/PR839_WorkflowDetail_ADTステートマシン/01_ADTステートマシン_コード解説.md
  docs/07_実装解説/PR839_WorkflowDetail_ADTステートマシン/01_ADTステートマシン_機能解説.md
  prompts/plans/816_workflow-detail-adt-state-machine.md
  prompts/runs/2026-02/2026-02-23_2124_WorkflowDetail_ADTステートマシン.md
Due: none

#816 Refactor Workflow/Detail.elm Model to ADT state machine
  frontend/src/Page/Workflow/Detail.elm
  prompts/plans/imperative-napping-riddle.md
Due: elm-format-check

#816 Refactor Workflow/Detail.elm Model to ADT state machine (#839)
  docs/07_実装解説/PR839_WorkflowDetail_ADTステートマシン/01_ADTステートマシン_コード解説.md
  docs/07_実装解説/PR839_WorkflowDetail_ADTステートマシン/01_ADTステートマシン_機能解説.md
  frontend/src/Page/Workflow/Detail.elm
  prompts/plans/816_workflow-detail-adt-state-machine.md
  prompts/runs/2026-02/2026-02-23_2124_WorkflowDetail_ADTステートマシン.md
Due: elm-format-check

#819 Refactor WorkflowInstance domain model to ADT state machine (#852)
  backend/apps/core-service/src/usecase/dashboard.rs
  backend/crates/domain/src/workflow/instance.rs
  backend/crates/infra/src/repository/workflow_instance_repository.rs
  backend/migrations/20260224000001_fix_seed_current_step_id.sql
  docs/03_詳細設計書/エンティティ影響マップ/WorkflowInstance.md
  prompts/runs/2026-02/2026-02-23_2247_WorkflowInstance_ADTステートマシン.md
Due: rustfmt-check

#835 Migrate improvement-records.sh to rust-script
  justfile
  scripts/check/improvement-records.rs
  scripts/check/improvement-records.sh
Due: rustfmt-check

#835 Add session log and rename plan file for #835
  prompts/plans/835_improvement-records-rust-script.md
  prompts/runs/2026-02/2026-02-24_2117_improvement-records-rust-script移行.md
Due: none

#835 Fix code comment to use Markdown link format
  scripts/check/improvement-records.rs
Due: rustfmt-check

Migrate improvement-records.sh to rust-script (#853)
  justfile
  prompts/plans/835_improvement-records-rust-script.md
  prompts/runs/2026-02/2026-02-24_2117_improvement-records-rust-script移行.md
  scripts/check/improvement-records.rs
  scripts/check/improvement-records.sh
Due: rustfmt-check

Migrate impl-docs.sh to rust-script (#857)
  docs/07_実装解説/PR697_Observability構造的担保/01_Observability構造的担保_コード解説.md
  justfile
  process/improvements/2026-02/2026-02-24_2106_コンテキストクリア後のDraft-PR作成漏れ.md
  prompts/plans/836_impl-docs-rust-script.md
  prompts/runs/2026-02/2026-02-24_2106_impl-docs-rust-script移行.md
  scripts/check/impl-docs.rs
  scripts/check/impl-docs.sh
Due: rustfmt-check

#855 Update design docs and source code comments for type-safe state machine
  backend/crates/domain/src/workflow/instance.rs
  backend/crates/domain/src/workflow/step.rs
  docs/03_詳細設計書/エンティティ影響マップ/WorkflowInstance.md
  frontend/src/Page/Task/Detail.elm
  frontend/src/Page/Workflow/Detail.elm
  frontend/src/Page/Workflow/New.elm
  frontend/src/Page/WorkflowDefinition/Designer.elm
Due: rustfmt-check, elm-format-check

#855 Update rule files and procedures for type-safe state machine terminology
  .claude/rules/pre-implementation.md
  .claude/rules/zoom-rhythm.md
  docs/04_手順書/04_開発フロー/02_TDD開発フロー.md
Due: none

#855 Update ADR-054 content for type-safe state machine terminology
  docs/05_ADR/054_型安全ステートマシンパターンの標準化.md
Due: none

#855 Rename ADR-054 from ADT-based to type-safe state machine
  docs/05_ADR/054_型安全ステートマシンパターンの標準化.md
Due: none

#855 Rename and update implementation docs for type-safe state machine
  docs/07_実装解説/PR802_Designer-型安全ステートマシン/01_Designer-型安全ステートマシン_コード解説.md
  docs/07_実装解説/PR802_Designer-型安全ステートマシン/01_Designer-型安全ステートマシン_機能解説.md
  docs/07_実装解説/PR839_WorkflowDetail_型安全ステートマシン/01_型安全ステートマシン_コード解説.md
  docs/07_実装解説/PR839_WorkflowDetail_型安全ステートマシン/01_型安全ステートマシン_機能解説.md
  docs/07_実装解説/PR840_WorkflowStep-型安全ステートマシン/01_WorkflowStep-型安全ステートマシン_コード解説.md
  docs/07_実装解説/PR840_WorkflowStep-型安全ステートマシン/01_WorkflowStep-型安全ステートマシン_機能解説.md
Due: none

#855 Update auto-review workflow for type-safe state machine terminology
  .github/workflows/claude-auto-review.yaml
Due: none

#855 Add implementation plan for #855
  prompts/plans/swirling-shimmying-wombat.md
Due: none

#855 Add session log and rename plan file for #855
  prompts/plans/855_type-safe-state-machine-rename.md
  prompts/runs/2026-02/2026-02-24_2127_型安全ステートマシン命名変更.md
Due: none

#855 Fix extra spaces before Japanese term in implementation docs
  docs/07_実装解説/PR802_Designer-型安全ステートマシン/01_Designer-型安全ステートマシン_機能解説.md
  docs/07_実装解説/PR840_WorkflowStep-型安全ステートマシン/01_WorkflowStep-型安全ステートマシン_機能解説.md
Due: none

#855 Rename ADT state machine pattern to means-independent terminology (#856)
  .claude/rules/pre-implementation.md
  .claude/rules/zoom-rhythm.md
  .github/workflows/claude-auto-review.yaml
  backend/crates/domain/src/workflow/instance.rs
  backend/crates/domain/src/workflow/step.rs
  docs/03_詳細設計書/エンティティ影響マップ/WorkflowInstance.md
  docs/04_手順書/04_開発フロー/02_TDD開発フロー.md
  docs/05_ADR/054_型安全ステートマシンパターンの標準化.md
  docs/07_実装解説/PR802_Designer-型安全ステートマシン/01_Designer-型安全ステートマシン_コード解説.md
  docs/07_実装解説/PR802_Designer-型安全ステートマシン/01_Designer-型安全ステートマシン_機能解説.md
  docs/07_実装解説/PR839_WorkflowDetail_型安全ステートマシン/01_型安全ステートマシン_コード解説.md
  docs/07_実装解説/PR839_WorkflowDetail_型安全ステートマシン/01_型安全ステートマシン_機能解説.md
  docs/07_実装解説/PR840_WorkflowStep-型安全ステートマシン/01_WorkflowStep-型安全ステートマシン_コード解説.md
  docs/07_実装解説/PR840_WorkflowStep-型安全ステートマシン/01_WorkflowStep-型安全ステートマシン_機能解説.md
  frontend/src/Page/Task/Detail.elm
  frontend/src/Page/Workflow/Detail.elm
  frontend/src/Page/Workflow/New.elm
  frontend/src/Page/WorkflowDefinition/Designer.elm
  prompts/plans/855_type-safe-state-machine-rename.md
  prompts/runs/2026-02/2026-02-24_2127_型安全ステートマシン命名変更.md
Due: rustfmt-check, elm-format-check

#837 Add session log for sync-epic.sh migration
  prompts/runs/2026-02/2026-02-24_2115_sync-epic-rust-script移行.md
Due: none

#837 Migrate sync-epic.sh to rust-script
  justfile
  prompts/plans/dynamic-meandering-donut.md
  scripts/issue/sync-epic.rs
  scripts/issue/sync-epic.sh
Due: rustfmt-check

#837 Migrate sync-epic.sh to rust-script (#861)
  justfile
  prompts/plans/dynamic-meandering-donut.md
  prompts/runs/2026-02/2026-02-24_2115_sync-epic-rust-script移行.md
  scripts/issue/sync-epic.rs
  scripts/issue/sync-epic.sh
Due: rustfmt-check

#862 Add test-rust-scripts recipe and wire into just check
  justfile
  scripts/check/parallel.sh
Due: none

#862 Add rust-script test automation to just check (#863)
  justfile
  scripts/check/parallel.sh
Due: none

Path conditions:
  rustfmt-check: any of: *.rs
  elm-format-check: any of: *.elm
