Repository ka2kama/ringiflow: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt-check, elm-format-check

lefthook.yaml:

# lefthook 設定
# インストール: https://github.com/evilmartians/lefthook

# コミット前のチェック（ブランチ保護 + フォーマット + 拡張子）
pre-commit:
  parallel: true
  commands:
    no-main-commit:
      # main ブランチへの直接コミットを禁止
      run: |
        BRANCH=$(git symbolic-ref --short HEAD 2>/dev/null)
        if [ "$BRANCH" = "main" ]; then
          echo "Error: main ブランチへの直接コミットは禁止されています。ブランチを作成してください。"
          exit 1
        fi
    no-yml-extension:
      # .yml ファイルの追加を禁止（.yaml を使用すること）
      # .gitignore 内の参照は許可
      run: |
        files=$(git diff --cached --name-only --diff-filter=A | grep '\.yml$' || true)
        if [ -n "$files" ]; then
          echo "Error: .yml 拡張子は使用できません。.yaml を使用してください。"
          echo "該当ファイル:"
          echo "$files"
          exit 1
        fi
    rustfmt-check:
      glob: "*.rs"
      run: rustfmt +nightly --edition 2024 --check {staged_files}
    elm-format-check:
      glob: "*.elm"
      run: elm-format --validate {staged_files}

# プッシュ前のチェック（lint + unit test、DB 不要）
pre-push:
  commands:
    check-pre-push:
      run: just check-pre-push

# コミットメッセージ作成時に Issue 番号を自動付与
prepare-commit-msg:
  scripts:
    "add-issue-number.sh":
      runner: bash
    "add-model-to-attribution.sh":
      runner: bash

# コミット時刻を夜の時間帯に正規化（生活パターンの推測を抑制）
post-commit:
  scripts:
    "normalize-time.sh":
      runner: bash

Add session log for Epic #841 completion and rust-script test automation
  prompts/plans/837_sync-epic-rust-script.md
  prompts/runs/2026-02/2026-02-24_1026_Epic841完了とrust-scriptテスト自動化.md
Due: none

Add session log and improvement record for Epic #841 wrap-up (#868)
  process/improvements/2026-02/2026-02-24_2107_品質ゲートでのwrap-up未実施.md
  prompts/plans/837_sync-epic-rust-script.md
  prompts/runs/2026-02/2026-02-24_1026_Epic841完了とrust-scriptテスト自動化.md
Due: none

#859 Separate editing state into EditState ADT in Detail.elm
  frontend/src/Page/Workflow/Detail.elm
Due: elm-format-check

#859 Add wrap-up documentation for type-safe state machine reevaluation
  docs/07_実装解説/PR864_型安全ステートマシン再評価/01_型安全ステートマシン再評価_コード解説.md
  docs/07_実装解説/PR864_型安全ステートマシン再評価/01_型安全ステートマシン再評価_機能解説.md
  process/improvements/2026-02/2026-02-24_0204_KISS根拠で型制約よりロジック制約を選択.md
  prompts/plans/859_type-safe-state-machine-reevaluation.md
  prompts/runs/2026-02/2026-02-24_0204_型安全ステートマシン再評価.md
Due: none

#859 Separate CancelledState into ADT variants by transition source
  backend/crates/domain/src/workflow/instance.rs
Due: rustfmt-check

#859 Re-evaluate type-safe state machine with new criteria (#864)
  backend/crates/domain/src/workflow/instance.rs
  docs/07_実装解説/PR864_型安全ステートマシン再評価/01_型安全ステートマシン再評価_コード解説.md
  docs/07_実装解説/PR864_型安全ステートマシン再評価/01_型安全ステートマシン再評価_機能解説.md
  frontend/src/Page/Workflow/Detail.elm
  process/improvements/2026-02/2026-02-24_0204_KISS根拠で型制約よりロジック制約を選択.md
  prompts/plans/859_type-safe-state-machine-reevaluation.md
  prompts/runs/2026-02/2026-02-24_0204_型安全ステートマシン再評価.md
Due: rustfmt-check, elm-format-check

#858 Redesign /start skill to execute workflow foundation steps
  .claude/skills/start/SKILL.md
Due: none

#858 Add implementation plan for /start skill redesign
  prompts/plans/melodic-hatching-trinket.md
Due: none

#858 Add workflow step persistence across context clear (#869)
  .claude/skills/start/SKILL.md
  prompts/plans/858_workflow-step-persistence.md
  prompts/runs/2026-02/2026-02-24_0204_start-skill-redesign.md
Due: none

#860 Add session log for dialog state approach review
  prompts/runs/2026-02/2026-02-24_2104_型安全ステートマシン中優先度アプローチ見直し.md
Due: none

#860 Add implementation plan for dialog state approach review
  prompts/plans/860_dialog-state-approach-review.md
Due: none

#860 Extract create dialog form state into Maybe CreateDialogState
  frontend/src/Page/WorkflowDefinition/List.elm
Due: elm-format-check

#860 Review dialog state approach for medium-priority Stories (#870)
  frontend/src/Page/WorkflowDefinition/List.elm
  prompts/plans/860_dialog-state-approach-review.md
  prompts/runs/2026-02/2026-02-24_2104_型安全ステートマシン中優先度アプローチ見直し.md
Due: elm-format-check

#867 Add file path requirement to Self-review design/docs category
  .claude/rules/zoom-rhythm.md
  docs/04_手順書/04_開発フロー/01_Issue駆動開発.md
Due: none

#867 Add file path requirement to Self-review design/docs category (#871)
  .claude/rules/zoom-rhythm.md
  docs/04_手順書/04_開発フロー/01_Issue駆動開発.md
Due: none

#795 Add DOM timing caveat to Elm Ports knowledge base (#874)
  docs/06_ナレッジベース/elm/Elmポート.md
  docs/06_ナレッジベース/elm/SVGキャンバスとBrowserEvents.md
Due: none

#846 Add Phase 2-5 feature specs and detailed designs
  docs/01_要件定義書/機能仕様書/00_はじめに.md
  docs/01_要件定義書/機能仕様書/05_通知機能.md
  docs/01_要件定義書/機能仕様書/06_ドキュメント管理.md
  docs/03_詳細設計書/16_通知機能設計.md
  docs/03_詳細設計書/17_ドキュメント管理設計.md
  prompts/plans/sorted-singing-whisper.md
Due: none

#846 Add session log and rename plan file
  prompts/plans/846_phase-2-5-design.md
  prompts/runs/2026-02/2026-02-24_2117_Phase2-5通知ドキュメント管理設計.md
Due: none

#846 Design Phase 2-5 (Notifications + Document Management) (#872)
  docs/01_要件定義書/機能仕様書/00_はじめに.md
  docs/01_要件定義書/機能仕様書/05_通知機能.md
  docs/01_要件定義書/機能仕様書/06_ドキュメント管理.md
  docs/03_詳細設計書/16_通知機能設計.md
  docs/03_詳細設計書/17_ドキュメント管理設計.md
  prompts/plans/834_instrumentation-rust-script.md
  prompts/plans/846_phase-2-5-design.md
  prompts/runs/2026-02/2026-02-24_2117_Phase2-5通知ドキュメント管理設計.md
Due: none

#843 Add FIXME comment for shellcheck SC2094 suppression
  scripts/check/plan-test-layers.sh
Due: none

#843 Add lint scripts for OpenAPI handler registration and plan test layers
  backend/apps/bff/src/handler/health.rs
  justfile
  prompts/plans/gleaming-imagining-river.md
  scripts/check/openapi-handler-registration.sh
  scripts/check/parallel.sh
  scripts/check/plan-test-layers.sh
Due: rustfmt-check

#843 Add session log and rename plan file
  prompts/plans/843_lint-knowledge-execution-gap.md
  prompts/runs/2026-02/2026-02-24_2117_lint-knowledge-execution-gap.md
Due: none

#843 Add lint automation for knowledge-execution gap patterns (#873)
  backend/apps/bff/src/handler/health.rs
  justfile
  prompts/plans/843_lint-knowledge-execution-gap.md
  prompts/plans/846_phase-2-5-design.md
  prompts/runs/2026-02/2026-02-24_2117_lint-knowledge-execution-gap.md
  scripts/check/openapi-handler-registration.sh
  scripts/check/parallel.sh
  scripts/check/plan-test-layers.sh
Due: rustfmt-check

#854 Change with_current_step to return Result and restrict to Pending state
  backend/apps/core-service/src/test_utils/workflow_test_builder.rs
  backend/apps/core-service/src/usecase/dashboard.rs
  backend/apps/core-service/src/usecase/task.rs
  backend/apps/core-service/src/usecase/workflow/command.rs
  backend/apps/core-service/src/usecase/workflow/command/comment.rs
  backend/apps/core-service/src/usecase/workflow/command/decision/approve.rs
  backend/apps/core-service/src/usecase/workflow/command/decision/reject.rs
  backend/apps/core-service/src/usecase/workflow/command/decision/request_changes.rs
  backend/apps/core-service/src/usecase/workflow/command/lifecycle/resubmit.rs
  backend/apps/core-service/src/usecase/workflow/command/lifecycle/submit.rs
  backend/apps/core-service/src/usecase/workflow/query.rs
  backend/crates/domain/src/workflow/instance.rs
  backend/crates/infra/tests/transaction_concurrency_test.rs
  prompts/plans/854_with-current-step-result.md
Due: rustfmt-check

#854 Add session log for with_current_step Result change
  prompts/runs/2026-02/2026-02-24_2103_with_current_step_Result返却.md
Due: none

#854 Change with_current_step to return Result (#887)
  backend/apps/core-service/src/test_utils/workflow_test_builder.rs
  backend/apps/core-service/src/usecase/dashboard.rs
  backend/apps/core-service/src/usecase/task.rs
  backend/apps/core-service/src/usecase/workflow/command.rs
  backend/apps/core-service/src/usecase/workflow/command/comment.rs
  backend/apps/core-service/src/usecase/workflow/command/decision/approve.rs
  backend/apps/core-service/src/usecase/workflow/command/decision/reject.rs
  backend/apps/core-service/src/usecase/workflow/command/decision/request_changes.rs
  backend/apps/core-service/src/usecase/workflow/command/lifecycle/resubmit.rs
  backend/apps/core-service/src/usecase/workflow/command/lifecycle/submit.rs
  backend/apps/core-service/src/usecase/workflow/query.rs
  backend/crates/domain/src/workflow/instance.rs
  backend/crates/infra/tests/transaction_concurrency_test.rs
  prompts/plans/854_with-current-step-result.md
  prompts/runs/2026-02/2026-02-24_2103_with_current_step_Result返却.md
Due: rustfmt-check

#891 Improve design principle lens heuristics and known method mappings
  docs/04_手順書/04_開発フロー/01_Issue駆動開発.md
  docs/04_手順書/04_開発フロー/02_TDD開発フロー.md
  docs/06_ナレッジベース/methodology/独自フレームワークと既知手法の対応.md
  prompts/plans/delegated-wondering-matsumoto.md
Due: none

#891 Add session log and rename plan file for #891
  prompts/plans/891_design-principle-lens-review.md
  prompts/runs/2026-02/2026-02-24_2115_設計原則レンズ検証項目見直し.md
Due: none

#891 Review design principle lens verification items (#892)
  docs/04_手順書/04_開発フロー/01_Issue駆動開発.md
  docs/04_手順書/04_開発フロー/02_TDD開発フロー.md
  docs/06_ナレッジベース/methodology/独自フレームワークと既知手法の対応.md
  prompts/plans/891_design-principle-lens-review.md
  prompts/runs/2026-02/2026-02-24_2115_設計原則レンズ検証項目見直し.md
Due: none

Remove redundant stderr redirect in stale-annotations.sh
  scripts/check/stale-annotations.sh
Due: none

Add TODO/FIXME lifecycle management with stale annotation lint
  .claude/rules/code-annotations.md
  backend/apps/core-service/src/usecase/workflow.rs
  docs/04_手順書/04_開発フロー/01_Issue駆動開発.md
  frontend/src/Page/Workflow/New.elm
  justfile
  process/improvements/2026-02/2026-02-24_1500_TODO-FIXMEのライフサイクル管理不在.md
  prompts/plans/foamy-shimmying-emerson.md
  scripts/check/parallel.sh
  scripts/check/stale-annotations.sh
Due: rustfmt-check, elm-format-check

Add session log and rename plan file for TODO/FIXME lifecycle
  prompts/plans/20260224_todo-fixme-lifecycle.md
  prompts/runs/2026-02/2026-02-24_2104_TODO-FIXMEライフサイクル管理.md
Due: none
