Repository ka2kama/ringiflow: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt-check, elm-format-check

lefthook.yaml:

# lefthook 設定
# インストール: https://github.com/evilmartians/lefthook

# コミット前のチェック（ブランチ保護 + フォーマット + 拡張子）
pre-commit:
  parallel: true
  commands:
    no-main-commit:
      # main ブランチへの直接コミットを禁止
      run: |
        BRANCH=$(git symbolic-ref --short HEAD 2>/dev/null)
        if [ "$BRANCH" = "main" ]; then
          echo "Error: main ブランチへの直接コミットは禁止されています。ブランチを作成してください。"
          exit 1
        fi
    no-yml-extension:
      # .yml ファイルの追加を禁止（.yaml を使用すること）
      # .gitignore 内の参照は許可
      run: |
        files=$(git diff --cached --name-only --diff-filter=A | grep '\.yml$' || true)
        if [ -n "$files" ]; then
          echo "Error: .yml 拡張子は使用できません。.yaml を使用してください。"
          echo "該当ファイル:"
          echo "$files"
          exit 1
        fi
    rustfmt-check:
      glob: "*.rs"
      run: rustfmt +nightly --edition 2024 --check {staged_files}
    elm-format-check:
      glob: "*.elm"
      run: elm-format --validate {staged_files}

# プッシュ前のチェック（lint + unit test、DB 不要）
pre-push:
  commands:
    check-pre-push:
      run: just check-pre-push

# コミットメッセージ作成時に Issue 番号を自動付与
prepare-commit-msg:
  scripts:
    "add-issue-number.sh":
      runner: bash
    "add-model-to-attribution.sh":
      runner: bash

# コミット時刻を夜の時間帯に正規化（生活パターンの推測を抑制）
post-commit:
  scripts:
    "normalize-time.sh":
      runner: bash

#886 Add S3 documents bucket Terraform module
  infra/terraform/environments/dev/main.tf
  infra/terraform/environments/dev/outputs.tf
  infra/terraform/environments/dev/variables.tf
  infra/terraform/modules/s3_documents/main.tf
  infra/terraform/modules/s3_documents/outputs.tf
  infra/terraform/modules/s3_documents/variables.tf
Due: none

#886 Add plan, session log, and fix settings permissions
  .claude/settings.json
  prompts/plans/886-document-tenant-deletion-terraform.md
  prompts/runs/2026-03/2026-03-06_2130_ドキュメント管理テナント退会削除とTerraform.md
Due: none

#1060 Increase validation job max-turns from 15 to 25
  .github/workflows/claude-auto-review.yaml
  prompts/runs/2026-03/2026-03-06_0000_Validation-max-turns修正.md
Due: none

#1063 Add session log
  prompts/runs/2026-03/2026-03-06_2100_detect-uncommitted-plan-files.md
Due: none

#886 Address review feedback: add versions.tf, fix doc link format, update plan progress
  infra/terraform/modules/s3_documents/main.tf
  infra/terraform/modules/s3_documents/versions.tf
  prompts/plans/886-document-tenant-deletion-terraform.md
Due: none

#886 Add document deletion integration tests and S3 Terraform (#1068)
  .claude/settings.json
  backend/.sqlx/query-1f751ad4551dbdc5264124dc3203b4ba6a29f176949adfaaf8319ec530d82aba.json
  backend/.sqlx/query-3dd04240ee7a328e1858922daa4d18b5ddcdaab04da365d5d0a13b1264ad6982.json
  backend/.sqlx/query-5048c97649cd6d2e632084ac51c871927cfb488daa9570848ab39910c3680f3e.json
  backend/.sqlx/query-7a9ba2428a86a2f3348cbc5bd227177b66f0ecc0fe5f16c8ad4c5e1ace8d343f.json
  backend/.sqlx/query-8a64220c41cf21b306e7f1b8393c498d8554888582b669e8f68a3be64abe986d.json
  backend/.sqlx/query-bd9185ec01aa322ea55d64d503275f6ce2e2579082e10d56a7287991c8c96dae.json
  backend/.sqlx/query-ce15f1e09c8c4de8ef983997044a41890921d683f745eb8369d13ec99450b859.json
  backend/.sqlx/query-d8f57fdc9e1d740ef3026d9a8bcba2b9017fda61e277204a53ee21d65ff882de.json
  backend/.sqlx/query-f817f7a3560487d9ae7e18dd440d260b82fcfba7478815bdc6b730e5a1080728.json
  backend/crates/infra/tests/postgres_deleter_test.rs
  infra/terraform/environments/dev/main.tf
  infra/terraform/environments/dev/outputs.tf
  infra/terraform/environments/dev/variables.tf
  infra/terraform/modules/s3_documents/main.tf
  infra/terraform/modules/s3_documents/outputs.tf
  infra/terraform/modules/s3_documents/variables.tf
  infra/terraform/modules/s3_documents/versions.tf
  prompts/plans/886-document-tenant-deletion-terraform.md
  prompts/runs/2026-03/2026-03-06_2130_ドキュメント管理テナント退会削除とTerraform.md
Due: rustfmt-check

#1063 Fix inaccurate comments in check-uncommitted-plans.sh
  scripts/check/check-uncommitted-plans.sh
Due: none

#885 Implement folder tree component and document list view
  frontend/src/Component/FolderTree.elm
  frontend/src/Page/Document/List.elm
  frontend/tests/Component/FolderTreeTest.elm
  prompts/plans/885-document-management-frontend.md
Due: elm-format-check

#885 Add implementation plan for document management frontend
  prompts/plans/885-document-management-frontend.md
Due: none

#885 Add Documents route, page skeleton, and sidebar link
  frontend/src/Component/Icons.elm
  frontend/src/Main.elm
  frontend/src/Page/Document/List.elm
  frontend/src/Route.elm
Due: elm-format-check

#885 Add Folder data module and API clients
  frontend/src/Api/Document.elm
  frontend/src/Api/Folder.elm
  frontend/src/Data/Folder.elm
  frontend/tests/Data/FolderTest.elm
Due: elm-format-check

#885 Add file operations (upload, download, delete)
  frontend/src/Api/Document.elm
  frontend/src/Page/Document/List.elm
Due: elm-format-check

#885 Add folder CRUD operations (create, rename, delete)
  frontend/src/Page/Document/List.elm
Due: elm-format-check

#885 Add update logic tests and fix review feedback
  frontend/src/Component/FolderTree.elm
  frontend/src/Page/Document/List.elm
  frontend/tests/Page/Document/ListTest.elm
  frontend/tests/RouteTest.elm
Due: elm-format-check

#885 Fix 4-element tuple to comply with Elm's 3-element limit
  frontend/src/Page/Document/List.elm
Due: elm-format-check

#885 Update plan progress and add file size exception
  .config/file-size-exceptions.txt
  prompts/plans/885-document-management-frontend.md
Due: none

#885 Add session log and explanation docs for #885 document management frontend
  docs/90_実装解説/PR1067_ドキュメント管理フロントエンド/01_ドキュメント管理画面_コード解説.md
  docs/90_実装解説/PR1067_ドキュメント管理フロントエンド/01_ドキュメント管理画面_機能解説.md
  prompts/runs/2026-03/2026-03-06_2009_885_document-management-frontend.md
Due: none

#885 Fix review feedback: S3 upload flow, decoder naming, a11y
  frontend/src/Api/Folder.elm
  frontend/src/Component/FolderTree.elm
  frontend/src/Data/Folder.elm
  frontend/src/Page/Document/List.elm
  frontend/tests/Page/Document/ListTest.elm
Due: elm-format-check

#885 Fix elm-review lint errors in document management page
  frontend/src/Main.elm
  frontend/src/Page/Document/List.elm
  frontend/tests/Component/FolderTreeTest.elm
Due: elm-format-check

#885 Implement document management frontend (#1067)
  .config/file-size-exceptions.txt
  docs/90_実装解説/PR1067_ドキュメント管理フロントエンド/01_ドキュメント管理画面_コード解説.md
  docs/90_実装解説/PR1067_ドキュメント管理フロントエンド/01_ドキュメント管理画面_機能解説.md
  frontend/src/Api/Document.elm
  frontend/src/Api/Folder.elm
  frontend/src/Component/FolderTree.elm
  frontend/src/Component/Icons.elm
  frontend/src/Data/Folder.elm
  frontend/src/Main.elm
  frontend/src/Page/Document/List.elm
  frontend/src/Route.elm
  frontend/tests/Component/FolderTreeTest.elm
  frontend/tests/Data/FolderTest.elm
  frontend/tests/Page/Document/ListTest.elm
  frontend/tests/RouteTest.elm
  prompts/plans/885-document-management-frontend.md
  prompts/runs/2026-03/2026-03-06_2009_885_document-management-frontend.md
Due: elm-format-check

#1074 Fix upload request encoder to use content_length field
  frontend/src/Api/Document.elm
  frontend/tests/Api/DocumentTest.elm
Due: elm-format-check

#1074 Add improvement record for API field name mismatch
  process/improvements/2026-03/2026-03-06_2324_フロントエンドとバックエンド間のAPIフィールド名不一致.md
Due: none

#1071 Update Phase 2-5 completion status in roadmap and design docs
  docs/20_機能仕様書/05_通知機能.md
  docs/20_機能仕様書/06_ドキュメント管理.md
  docs/30_基本設計書/03_インフラとDB設計.md
  docs/40_詳細設計書/00_実装ロードマップ.md
  docs/40_詳細設計書/16_通知機能設計.md
  docs/40_詳細設計書/17_ドキュメント管理設計.md
  process/reports/2026-03-06_2100_プロジェクト健全性診断.md
Due: none

#1071 Fix duplicate table separator in roadmap changelog
  docs/40_詳細設計書/00_実装ロードマップ.md
Due: none

#1071 Update roadmap and remove Phase 2-5 implementation status markers (#1073)
  docs/20_機能仕様書/05_通知機能.md
  docs/20_機能仕様書/06_ドキュメント管理.md
  docs/30_基本設計書/03_インフラとDB設計.md
  docs/40_詳細設計書/00_実装ロードマップ.md
  docs/40_詳細設計書/16_通知機能設計.md
  docs/40_詳細設計書/17_ドキュメント管理設計.md
  process/reports/2026-03-06_2100_プロジェクト健全性診断.md
Due: none

#1072 Update README Phase progress and numbers (#1076)
  README.ja.md
  README.md
Due: none

#1074 Extract encodeFolderUploadRequest and add test
  frontend/src/Api/Document.elm
  frontend/tests/Api/DocumentTest.elm
  process/improvements/2026-03/2026-03-08_1430_レビュー指摘の確信度を問題の重要度と混同した.md
Due: elm-format-check

#1074 Add issue number to improvement record action item
  process/improvements/2026-03/2026-03-08_1430_レビュー指摘の確信度を問題の重要度と混同した.md
Due: none

#1074 Fix upload content_length field mismatch (#1075)
  frontend/src/Api/Document.elm
  frontend/tests/Api/DocumentTest.elm
  process/improvements/2026-03/2026-03-06_2324_フロントエンドとバックエンド間のAPIフィールド名不一致.md
  process/improvements/2026-03/2026-03-08_1430_レビュー指摘の確信度を問題の重要度と混同した.md
Due: elm-format-check

#1077 Add fact verification requirement to review skip decisions (#1078)
  .claude/skills/review-and-merge/SKILL.md
  process/improvements/2026-03/2026-03-08_1430_レビュー指摘の確信度を問題の重要度と混同した.md
Due: none

#1079 Add API contract test criteria for frontend stories (#1081)
  .claude/rules/dev-flow-issue.md
  .claude/rules/dev-flow-tdd.md
  .claude/rules/pre-implementation.md
  process/improvements/2026-03/2026-03-06_2324_フロントエンドとバックエンド間のAPIフィールド名不一致.md
Due: none

Upgrade all review models from Sonnet to Opus
  .github/workflows/claude-auto-review.yaml
  .github/workflows/claude-rules-check.yaml
Due: none

Rename Shell CI job to Shell & CI Workflow for clarity
  .github/workflows/ci.yaml
Due: none

Fix remaining Sonnet reference in validation job comment
  .github/workflows/claude-auto-review.yaml
Due: none
