Repository ka2kama/ringiflow: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt-check, elm-format-check

lefthook.yaml:

# lefthook 設定
# インストール: https://github.com/evilmartians/lefthook

# コミット前のチェック（ブランチ保護 + フォーマット + 拡張子）
pre-commit:
  parallel: true
  commands:
    no-main-commit:
      # main ブランチへの直接コミットを禁止
      run: |
        BRANCH=$(git symbolic-ref --short HEAD 2>/dev/null)
        if [ "$BRANCH" = "main" ]; then
          echo "Error: main ブランチへの直接コミットは禁止されています。ブランチを作成してください。"
          exit 1
        fi
    no-yml-extension:
      # .yml ファイルの追加を禁止（.yaml を使用すること）
      # .gitignore 内の参照は許可
      run: |
        files=$(git diff --cached --name-only --diff-filter=A | grep '\.yml$' || true)
        if [ -n "$files" ]; then
          echo "Error: .yml 拡張子は使用できません。.yaml を使用してください。"
          echo "該当ファイル:"
          echo "$files"
          exit 1
        fi
    rustfmt-check:
      glob: "*.rs"
      run: rustfmt +nightly --edition 2024 --check {staged_files}
    elm-format-check:
      glob: "*.elm"
      run: elm-format --validate {staged_files}

# プッシュ前のチェック（lint + unit test、DB 不要）
pre-push:
  commands:
    check-pre-push:
      run: just check-pre-push

# コミットメッセージ作成時に Issue 番号を自動付与
prepare-commit-msg:
  scripts:
    "add-issue-number.sh":
      runner: bash
    "add-model-to-attribution.sh":
      runner: bash

# コミット時刻を夜の時間帯に正規化（生活パターンの推測を抑制）
post-commit:
  scripts:
    "normalize-time.sh":
      runner: bash

#725 Implement workflow designer canvas and step placement (#733)
  docs/06_ナレッジベース/elm/SVGキャンバスとBrowserEvents.md
  docs/07_実装解説/PR733_ワークフローデザイナーキャンバス/01_ワークフローデザイナーキャンバス_コード解説.md
  docs/07_実装解説/PR733_ワークフローデザイナーキャンバス/01_ワークフローデザイナーキャンバス_機能解説.md
  frontend/src/Component/Icons.elm
  frontend/src/Data/DesignerCanvas.elm
  frontend/src/Main.elm
  frontend/src/Page/WorkflowDefinition/Designer.elm
  frontend/src/Ports.elm
  frontend/src/Route.elm
  frontend/src/main.js
  frontend/tests/Data/DesignerCanvasTest.elm
  frontend/tests/Page/WorkflowDefinition/DesignerTest.elm
  frontend/tests/RouteTest.elm
  prompts/plans/725_workflow-designer-canvas.md
  prompts/runs/2026-02/2026-02-20_2123_ワークフローデザイナーキャンバス実装.md
Due: elm-format-check

#724 Add session log, explanation docs, and rename plan file
  docs/07_実装解説/PR734_ワークフロー定義管理画面/01_ワークフロー定義管理_コード解説.md
  docs/07_実装解説/PR734_ワークフロー定義管理画面/01_ワークフロー定義管理_機能解説.md
  prompts/plans/724_workflow-definition-management-screen.md
  prompts/runs/2026-02/2026-02-20_2105_ワークフロー定義管理画面.md
Due: none

#724 Fix E2E test strict mode violation for create button
  tests/e2e/tests/workflow-definition-management.spec.ts
Due: none

#724 Fix create dialog not closing after successful creation
  frontend/src/Page/WorkflowDefinition/List.elm
Due: elm-format-check

#724 Fix broken links in explanation docs
  docs/07_実装解説/PR734_ワークフロー定義管理画面/01_ワークフロー定義管理_コード解説.md
  docs/07_実装解説/PR734_ワークフロー定義管理画面/01_ワークフロー定義管理_機能解説.md
Due: none

#724 Wait for page load before E2E form interactions
  tests/e2e/tests/workflow-definition-management.spec.ts
Due: none

#724 Add Cache-Control no-store middleware for API responses
  backend/apps/bff/src/main.rs
  backend/apps/bff/src/middleware.rs
  backend/apps/bff/src/middleware/cache_control.rs
Due: rustfmt-check

#724 Add valid default definition for publish validation
  frontend/src/Data/WorkflowDefinition.elm
  frontend/tests/Data/WorkflowDefinitionStatusTest.elm
Due: elm-format-check

#724 Fix status string case mismatch between backend and frontend
  frontend/src/Data/WorkflowDefinition.elm
  frontend/src/Page/WorkflowDefinition/List.elm
  frontend/tests/Data/WorkflowDefinitionStatusTest.elm
Due: elm-format-check

#723 Add CRUD business logic to WorkflowDefinition domain model
  backend/crates/domain/src/workflow/definition.rs
  prompts/plans/723_workflow-definition-crud.md
Due: rustfmt-check

#724 Implement workflow definition management screen (#734)
  backend/apps/bff/src/main.rs
  backend/apps/bff/src/middleware.rs
  backend/apps/bff/src/middleware/cache_control.rs
  docs/07_実装解説/PR734_ワークフロー定義管理画面/01_ワークフロー定義管理_コード解説.md
  docs/07_実装解説/PR734_ワークフロー定義管理画面/01_ワークフロー定義管理_機能解説.md
  docs/08_テスト/E2Eテスト突合表.md
  frontend/src/Api/WorkflowDefinition.elm
  frontend/src/Component/Icons.elm
  frontend/src/Data/WorkflowDefinition.elm
  frontend/src/Main.elm
  frontend/src/Page/WorkflowDefinition/List.elm
  frontend/src/Route.elm
  frontend/tests/Data/WorkflowDefinitionStatusTest.elm
  frontend/tests/RouteTest.elm
  process/investigations/2026-02/2026-02-20_2211_E2Eテスト公開後ステータス表示不具合.md
  prompts/plans/724_workflow-definition-management-screen.md
  prompts/runs/2026-02/2026-02-20_2105_ワークフロー定義管理画面.md
  prompts/runs/2026-02/2026-02-20_2211_E2Eテストデバッグとステータス修正.md
  tests/e2e/tests/workflow-definition-management.spec.ts
Due: rustfmt-check, elm-format-check

#713 Fix WorkflowDefinition decoder and buildApprovers ordering bugs
  frontend/src/Api/WorkflowDefinition.elm
  frontend/src/Data/WorkflowDefinition.elm
  frontend/src/Page/Workflow/New.elm
  tests/e2e/helpers/workflow.ts
  tests/e2e/tests/request-changes.spec.ts
Due: elm-format-check

#719 Add investigation record system for troubleshooting evidence
  .claude/rules/troubleshooting.md
  .claude/skills/wrap-up/SKILL.md
  CLAUDE.md
  process/investigations/README.md
  prompts/plans/elegant-sleeping-forest.md
Due: none

#718 Add detailDecoder to WorkflowInstance and WorkflowComment
  frontend/src/Data/WorkflowComment.elm
  frontend/src/Data/WorkflowInstance.elm
  frontend/tests/Data/WorkflowCommentTest.elm
  frontend/tests/Data/WorkflowInstanceTest.elm
Due: elm-format-check

#723 Add workflow definition validator with 10 validation rules
  backend/crates/domain/src/workflow.rs
  backend/crates/domain/src/workflow/definition_validator.rs
Due: rustfmt-check

#713 Enhance troubleshooting framework with systematic hypothesis tracking
  .claude/rules/troubleshooting.md
  process/improvements/2026-02/2026-02-20_0012_散弾銃デバッグによるトラブルシューティング効率低下.md
Due: none

#719 Add session log and rename plan file for investigation records
  prompts/plans/719_investigation-records.md
  prompts/runs/2026-02/2026-02-20_1013_調査記録体系の構築.md
Due: none

#731 Add specific OpenAPI verification steps to quality checklist
  docs/04_手順書/04_開発フロー/01_Issue駆動開発.md
Due: none

#735 Add lint for unchecked plan confirmation items
  justfile
  scripts/check/parallel.sh
  scripts/check/plan-confirmations.sh
Due: none

#735 Add test plan file
  prompts/plans/_test_plan.md
Due: none

#735 Remove test plan file
  prompts/plans/_test_plan.md
Due: none

#735 Add improvement record for plan confirmation lint
  process/improvements/2026-02/2026-02-20_2100_計画ファイルの確認事項チェック漏れの頻発.md
Due: none

#722 Fix review comments: docs rules compliance and schema consistency
  docs/01_要件定義書/機能仕様書/04_ワークフローデザイナー.md
  docs/03_詳細設計書/15_ワークフローデザイナー設計.md
  docs/05_ADR/053_ワークフローデザイナー技術選定.md
Due: none

#725 Implement workflow designer canvas and step placement
  frontend/src/Component/Icons.elm
  frontend/src/Data/DesignerCanvas.elm
  frontend/src/Main.elm
  frontend/src/Page/WorkflowDefinition/Designer.elm
  frontend/src/Ports.elm
  frontend/src/Route.elm
  frontend/src/main.js
  frontend/tests/Data/DesignerCanvasTest.elm
  frontend/tests/Page/WorkflowDefinition/DesignerTest.elm
  frontend/tests/RouteTest.elm
  prompts/plans/cached-mixing-music.md
Due: elm-format-check

#713 Add decoder naming convention to frontend rules
  .claude/rules/frontend.md
  prompts/plans/elegant-sleeping-forest.md
Due: none

#722 Remove bold from numbered list items in ADR-053
  docs/05_ADR/053_ワークフローデザイナー技術選定.md
Due: none

#718 Replace inline Decode.field "data" with Data module decoders
  frontend/src/Api/Workflow.elm
Due: elm-format-check

#735 Add lint for unchecked plan confirmation items (#738)
  justfile
  process/improvements/2026-02/2026-02-20_2100_計画ファイルの確認事項チェック漏れの頻発.md
  scripts/check/parallel.sh
  scripts/check/plan-confirmations.sh
Due: none

#723 Extend WorkflowDefinitionRepository with CRUD operations
  backend/crates/infra/src/mock.rs
  backend/crates/infra/src/repository/workflow_definition_repository.rs
Due: rustfmt-check

#719 Fix review feedback: simplify rule file tone and update plan filename reference
  .claude/rules/troubleshooting.md
  prompts/runs/2026-02/2026-02-20_1013_調査記録体系の構築.md
Due: none

#731 Add main sync step to /start skill
  .claude/skills/start/SKILL.md
Due: none

#725 Add wrap-up documents for workflow designer canvas
  docs/06_ナレッジベース/elm/SVGキャンバスとBrowserEvents.md
  docs/07_実装解説/PR733_ワークフローデザイナーキャンバス/01_ワークフローデザイナーキャンバス_コード解説.md
  docs/07_実装解説/PR733_ワークフローデザイナーキャンバス/01_ワークフローデザイナーキャンバス_機能解説.md
  prompts/plans/725_workflow-designer-canvas.md
  prompts/runs/2026-02/2026-02-20_2123_ワークフローデザイナーキャンバス実装.md
Due: none

#723 Add WorkflowDefinitionUseCaseImpl with CRUD operations
  backend/apps/core-service/src/usecase.rs
  backend/apps/core-service/src/usecase/workflow_definition.rs
Due: rustfmt-check

#725 Fix broken doc links in wrap-up documents
  docs/06_ナレッジベース/elm/SVGキャンバスとBrowserEvents.md
  docs/07_実装解説/PR733_ワークフローデザイナーキャンバス/01_ワークフローデザイナーキャンバス_コード解説.md
  docs/07_実装解説/PR733_ワークフローデザイナーキャンバス/01_ワークフローデザイナーキャンバス_機能解説.md
Due: none

#725 Address review feedback: deduplicate viewBox constants and simplify KeyDown
  frontend/src/Data/DesignerCanvas.elm
  frontend/src/Page/WorkflowDefinition/Designer.elm
  prompts/plans/725_workflow-designer-canvas.md
Due: elm-format-check

#713 Add session log, implementation docs, and rename plan file
  docs/07_実装解説/PR717_E2Eテスト多段階承認/01_E2Eテスト多段階承認_コード解説.md
  docs/07_実装解説/PR717_E2Eテスト多段階承認/01_E2Eテスト多段階承認_機能解説.md
  prompts/plans/713_e2e-multi-step-approval.md
  prompts/runs/2026-02/2026-02-19_2109_E2Eテスト完成とトラブルシューティング改訂.md
Due: none

#723 Add workflow definition CRUD handlers and routes
  backend/apps/core-service/src/handler.rs
  backend/apps/core-service/src/handler/workflow/query.rs
  backend/apps/core-service/src/handler/workflow_definition.rs
  backend/apps/core-service/src/main.rs
  backend/apps/core-service/src/usecase/workflow/query.rs
Due: rustfmt-check

#718 Add implementation plan for decoder unification
  prompts/plans/serialized-tinkering-quail.md
Due: none

#718 Add session log and rename plan file for #718
  prompts/plans/718_unify-decode-field-data.md
  prompts/runs/2026-02/2026-02-20_2126_Decodeフィールドdata統一.md
Due: none
