Repository ka2kama/ringiflow: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt-check, elm-format-check

lefthook.yaml:

# lefthook 設定
# インストール: https://github.com/evilmartians/lefthook

# コミット前のチェック（ブランチ保護 + フォーマット + 拡張子）
pre-commit:
  parallel: true
  commands:
    no-main-commit:
      # main ブランチへの直接コミットを禁止
      run: |
        BRANCH=$(git symbolic-ref --short HEAD 2>/dev/null)
        if [ "$BRANCH" = "main" ]; then
          echo "Error: main ブランチへの直接コミットは禁止されています。ブランチを作成してください。"
          exit 1
        fi
    no-yml-extension:
      # .yml ファイルの追加を禁止（.yaml を使用すること）
      # .gitignore 内の参照は許可
      run: |
        files=$(git diff --cached --name-only --diff-filter=A | grep '\.yml$' || true)
        if [ -n "$files" ]; then
          echo "Error: .yml 拡張子は使用できません。.yaml を使用してください。"
          echo "該当ファイル:"
          echo "$files"
          exit 1
        fi
    rustfmt-check:
      glob: "*.rs"
      run: rustfmt +nightly --edition 2024 --check {staged_files}
    elm-format-check:
      glob: "*.elm"
      run: elm-format --validate {staged_files}

# プッシュ前のチェック（lint + unit test、DB 不要）
pre-push:
  commands:
    check-pre-push:
      run: just check-pre-push

# コミットメッセージ作成時に Issue 番号を自動付与
prepare-commit-msg:
  scripts:
    "add-issue-number.sh":
      runner: bash
    "add-model-to-attribution.sh":
      runner: bash

# コミット時刻を夜の時間帯に正規化（生活パターンの推測を抑制）
post-commit:
  scripts:
    "normalize-time.sh":
      runner: bash

Add user response judgment guideline to CLAUDE.md (#844)
  CLAUDE.md
  prompts/runs/2026-02/2026-02-23_2106_ユーザー発言応答判定ガイドライン.md
Due: none

#827 Add user response judgment guideline to CLAUDE.md
  CLAUDE.md
Due: none

Add retrospective report for 2026-02-23
  process/reports/2026-02-23_1902_レトロスペクティブ.md
Due: none

Add periodic DevAuth session refresh to prevent TTL expiry
  backend/apps/bff/src/dev_auth.rs
  backend/apps/bff/src/main.rs
Due: rustfmt-check

#831 Add workaround follow-up Issue requirement to zoom-rhythm.md
  .claude/rules/zoom-rhythm.md
  process/improvements/2026-02/2026-02-23_1932_ワークアラウンド導入時のフォローアップIssue作成漏れ.md
Due: none

#831 Update improvement record: mark action item as completed
  process/improvements/2026-02/2026-02-23_1932_ワークアラウンド導入時のフォローアップIssue作成漏れ.md
Due: none

#831 Add session log for workaround follow-up Issue requirement
  prompts/runs/2026-02/2026-02-23_2127_ワークアラウンド-フォローアップIssue成果物要件化.md
Due: none

Add session log for DevAuth session TTL refresh
  prompts/runs/2026-02/2026-02-23_2111_DevAuthセッションTTL更新.md
Due: none

#795 Add ADR-054 and enforce ADT state machine pattern
  .claude/rules/pre-implementation.md
  .claude/rules/zoom-rhythm.md
  .github/workflows/claude-auto-review.yaml
  docs/04_手順書/04_開発フロー/02_TDD開発フロー.md
  docs/05_ADR/054_ADTベース状態マシンパターンの標準化.md
Due: none

#779 Add audit log API test and update coverage table
  docs/08_テスト/APIテスト突合表.md
  tests/api/hurl/audit_log/list_audit_logs.hurl
Due: none

#827 Add session log for user response judgment guideline
  prompts/runs/2026-02/2026-02-23_2106_ユーザー発言応答判定ガイドライン.md
Due: none

#818 Fix Rules Check violations: rename plan file, add ADR links
  frontend/src/Page/Task/Detail.elm
  prompts/plans/818_task-detail-adt-state-machine.md
Due: elm-format-check

Add workaround follow-up Issue requirement to zoom-rhythm.md (#849)
  .claude/rules/zoom-rhythm.md
  process/improvements/2026-02/2026-02-23_1932_ワークアラウンド導入時のフォローアップIssue作成漏れ.md
  prompts/runs/2026-02/2026-02-23_2127_ワークアラウンド-フォローアップIssue成果物要件化.md
Due: none

Redo retrospective report with corrected data (22 records)
  process/reports/2026-02-23_1902_レトロスペクティブ.md
Due: none

Add session log and rename plan file for #813
  prompts/plans/813_rules-check-path-matching.md
  prompts/runs/2026-02/2026-02-23_2128_レトロスペクティブやり直しと改善記録.md
Due: none

Sanitize direct user quotes in session log
  prompts/runs/2026-02/2026-02-23_2128_レトロスペクティブやり直しと改善記録.md
Due: none

#795 Add session log for ADT state machine standardization
  prompts/runs/2026-02/2026-02-23_2114_ADTベース状態マシン標準化.md
Due: none

Redo retrospective report with corrected data (22 records) (#850)
  process/reports/2026-02-23_1902_レトロスペクティブ.md
  prompts/plans/813_rules-check-path-matching.md
  prompts/runs/2026-02/2026-02-23_2128_レトロスペクティブやり直しと改善記録.md
Due: none

#793 Fix canvas bounds request timing in designer
  frontend/src/Page/WorkflowDefinition/Designer.elm
Due: elm-format-check

#779 Add session log for audit log API test
  prompts/runs/2026-02/2026-02-23_2107_監査ログAPIテスト追加.md
Due: none

#773 Add generated files guard to pre-implementation rules
  .claude/rules/generated-files.md
  .claude/rules/pre-implementation.md
Due: none

#773 Add session log and rename plan file for #773
  prompts/plans/773_generated-files-guard.md
  prompts/runs/2026-02/2026-02-23_2126_generated-files-guard.md
Due: none

Add action item Issue creation step to /retro skill (#851)
  .claude/skills/retro/SKILL.md
Due: none

#820 Fix broken doc links to entity impact map
  docs/07_実装解説/PR840_WorkflowStep-ADTステートマシン/01_WorkflowStep-ADTステートマシン_コード解説.md
  docs/07_実装解説/PR840_WorkflowStep-ADTステートマシン/01_WorkflowStep-ADTステートマシン_機能解説.md
Due: none

#820 Fix doc reference links and stale plan file name
  backend/crates/domain/src/workflow/step.rs
  prompts/runs/2026-02/2026-02-23_2103_WorkflowStep_ADTステートマシン.md
Due: rustfmt-check

#820 Refactor WorkflowStep to ADT-based state machine
  backend/crates/domain/src/workflow/step.rs
  backend/crates/infra/src/repository/workflow_step_repository.rs
  prompts/plans/joyful-snacking-cookie.md
Due: rustfmt-check

#820 Add explanation docs for WorkflowStep ADT state machine
  docs/07_実装解説/PR840_WorkflowStep-ADTステートマシン/01_WorkflowStep-ADTステートマシン_コード解説.md
  docs/07_実装解説/PR840_WorkflowStep-ADTステートマシン/01_WorkflowStep-ADTステートマシン_機能解説.md
  prompts/plans/820_workflow-step-adt-state-machine.md
  prompts/runs/2026-02/2026-02-23_2103_WorkflowStep_ADTステートマシン.md
Due: none

Add action item Issue creation step to /retro skill
  .claude/skills/retro/SKILL.md
Due: none

#817 Add Markdown link for ADR-054 reference in module doc
  frontend/src/Page/Workflow/New.elm
Due: elm-format-check

#795 Fix bold formatting violations in ADR-054
  docs/05_ADR/054_ADTベース状態マシンパターンの標準化.md
Due: none

#793 Add session log for designer initial drag fix
  prompts/runs/2026-02/2026-02-23_2111_デザイナー初期ドラッグ不可バグ修正.md
Due: none

Abort reset on migration failure instead of continuing
  infra/lightsail/reset.sh
Due: none

#820 Refactor WorkflowStep domain model to ADT state machine (#840)
  backend/crates/domain/src/workflow/step.rs
  backend/crates/infra/src/repository/workflow_step_repository.rs
  docs/07_実装解説/PR840_WorkflowStep-ADTステートマシン/01_WorkflowStep-ADTステートマシン_コード解説.md
  docs/07_実装解説/PR840_WorkflowStep-ADTステートマシン/01_WorkflowStep-ADTステートマシン_機能解説.md
  prompts/plans/820_workflow-step-adt-state-machine.md
  prompts/runs/2026-02/2026-02-23_2103_WorkflowStep_ADTステートマシン.md
Due: rustfmt-check

#815 Restore match-rules.py for workflow_run compatibility
  .github/scripts/match-rules.py
Due: none

#834 Expand ADR-056 scope, update docs, and delete old shell script
  .claude/rules/observability.md
  docs/05_ADR/056_CIスクリプトの言語選定方針.md
  docs/06_ナレッジベース/devtools/rust-script.md
  scripts/check/instrumentation.sh
Due: none
