Repository ka2kama/ringiflow: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt-check, elm-format-check

lefthook.yaml:

# lefthook 設定
# インストール: https://github.com/evilmartians/lefthook

# コミット前のチェック（ブランチ保護 + フォーマット + 拡張子）
pre-commit:
  parallel: true
  commands:
    no-main-commit:
      # main ブランチへの直接コミットを禁止
      run: |
        BRANCH=$(git symbolic-ref --short HEAD 2>/dev/null)
        if [ "$BRANCH" = "main" ]; then
          echo "Error: main ブランチへの直接コミットは禁止されています。ブランチを作成してください。"
          exit 1
        fi
    no-yml-extension:
      # .yml ファイルの追加を禁止（.yaml を使用すること）
      # .gitignore 内の参照は許可
      run: |
        files=$(git diff --cached --name-only --diff-filter=A | grep '\.yml$' || true)
        if [ -n "$files" ]; then
          echo "Error: .yml 拡張子は使用できません。.yaml を使用してください。"
          echo "該当ファイル:"
          echo "$files"
          exit 1
        fi
    rustfmt-check:
      glob: "*.rs"
      run: rustfmt +nightly --edition 2024 --check {staged_files}
    elm-format-check:
      glob: "*.elm"
      run: elm-format --validate {staged_files}

# プッシュ前のチェック（lint + unit test、DB 不要）
pre-push:
  commands:
    check-pre-push:
      run: just check-pre-push

# コミットメッセージ作成時に Issue 番号を自動付与
prepare-commit-msg:
  scripts:
    "add-issue-number.sh":
      runner: bash
    "add-model-to-attribution.sh":
      runner: bash

# コミット時刻を夜の時間帯に正規化（生活パターンの推測を抑制）
post-commit:
  scripts:
    "normalize-time.sh":
      runner: bash

#713 Fix broken link to renamed plan file
  docs/07_実装解説/PR717_E2Eテスト多段階承認/01_E2Eテスト多段階承認_コード解説.md
Due: none

#723 Add BFF layer for workflow definition CRUD API
  backend/apps/bff/src/client.rs
  backend/apps/bff/src/client/core_service/types.rs
  backend/apps/bff/src/client/core_service/workflow_client.rs
  backend/apps/bff/src/handler.rs
  backend/apps/bff/src/handler/workflow_definition.rs
  backend/apps/bff/src/main.rs
  backend/migrations/20260220000001_add_workflow_definition_manage_permission.sql
Due: rustfmt-check

#713 Add Given-When-Then comments to approval E2E tests
  tests/e2e/tests/approval.spec.ts
Due: none

#723 Add integration tests for workflow definition CRUD API
  backend/apps/bff/tests/workflow_definition_authz_test.rs
  backend/apps/core-service/tests/workflow_definition_integration_test.rs
  prompts/plans/723_workflow-definition-crud.md
Due: rustfmt-check

#723 Fix clippy collapsible_if and snake_case warnings
  backend/crates/domain/src/workflow/definition.rs
  backend/crates/domain/src/workflow/definition_validator.rs
Due: rustfmt-check

#723 Add SQLx prepared query cache for workflow definition CRUD
  backend/.sqlx/query-043f3c62914da426486190822b821226fc9d73316fe95e928b04474df3c0d5bc.json
  backend/.sqlx/query-816efbf1f3b541900e92c0ec1a608aee9d53b9cc12ce847683f638b8cccc94f7.json
  backend/.sqlx/query-938889055100387a2e2779c590486c323d560a43fed5a0d5e638705155d283dd.json
  backend/.sqlx/query-e71c03c6c77b1469b1cdf45512ebf9716a57e431fc06678852fc69353e57afd4.json
Due: none

#724 Add investigation record and session log for E2E debugging
  process/investigations/2026-02/2026-02-20_2211_E2Eテスト公開後ステータス表示不具合.md
  prompts/runs/2026-02/2026-02-20_2211_E2Eテストデバッグとステータス修正.md
Due: none

#723 Add session log and implementation docs for workflow definition CRUD
  docs/07_実装解説/PR730_ワークフロー定義CRUD/01_ワークフロー定義CRUD_コード解説.md
  docs/07_実装解説/PR730_ワークフロー定義CRUD/01_ワークフロー定義CRUD_機能解説.md
  prompts/runs/2026-02/2026-02-20_2113_ワークフロー定義CRUD-API実装.md
Due: none

#724 Fix duplicate navigation label for workflow designer
  frontend/src/Main.elm
Due: elm-format-check

#723 Fix review comments: OpenAPI registration and ORDER BY determinism
  backend/.sqlx/query-55a542e003ec46d04b36e5c3dafc0637dee23574aa36ff50842ed4e304bcc5cc.json
  backend/.sqlx/query-5a8a3d6d0637232cb7b665ff1b66ae7edfab5994c00db6fb0f9bf97220d8425b.json
  backend/apps/bff/src/handler/workflow_definition.rs
  backend/apps/bff/src/openapi.rs
  backend/apps/bff/tests/openapi_spec.rs
  backend/apps/bff/tests/snapshots/openapi_spec__openapi_spec.snap
  backend/crates/infra/src/repository/workflow_definition_repository.rs
  openapi/openapi.yaml
  process/improvements/2026-02/2026-02-20_1013_新規ハンドラのOpenAPI登録漏れ.md
Due: rustfmt-check

#736 Add readiness check endpoint to Auth Service
  backend/apps/auth-service/Cargo.toml
  backend/apps/auth-service/src/handler.rs
  backend/apps/auth-service/src/handler/health.rs
  backend/apps/auth-service/src/main.rs
Due: rustfmt-check

#736 Add readiness check endpoint to Core Service
  backend/apps/core-service/Cargo.toml
  backend/apps/core-service/src/handler.rs
  backend/apps/core-service/src/handler/health.rs
  backend/apps/core-service/src/main.rs
Due: rustfmt-check

#736 Add readiness check shared types (CheckStatus, ReadinessStatus, ReadinessResponse)
  backend/crates/shared/src/health.rs
  backend/crates/shared/src/lib.rs
Due: rustfmt-check

#736 Add wrap-up docs: session log, investigation record, and explanation docs
  docs/07_実装解説/PR737_ReadinessCheck/01_ReadinessCheck_コード解説.md
  docs/07_実装解説/PR737_ReadinessCheck/01_ReadinessCheck_機能解説.md
  process/investigations/2026-02/2026-02-20_2115_Cargo-incremental-cache-stale問題.md
  prompts/plans/736_readiness-check.md
  prompts/runs/2026-02/2026-02-20_2115_ReadinessCheckエンドポイント実装.md
Due: none

#736 Fix OpenAPI spec tests and Redocly lint for readiness check
  backend/apps/bff/src/openapi.rs
  backend/apps/bff/tests/openapi_spec.rs
  backend/apps/bff/tests/snapshots/openapi_spec__openapi_spec.snap
  openapi/.redocly.lint-ignore.yaml
  openapi/openapi.yaml
Due: rustfmt-check

#736 Add Cargo.lock updates and implementation plan
  backend/Cargo.lock
  prompts/plans/keen-squishing-harp.md
Due: none

#736 Add readiness check endpoint to BFF with OpenAPI spec
  backend/apps/bff/Cargo.toml
  backend/apps/bff/src/handler.rs
  backend/apps/bff/src/handler/health.rs
  backend/apps/bff/src/main.rs
  backend/apps/bff/src/openapi.rs
Due: rustfmt-check

#736 Update OpenAPI spec with readiness check endpoint
  openapi/openapi.yaml
Due: none

#736 Implement readiness check endpoint (/health/ready) (#737)
  backend/Cargo.lock
  backend/apps/auth-service/Cargo.toml
  backend/apps/auth-service/src/handler.rs
  backend/apps/auth-service/src/handler/health.rs
  backend/apps/auth-service/src/main.rs
  backend/apps/bff/Cargo.toml
  backend/apps/bff/src/handler.rs
  backend/apps/bff/src/handler/health.rs
  backend/apps/bff/src/main.rs
  backend/apps/bff/src/openapi.rs
  backend/apps/bff/tests/openapi_spec.rs
  backend/apps/bff/tests/snapshots/openapi_spec__openapi_spec.snap
  backend/apps/core-service/Cargo.toml
  backend/apps/core-service/src/handler.rs
  backend/apps/core-service/src/handler/health.rs
  backend/apps/core-service/src/main.rs
  backend/crates/shared/src/health.rs
  backend/crates/shared/src/lib.rs
  docs/07_実装解説/PR737_ReadinessCheck/01_ReadinessCheck_コード解説.md
  docs/07_実装解説/PR737_ReadinessCheck/01_ReadinessCheck_機能解説.md
  openapi/.redocly.lint-ignore.yaml
  openapi/openapi.yaml
  process/investigations/2026-02/2026-02-20_2115_Cargo-incremental-cache-stale問題.md
  prompts/plans/736_readiness-check.md
  prompts/runs/2026-02/2026-02-20_2115_ReadinessCheckエンドポイント実装.md
Due: rustfmt-check

#739 Add session log and rename plan file
  prompts/plans/739_process-docs-ai-optimization.md
  prompts/runs/2026-02/2026-02-20_2152_プロセスドキュメントAIエージェント最適化.md
Due: none

#739 Slim down CLAUDE.md by removing duplication and narrative prose
  CLAUDE.md
  prompts/plans/sleepy-discovering-pillow.md
Due: none

#739 Optimize always-loaded rule files for AI agent efficiency
  .claude/rules/problem-solving.md
  .claude/rules/troubleshooting.md
  .claude/rules/zoom-rhythm.md
  prompts/plans/sleepy-discovering-pillow.md
Due: none

#739 Restore over-trimmed content: Draft re-ready procedure and YAGNI heuristic
  CLAUDE.md
  docs/04_手順書/04_開発フロー/01_Issue駆動開発.md
Due: none

#739 Fix review findings: plan file reference, missing docs/08, stale KB reference
  CLAUDE.md
  docs/06_ナレッジベース/methodology/ISO25010.md
  prompts/runs/2026-02/2026-02-20_2152_プロセスドキュメントAIエージェント最適化.md
Due: none

#739 Optimize process documents for AI agent efficiency (#741)
  .claude/rules/problem-solving.md
  .claude/rules/troubleshooting.md
  .claude/rules/zoom-rhythm.md
  CLAUDE.md
  docs/04_手順書/04_開発フロー/01_Issue駆動開発.md
  docs/06_ナレッジベース/methodology/ISO25010.md
  prompts/plans/739_process-docs-ai-optimization.md
  prompts/runs/2026-02/2026-02-20_2152_プロセスドキュメントAIエージェント最適化.md
Due: none

#726 Add validation, publish flow, and error step highlighting
  frontend/src/Page/WorkflowDefinition/Designer.elm
  frontend/tests/Page/WorkflowDefinition/DesignerTest.elm
  prompts/plans/726_workflow-designer-connections-properties-validation.md
Due: elm-format-check

#726 Integrate designer with API for loading and saving workflow definitions
  frontend/src/Main.elm
  frontend/src/Page/WorkflowDefinition/Designer.elm
  frontend/src/Page/WorkflowDefinition/List.elm
  frontend/src/Route.elm
  frontend/tests/Page/WorkflowDefinition/DesignerTest.elm
  frontend/tests/RouteTest.elm
  prompts/plans/726_workflow-designer-connections-properties-validation.md
Due: elm-format-check

#726 Implement connection lines with drag-and-drop and SVG rendering
  frontend/src/Data/DesignerCanvas.elm
  frontend/src/Page/WorkflowDefinition/Designer.elm
  frontend/tests/Data/DesignerCanvasTest.elm
  frontend/tests/Page/WorkflowDefinition/DesignerTest.elm
  prompts/plans/726_workflow-designer-connections-properties-validation.md
Due: elm-format-check

#726 Add property panel for step attribute editing
  frontend/src/Page/WorkflowDefinition/Designer.elm
  frontend/tests/Page/WorkflowDefinition/DesignerTest.elm
  prompts/plans/726_workflow-designer-connections-properties-validation.md
Due: elm-format-check

#726 Add data types, encoders/decoders for designer connections and validation
  frontend/src/Api/WorkflowDefinition.elm
  frontend/src/Data/DesignerCanvas.elm
  frontend/src/Data/WorkflowDefinition.elm
  frontend/src/Page/WorkflowDefinition/Designer.elm
  frontend/tests/Data/DesignerCanvasTest.elm
  frontend/tests/Data/WorkflowDefinitionTest.elm
  frontend/tests/Page/WorkflowDefinition/DesignerTest.elm
Due: elm-format-check

#726 Add session log and explanation docs for designer connections and validation
  docs/07_実装解説/PR740_ワークフローデザイナー接続線・バリデーション/01_デザイナー接続線・バリデーション_コード解説.md
  docs/07_実装解説/PR740_ワークフローデザイナー接続線・バリデーション/01_デザイナー接続線・バリデーション_機能解説.md
  prompts/runs/2026-02/2026-02-21_0045_デザイナー接続線・プロパティ・バリデーション実装.md
Due: none

#726 Implement workflow designer connections, properties, and validation (#740)
  docs/07_実装解説/PR740_ワークフローデザイナー接続線・バリデーション/01_デザイナー接続線・バリデーション_コード解説.md
  docs/07_実装解説/PR740_ワークフローデザイナー接続線・バリデーション/01_デザイナー接続線・バリデーション_機能解説.md
  frontend/src/Api/WorkflowDefinition.elm
  frontend/src/Data/DesignerCanvas.elm
  frontend/src/Data/WorkflowDefinition.elm
  frontend/src/Main.elm
  frontend/src/Page/WorkflowDefinition/Designer.elm
  frontend/src/Page/WorkflowDefinition/List.elm
  frontend/src/Route.elm
  frontend/tests/Data/DesignerCanvasTest.elm
  frontend/tests/Data/WorkflowDefinitionTest.elm
  frontend/tests/Page/WorkflowDefinition/DesignerTest.elm
  frontend/tests/RouteTest.elm
  prompts/plans/726_workflow-designer-connections-properties-validation.md
  prompts/runs/2026-02/2026-02-21_0045_デザイナー接続線・プロパティ・バリデーション実装.md
Due: elm-format-check

#742 Add Want/To-Be verification step to quality gate (#744)
  docs/04_手順書/04_開発フロー/01_Issue駆動開発.md
Due: none

#745 Restructure Self-review section with category-level checkboxes (#746)
  .claude/rules/zoom-rhythm.md
  .github/pull_request_template.md
  docs/04_手順書/04_開発フロー/01_Issue駆動開発.md
Due: none

#747 Replace plan confirmation checkboxes with gate conditions (#748)
  .claude/rules/pre-implementation.md
  .claude/rules/zoom-rhythm.md
  docs/04_手順書/04_開発フロー/02_TDD開発フロー.md
  docs/06_ナレッジベース/methodology/独自フレームワークと既知手法の対応.md
Due: none

#749 Replace Self-review checkboxes with verification report format (#750)
  .claude/rules/zoom-rhythm.md
  .github/pull_request_template.md
  docs/04_手順書/04_開発フロー/01_Issue駆動開発.md
  process/improvements/2026-02/2026-02-21_2112_コンテキスト圧縮サマリーの事実主張を検証なしに採用.md
Due: none

#743 Remove WorkflowDefinitionDesignerNew route (#753)
  frontend/src/Component/Icons.elm
  frontend/src/Main.elm
  frontend/src/Route.elm
  frontend/tests/RouteTest.elm
  prompts/runs/2026-02/2026-02-21_2115_PR740レビュー対応とIssue743実装.md
Due: elm-format-check
