Repository ka2kama/ringiflow: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt-check, elm-format-check

lefthook.yaml:

# lefthook 設定
# インストール: https://github.com/evilmartians/lefthook

# コミット前のチェック（ブランチ保護 + フォーマット + 拡張子）
pre-commit:
  parallel: true
  commands:
    no-main-commit:
      # main ブランチへの直接コミットを禁止
      run: |
        BRANCH=$(git symbolic-ref --short HEAD 2>/dev/null)
        if [ "$BRANCH" = "main" ]; then
          echo "Error: main ブランチへの直接コミットは禁止されています。ブランチを作成してください。"
          exit 1
        fi
    no-yml-extension:
      # .yml ファイルの追加を禁止（.yaml を使用すること）
      # .gitignore 内の参照は許可
      run: |
        files=$(git diff --cached --name-only --diff-filter=A | grep '\.yml$' || true)
        if [ -n "$files" ]; then
          echo "Error: .yml 拡張子は使用できません。.yaml を使用してください。"
          echo "該当ファイル:"
          echo "$files"
          exit 1
        fi
    rustfmt-check:
      glob: "*.rs"
      run: rustfmt +nightly --edition 2024 --check {staged_files}
    elm-format-check:
      glob: "*.elm"
      run: elm-format --validate {staged_files}

# プッシュ前のチェック（lint + unit test、DB 不要）
pre-push:
  commands:
    check-pre-push:
      run: just check-pre-push

# コミットメッセージ作成時に Issue 番号を自動付与
prepare-commit-msg:
  scripts:
    "add-issue-number.sh":
      runner: bash
    "add-model-to-attribution.sh":
      runner: bash

# コミット時刻を夜の時間帯に正規化（生活パターンの推測を抑制）
post-commit:
  scripts:
    "normalize-time.sh":
      runner: bash

Add TODO/FIXME lifecycle management with stale annotation lint (#893)
  .claude/rules/code-annotations.md
  backend/apps/core-service/src/usecase/workflow.rs
  docs/04_手順書/04_開発フロー/01_Issue駆動開発.md
  frontend/src/Page/Workflow/New.elm
  justfile
  process/improvements/2026-02/2026-02-24_1500_TODO-FIXMEのライフサイクル管理不在.md
  prompts/plans/20260224_todo-fixme-lifecycle.md
  prompts/runs/2026-02/2026-02-24_2104_TODO-FIXMEライフサイクル管理.md
  scripts/check/parallel.sh
  scripts/check/stale-annotations.sh
Due: rustfmt-check, elm-format-check

#894 Map quality mechanisms to ISO 25010:2023 quality characteristics (#895)
  .claude/rules/zoom-rhythm.md
  docs/04_手順書/04_開発フロー/01_Issue駆動開発.md
  docs/04_手順書/04_開発フロー/02_TDD開発フロー.md
  docs/06_ナレッジベース/methodology/ISO25010.md
  prompts/plans/894_quality-checklist-iso25010-mapping.md
  prompts/runs/2026-02/2026-02-24_2200_品質チェックリストISO25010マッピング.md
Due: none

#897 Add improvement record: PR body written in English (#897)
  process/improvements/2026-02/2026-02-24_1818_PR本文を英語で記述した.md
Due: none

#897 Rename PR template section names to Japanese (#898)
  .claude/rules/zoom-rhythm.md
  .github/pull_request_template.md
  README.ja.md
  docs/04_手順書/02_プロジェクト構築/03_GitHub設定.md
  docs/04_手順書/04_開発フロー/01_Issue駆動開発.md
  docs/06_ナレッジベース/methodology/ISO25010.md
  docs/06_ナレッジベース/methodology/独自フレームワークと既知手法の対応.md
  process/improvements/2026-02/2026-02-24_1818_PR本文を英語で記述した.md
  prompts/runs/2026-02/2026-02-24_1819_PRテンプレート日本語化.md
Due: none

#890 Implement KPI card design for dashboard (#905)
  frontend/src/Component/Icons.elm
  frontend/src/Page/Home.elm
  prompts/plans/890_dashboard-kpi-card-design.md
  prompts/runs/2026-02/2026-02-24_2109_ダッシュボードKPIカードデザイン.md
Due: elm-format-check

#845 Add sanitization lint for improvement records
  justfile
  lefthook.yaml
  process/improvements/2026-01/2026-01-27_2303_Issue駆動開発フロー未遵守.md
  process/improvements/2026-02/2026-02-01_0003_Hurl仕様未確認のまま機能を推奨.md
  process/improvements/2026-02/2026-02-01_0004_YAGNI-KISSの拡大解釈による設計品質低下.md
  process/improvements/2026-02/2026-02-05_1555_一般的知識を理由にしたドキュメント作成の省略.md
  process/improvements/2026-02/2026-02-05_2104_ユーザー確認なしにPRをReadyにした.md
  process/improvements/2026-02/2026-02-05_2104_目先の対策に飛びつく傾向.md
  process/improvements/2026-02/2026-02-05_2335_設計フェーズにおける理想駆動の省略.md
  process/improvements/2026-02/2026-02-06_0010_実装フェーズにおける自己検証の自動実行欠如.md
  process/improvements/2026-02/2026-02-06_2210_WantとHowの混同.md
  process/improvements/2026-02/2026-02-06_2330_会話コンテキストのドキュメント混入.md
  process/improvements/2026-02/2026-02-09_1633_テスト名のトートロジー.md
  process/improvements/2026-02/2026-02-14_2118_サブエージェントによるテストコード改変.md
  process/improvements/2026-02/2026-02-15_1137_無関係の問題をスルーする傾向.md
  process/improvements/2026-02/2026-02-15_1237_間接的な因果関係の見落とし.md
  process/improvements/2026-02/2026-02-15_1256_Draft後の再Ready時の品質チェック欠如.md
  process/improvements/2026-02/2026-02-15_1303_エラーメッセージのみで判断し実際の状態を確認しない.md
  process/improvements/2026-02/2026-02-15_1309_問題の性質を分類せず的外れな対策を提案.md
  process/improvements/2026-02/2026-02-19_0234_review-and-mergeで複数PRを同時処理しようとした.md
  process/improvements/2026-02/2026-02-19_2030_Issue指定時の不要な着手確認.md
  process/improvements/2026-02/2026-02-22_2108_auto_memoryへの対策記録.md
  process/improvements/2026-02/2026-02-23_1902_質問に対して回答せず行動で応答する.md
  process/improvements/2026-02/2026-02-23_1932_ワークアラウンド導入時のフォローアップIssue作成漏れ.md
  process/improvements/2026-02/2026-02-24_2107_品質ゲートでのwrap-up未実施.md
  process/improvements/README.md
  prompts/plans/eager-spinning-nebula.md
  scripts/check/parallel.sh
  scripts/check/sanitize-improvements.sh
Due: none

#845 Fix Pattern 1 to include に particle in sanitization lint
  process/improvements/2026-01/2026-01-27_2303_Issue駆動開発フロー未遵守.md
  process/improvements/2026-02/2026-02-02_1023_計画段階での置換対象と設計決定の網羅性不足.md
  process/improvements/2026-02/2026-02-15_1600_ユーザー確認なしに破壊的操作を実行した.md
  process/improvements/2026-02/2026-02-16_2312_restoreスキルの冗長な確認プロンプト.md
  process/improvements/2026-02/2026-02-20_0012_散弾銃デバッグによるトラブルシューティング効率低下.md
  process/improvements/2026-02/2026-02-23_1932_ワークアラウンド導入時のフォローアップIssue作成漏れ.md
  prompts/plans/845_sanitize-lint-lefthook.md
  scripts/check/sanitize-improvements.sh
Due: none

#845 Add session log and rename plan file
  prompts/plans/845_sanitize-lint-lefthook.md
  prompts/runs/2026-02/2026-02-24_2128_sanitize-lint-lefthook.md
Due: none

#845 Add sanitization lint for improvement records in lefthook (#903)
  justfile
  lefthook.yaml
  process/improvements/2026-01/2026-01-27_2303_Issue駆動開発フロー未遵守.md
  process/improvements/2026-02/2026-02-01_0003_Hurl仕様未確認のまま機能を推奨.md
  process/improvements/2026-02/2026-02-01_0004_YAGNI-KISSの拡大解釈による設計品質低下.md
  process/improvements/2026-02/2026-02-02_1023_計画段階での置換対象と設計決定の網羅性不足.md
  process/improvements/2026-02/2026-02-05_1555_一般的知識を理由にしたドキュメント作成の省略.md
  process/improvements/2026-02/2026-02-05_2104_ユーザー確認なしにPRをReadyにした.md
  process/improvements/2026-02/2026-02-05_2104_目先の対策に飛びつく傾向.md
  process/improvements/2026-02/2026-02-05_2335_設計フェーズにおける理想駆動の省略.md
  process/improvements/2026-02/2026-02-06_0010_実装フェーズにおける自己検証の自動実行欠如.md
  process/improvements/2026-02/2026-02-06_2210_WantとHowの混同.md
  process/improvements/2026-02/2026-02-06_2330_会話コンテキストのドキュメント混入.md
  process/improvements/2026-02/2026-02-09_1633_テスト名のトートロジー.md
  process/improvements/2026-02/2026-02-14_2118_サブエージェントによるテストコード改変.md
  process/improvements/2026-02/2026-02-15_1137_無関係の問題をスルーする傾向.md
  process/improvements/2026-02/2026-02-15_1237_間接的な因果関係の見落とし.md
  process/improvements/2026-02/2026-02-15_1256_Draft後の再Ready時の品質チェック欠如.md
  process/improvements/2026-02/2026-02-15_1303_エラーメッセージのみで判断し実際の状態を確認しない.md
  process/improvements/2026-02/2026-02-15_1309_問題の性質を分類せず的外れな対策を提案.md
  process/improvements/2026-02/2026-02-15_1600_ユーザー確認なしに破壊的操作を実行した.md
  process/improvements/2026-02/2026-02-16_2312_restoreスキルの冗長な確認プロンプト.md
  process/improvements/2026-02/2026-02-19_0234_review-and-mergeで複数PRを同時処理しようとした.md
  process/improvements/2026-02/2026-02-19_2030_Issue指定時の不要な着手確認.md
  process/improvements/2026-02/2026-02-20_0012_散弾銃デバッグによるトラブルシューティング効率低下.md
  process/improvements/2026-02/2026-02-22_2108_auto_memoryへの対策記録.md
  process/improvements/2026-02/2026-02-23_1902_質問に対して回答せず行動で応答する.md
  process/improvements/2026-02/2026-02-23_1932_ワークアラウンド導入時のフォローアップIssue作成漏れ.md
  process/improvements/2026-02/2026-02-24_2107_品質ゲートでのwrap-up未実施.md
  process/improvements/README.md
  prompts/plans/845_sanitize-lint-lefthook.md
  prompts/runs/2026-02/2026-02-24_2128_sanitize-lint-lefthook.md
  scripts/check/parallel.sh
  scripts/check/sanitize-improvements.sh
Due: none

#902 Extract build_sut test helper to deduplicate SUT construction
  backend/apps/core-service/src/usecase/workflow/command.rs
  backend/apps/core-service/src/usecase/workflow/command/decision/approve.rs
  backend/apps/core-service/src/usecase/workflow/command/decision/reject.rs
  backend/apps/core-service/src/usecase/workflow/command/decision/request_changes.rs
  backend/apps/core-service/src/usecase/workflow/command/lifecycle/resubmit.rs
  backend/apps/core-service/src/usecase/workflow/command/lifecycle/submit.rs
Due: rustfmt-check

#902 Apply persistence helpers to approve.rs
  backend/apps/core-service/src/usecase/workflow/command/decision/approve.rs
Due: rustfmt-check

#902 Add session log, implementation docs, and plan file for workflow command dedup
  docs/07_実装解説/PR904_ワークフローコマンド重複解消/01_ワークフローコマンド重複解消_コード解説.md
  docs/07_実装解説/PR904_ワークフローコマンド重複解消/01_ワークフローコマンド重複解消_機能解説.md
  prompts/plans/902_workflow-command-dedup.md
  prompts/runs/2026-02/2026-02-24_2129_workflow-command-dedup.md
Due: none

#902 Consolidate reject/request_changes into shared terminate_step flow
  backend/apps/core-service/src/usecase/workflow/command/decision.rs
  backend/apps/core-service/src/usecase/workflow/command/decision/common.rs
  backend/apps/core-service/src/usecase/workflow/command/decision/reject.rs
  backend/apps/core-service/src/usecase/workflow/command/decision/request_changes.rs
Due: rustfmt-check

#902 Extract persistence helpers and apply to submit/resubmit
  backend/apps/core-service/src/usecase/workflow/command.rs
  backend/apps/core-service/src/usecase/workflow/command/helpers.rs
  backend/apps/core-service/src/usecase/workflow/command/lifecycle/resubmit.rs
  backend/apps/core-service/src/usecase/workflow/command/lifecycle/submit.rs
Due: rustfmt-check

#902 Extract validate_approvers and create_approval_steps helpers
  backend/apps/core-service/src/usecase/workflow/command/lifecycle.rs
  backend/apps/core-service/src/usecase/workflow/command/lifecycle/common.rs
  backend/apps/core-service/src/usecase/workflow/command/lifecycle/resubmit.rs
  backend/apps/core-service/src/usecase/workflow/command/lifecycle/submit.rs
Due: rustfmt-check

#819 Refactor WorkflowInstance domain model to ADT state machine
  backend/crates/domain/src/workflow/instance.rs
Due: rustfmt-check

#836 Migrate impl-docs.sh to rust-script
  docs/07_実装解説/PR697_Observability構造的担保/01_Observability構造的担保_コード解説.md
  justfile
  scripts/check/impl-docs.rs
  scripts/check/impl-docs.sh
Due: rustfmt-check

#894 Map quality checklist to ISO 25010:2023 quality characteristics
  docs/04_手順書/04_開発フロー/01_Issue駆動開発.md
  docs/06_ナレッジベース/methodology/ISO25010.md
  prompts/plans/894_quality-checklist-iso25010-mapping.md
Due: none

#836 Add session log and rename plan file for #836
  prompts/plans/836_impl-docs-rust-script.md
  prompts/runs/2026-02/2026-02-24_2106_impl-docs-rust-script移行.md
Due: none

#819 Update callers for WorkflowInstance ADT from_db Result return type
  backend/apps/core-service/src/usecase/dashboard.rs
  backend/crates/infra/src/repository/workflow_instance_repository.rs
Due: rustfmt-check

#894 Add session log for quality checklist ISO 25010 mapping
  prompts/runs/2026-02/2026-02-24_2200_品質チェックリストISO25010マッピング.md
Due: none

#836 Add improvement record: Draft PR creation lost after context clear
  process/improvements/2026-02/2026-02-24_2106_コンテキストクリア後のDraft-PR作成漏れ.md
Due: none

Add improvement record: wrap-up skipped before quality gate
  process/improvements/2026-02/2026-02-24_2107_品質ゲートでのwrap-up未実施.md
Due: none

#890 Add icons and improve styling for dashboard KPI cards
  frontend/src/Component/Icons.elm
  frontend/src/Page/Home.elm
  prompts/plans/composed-toasting-badger.md
Due: elm-format-check

#819 Update WorkflowInstance entity impact map with ADT invariants INV-I5~I9
  docs/03_詳細設計書/エンティティ影響マップ/WorkflowInstance.md
Due: none

#902 Eliminate code duplication in workflow command usecases (#904)
  backend/apps/core-service/src/usecase/workflow/command.rs
  backend/apps/core-service/src/usecase/workflow/command/decision.rs
  backend/apps/core-service/src/usecase/workflow/command/decision/approve.rs
  backend/apps/core-service/src/usecase/workflow/command/decision/common.rs
  backend/apps/core-service/src/usecase/workflow/command/decision/reject.rs
  backend/apps/core-service/src/usecase/workflow/command/decision/request_changes.rs
  backend/apps/core-service/src/usecase/workflow/command/helpers.rs
  backend/apps/core-service/src/usecase/workflow/command/lifecycle.rs
  backend/apps/core-service/src/usecase/workflow/command/lifecycle/common.rs
  backend/apps/core-service/src/usecase/workflow/command/lifecycle/resubmit.rs
  backend/apps/core-service/src/usecase/workflow/command/lifecycle/submit.rs
  docs/07_実装解説/PR904_ワークフローコマンド重複解消/01_ワークフローコマンド重複解消_コード解説.md
  docs/07_実装解説/PR904_ワークフローコマンド重複解消/01_ワークフローコマンド重複解消_機能解説.md
  prompts/plans/902_workflow-command-dedup.md
  prompts/runs/2026-02/2026-02-24_2129_workflow-command-dedup.md
Due: rustfmt-check

#836 Fix doc reference to use Markdown link format
  scripts/check/impl-docs.rs
Due: rustfmt-check

#897 Rename PR template section names to Japanese
  .claude/rules/zoom-rhythm.md
  .github/pull_request_template.md
  docs/04_手順書/02_プロジェクト構築/03_GitHub設定.md
  docs/04_手順書/04_開発フロー/01_Issue駆動開発.md
  docs/06_ナレッジベース/methodology/ISO25010.md
  docs/06_ナレッジベース/methodology/独自フレームワークと既知手法の対応.md
  process/improvements/2026-02/2026-02-24_1818_PR本文を英語で記述した.md
Due: none

#819 Fix seed data to satisfy ADT invariants (current_step_id, completed_at)
  backend/migrations/20260224000001_fix_seed_current_step_id.sql
Due: none

#897 Refine section names: Self-review→品質確認, Test plan→確認項目
  .claude/rules/zoom-rhythm.md
  .github/pull_request_template.md
  docs/04_手順書/02_プロジェクト構築/03_GitHub設定.md
  docs/04_手順書/04_開発フロー/01_Issue駆動開発.md
  docs/06_ナレッジベース/methodology/ISO25010.md
  docs/06_ナレッジベース/methodology/独自フレームワークと既知手法の対応.md
  process/improvements/2026-02/2026-02-24_1818_PR本文を英語で記述した.md
Due: none

#894 Map all quality mechanisms to ISO 25010:2023 quality characteristics
  .claude/rules/zoom-rhythm.md
  docs/04_手順書/04_開発フロー/02_TDD開発フロー.md
  docs/06_ナレッジベース/methodology/ISO25010.md
Due: none

#795 Add DOM timing caveat for Ports commands to Elm knowledge base
  docs/06_ナレッジベース/elm/Elmポート.md
  docs/06_ナレッジベース/elm/SVGキャンバスとBrowserEvents.md
Due: none

#897 Add session log for PR template Japanese-ification
  prompts/runs/2026-02/2026-02-24_1819_PRテンプレート日本語化.md
Due: none

#819 Add session log for WorkflowInstance ADT state machine refactoring
  prompts/runs/2026-02/2026-02-23_2247_WorkflowInstance_ADTステートマシン.md
Due: none

#890 Add session log and rename plan file
  prompts/plans/890_dashboard-kpi-card-design.md
  prompts/runs/2026-02/2026-02-24_2109_ダッシュボードKPIカードデザイン.md
Due: none
