Repository ka2kama/ringiflow: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt-check, elm-format-check

rustfmt-check:
  run: rustfmt +nightly --edition 2024 --check {staged_files}

elm-format-check:
  run: elm-format --validate {staged_files}

#894 Update session log for full quality mechanism mapping
  prompts/runs/2026-02/2026-02-24_2200_品質チェックリストISO25010マッピング.md
Due: none

#897 Fix remaining Self-review reference and sanitize session log
  README.ja.md
  prompts/runs/2026-02/2026-02-24_1819_PRテンプレート日本語化.md
Due: none

#846 Add overlooked plan file for #834
  prompts/plans/834_instrumentation-rust-script.md
Due: none

#819 Add FIXME annotation for with_current_step workaround (#854)
  backend/crates/domain/src/workflow/instance.rs
Due: rustfmt-check

#846 Fix NOT NULL + SET NULL contradiction and UNIQUE constraint for NULL parent_id
  docs/03_詳細設計書/17_ドキュメント管理設計.md
Due: none

#890 Add icon background circles to KPI cards
  frontend/src/Page/Home.elm
Due: elm-format-check

#843 Fix test layer listing in plan file 846
  prompts/plans/846_phase-2-5-design.md
Due: none

#894 Fix review feedback: aspect count and Mermaid isolated nodes
  docs/06_ナレッジベース/methodology/ISO25010.md
Due: none

#859 Fix docs sanitization and context independence violations
  process/improvements/2026-02/2026-02-24_0204_KISS根拠で型制約よりロジック制約を選択.md
  prompts/runs/2026-02/2026-02-24_0204_型安全ステートマシン再評価.md
Due: none

#890 Update session log with icon background circle improvement
  prompts/runs/2026-02/2026-02-24_2109_ダッシュボードKPIカードデザイン.md
Due: none

#858 Add session log and rename plan file
  prompts/plans/858_workflow-step-persistence.md
  prompts/runs/2026-02/2026-02-24_0204_start-skill-redesign.md
Due: none

#907 Add session log, knowledge base, and investigation record for SVG click fix
  docs/06_ナレッジベース/frontend/SVGポインターイベントとヒットテスト.md
  process/investigations/2026-02/2026-02-24_2154_SVG接続線クリックのヒットテスト失敗.md
  prompts/plans/907_designer-transition-reconnection.md
  prompts/runs/2026-02/2026-02-24_2154_SVGクリック判定とハンドル表示改善.md
Due: none

#902 Remove bold from numbered list items in plan file
  prompts/plans/902_workflow-command-dedup.md
Due: none

#907 Replace hand-rolled updateAt with List.Extra.updateAt
  frontend/src/Page/WorkflowDefinition/Designer.elm
Due: elm-format-check

#907 Fix transition click selection by stopping event propagation
  frontend/src/Page/WorkflowDefinition/Designer.elm
Due: elm-format-check

#907 Fix transition click target with explicit pointer-events attribute
  frontend/src/Page/WorkflowDefinition/Designer.elm
Due: elm-format-check

#907 Add design docs and session log for transition reconnection
  docs/03_詳細設計書/15_ワークフローデザイナー設計.md
  prompts/plans/shimmying-greeting-rain.md
  prompts/runs/2026-02/2026-02-24_2126_接続線端点ドラッグ付け替え.md
Due: none

#907 Add drag handles and preview line for transition reconnection
  frontend/src/Page/WorkflowDefinition/Designer.elm
Due: elm-format-check

#907 Add DraggingReconnection state and update logic for transition endpoint reconnection
  frontend/src/Data/DesignerCanvas.elm
  frontend/src/Page/WorkflowDefinition/Designer.elm
  frontend/tests/Page/WorkflowDefinition/DesignerTest.elm
Due: elm-format-check

#907 Render reconnection handles above step nodes
  frontend/src/Page/WorkflowDefinition/Designer.elm
Due: elm-format-check

#907 Use pointer-events="all" for transition click target
  frontend/src/Page/WorkflowDefinition/Designer.elm
Due: elm-format-check

#907 Enable dragging to reconnect transition endpoints in workflow designer (#908)
  docs/03_詳細設計書/15_ワークフローデザイナー設計.md
  docs/06_ナレッジベース/frontend/SVGポインターイベントとヒットテスト.md
  frontend/src/Data/DesignerCanvas.elm
  frontend/src/Page/WorkflowDefinition/Designer.elm
  frontend/tests/Page/WorkflowDefinition/DesignerTest.elm
  process/investigations/2026-02/2026-02-24_2154_SVG接続線クリックのヒットテスト失敗.md
  prompts/plans/907_designer-transition-reconnection.md
  prompts/runs/2026-02/2026-02-24_2126_接続線端点ドラッグ付け替え.md
  prompts/runs/2026-02/2026-02-24_2154_SVGクリック判定とハンドル表示改善.md
Due: elm-format-check

#906 Add session log and rename plan file for #906
  prompts/plans/906_transition-property-panel.md
  prompts/runs/2026-02/2026-02-25_2123_transition-property-panel.md
Due: none

#906 Add transition property panel and delete UI in workflow designer
  frontend/src/Data/DesignerCanvas.elm
  frontend/src/Page/WorkflowDefinition/Designer.elm
  frontend/tests/Page/WorkflowDefinition/DesignerTest.elm
  prompts/plans/linked-launching-popcorn.md
Due: elm-format-check

#906 Use Maybe.Extra.unwrap per frontend rules
  frontend/src/Page/WorkflowDefinition/Designer.elm
Due: elm-format-check

#906 Update viewPropertyPanel doc comment for transition support
  frontend/src/Page/WorkflowDefinition/Designer.elm
Due: elm-format-check

#906 Add transition property panel in workflow designer (#909)
  frontend/src/Data/DesignerCanvas.elm
  frontend/src/Page/WorkflowDefinition/Designer.elm
  frontend/tests/Page/WorkflowDefinition/DesignerTest.elm
  prompts/plans/906_transition-property-panel.md
  prompts/runs/2026-02/2026-02-25_2123_transition-property-panel.md
Due: elm-format-check

#896 Add session log for convergence check and quality CL clarification
  prompts/runs/2026-02/2026-02-25_2124_収束確認と品質CLの関係明確化.md
Due: none

#896 Clarify convergence check and quality checklist relationship
  .claude/rules/zoom-rhythm.md
  docs/04_手順書/04_開発フロー/01_Issue駆動開発.md
  docs/06_ナレッジベース/methodology/ISO25010.md
  prompts/plans/896_clarify-convergence-check-quality-checklist.md
Due: none

#896 Clarify convergence check and quality checklist relationship (#912)
  .claude/rules/zoom-rhythm.md
  docs/04_手順書/04_開発フロー/01_Issue駆動開発.md
  docs/06_ナレッジベース/methodology/ISO25010.md
  prompts/plans/896_clarify-convergence-check-quality-checklist.md
  prompts/runs/2026-02/2026-02-25_2124_収束確認と品質CLの関係明確化.md
Due: none

#901 Add session log and rename plan file for #901
  prompts/plans/901_reduce-check-all-warning-noise.md
  prompts/runs/2026-02/2026-02-25_2107_check-all警告ラチェット化.md
Due: none

#901 Introduce ratchet baselines for check-all warning checks
  .config/baselines.env
  backend/deny.toml
  justfile
  prompts/plans/dapper-riding-swing.md
  scripts/check/check-duplicates.sh
  scripts/check/file-size.sh
  scripts/check/improvement-records.rs
  scripts/test/run-e2e.sh
Due: rustfmt-check

#901 Reduce check-all warning noise with baseline ratcheting (#911)
  .config/baselines.env
  backend/deny.toml
  justfile
  prompts/plans/901_reduce-check-all-warning-noise.md
  prompts/runs/2026-02/2026-02-25_2107_check-all警告ラチェット化.md
  scripts/check/check-duplicates.sh
  scripts/check/file-size.sh
  scripts/check/improvement-records.rs
  scripts/test/run-e2e.sh
Due: rustfmt-check

#913 Change designer node connection points to vertical layout
  frontend/src/Data/DesignerCanvas.elm
  frontend/src/Page/WorkflowDefinition/Designer.elm
  frontend/tests/Data/DesignerCanvasTest.elm
Due: elm-format-check

#913 Add improvement record and plan file for #913
  process/improvements/2026-02/2026-02-25_2118_応答判定ルールがスキル内指示と競合する.md
  prompts/plans/vectorized-exploring-nova.md
Due: none

Path conditions:
  rustfmt-check: any of: *.rs
  elm-format-check: any of: *.elm
