Repository ka2kama/ringiflow: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt-check, elm-format-check

rustfmt-check:
  run: rustfmt +nightly --edition 2024 --check {staged_files}

elm-format-check:
  run: elm-format --validate {staged_files}

#988 Update documentation references for mock→fake rename
  docs/30_基本設計書/02_プロジェクト構造設計.md
  docs/50_テスト/00_テスト戦略概要.md
  docs/50_テスト/テスト戦略_エッジケース方針.md
  docs/60_手順書/04_開発フロー/02_TDD開発フロー.md
  docs/80_ナレッジベース/methodology/テストピラミッド.md
  docs/80_ナレッジベース/rust/Cargoワークスペース.md
Due: none

#988 Add implementation plan
  prompts/plans/988_test-double-strategy.md
Due: none

#988 Fix broken doc links in implementation guides (mock.rs → fake.rs)
  docs/90_実装解説/PR916_通知基盤/01_通知基盤_コード解説.md
  docs/90_実装解説/PR952_フォルダ移動トランザクション/01_フォルダ移動トランザクション_コード解説.md
Due: none

#988 Add session log
  prompts/runs/2026-03/2026-03-01_2100_テストダブル戦略の明文化と命名修正.md
Due: none

#988 Fix remaining mock/モック references in test names and comments
  backend/apps/core-service/src/usecase/notification/service.rs
  backend/apps/core-service/src/usecase/workflow/command.rs
  backend/apps/core-service/src/usecase/workflow/command/decision/approve.rs
  backend/apps/core-service/src/usecase/workflow/command/decision/reject.rs
  backend/apps/core-service/src/usecase/workflow/command/decision/request_changes.rs
  backend/apps/core-service/src/usecase/workflow/command/lifecycle/resubmit.rs
  backend/apps/core-service/src/usecase/workflow/command/lifecycle/submit.rs
Due: rustfmt-check

#990 Monthly health assessment (2026-03) (#991)
  process/reports/2026-03-02_2130_プロジェクト健全性診断.md
  process/reports/2026-03-02_2300_レトロスペクティブ.md
Due: none

#997 Add auto design phase transition to /start skill (#1000)
  .claude/skills/start/SKILL.md
  process/improvements/2026-02/2026-02-26_2130_start完了後に毎回停止して作業を継続しない.md
Due: none

#992 Update roadmap and design docs to match implementation state (#1001)
  docs/20_機能仕様書/04_ワークフローデザイナー.md
  docs/40_詳細設計書/00_実装ロードマップ.md
  docs/40_詳細設計書/15_ワークフローデザイナー設計.md
  docs/70_ADR/061_Elm-OpenAPIクライアント自動生成の見送り.md
  prompts/runs/2026-02/2026-02-15_1140_ElmOpenAPIクライアント生成ツール評価.md
Due: none

#994 Fix README numbers and resolve ADR 047 duplication (#1002)
  README.ja.md
  README.md
Due: none

#1008 Add missing functional spec to README directory structure (#1009)
  README.ja.md
  README.md
Due: none

#996 Add ADR-062 and session log for large file split plan
  docs/70_ADR/062_大型ファイル分割計画2026-03.md
  prompts/runs/2026-03/2026-03-02_2115_大型ファイル分割計画の策定.md
Due: none

#996 Fix broken link in session log
  prompts/runs/2026-03/2026-03-02_2115_大型ファイル分割計画の策定.md
Due: none

#996 Formulate large file split plan (#1003)
  docs/70_ADR/062_大型ファイル分割計画2026-03.md
  prompts/runs/2026-03/2026-03-02_2115_大型ファイル分割計画の策定.md
Due: none

Add duplicate issue check to assess and retro skills
  .claude/skills/assess/SKILL.md
  .claude/skills/retro/SKILL.md
Due: none

Add duplicate issue check to assess and retro skills (#1010)
  .claude/skills/assess/SKILL.md
  .claude/skills/retro/SKILL.md
Due: none

Show parallel work candidates in /next without in-progress work (#1011)
  .claude/skills/next/SKILL.md
Due: none

#1006 Split instance.rs into sub-modules (#1012)
  backend/crates/domain/src/workflow/instance.rs
  backend/crates/domain/src/workflow/instance/record.rs
  backend/crates/domain/src/workflow/instance/state.rs
  backend/crates/domain/src/workflow/instance/transitions.rs
  prompts/runs/2026-03/2026-03-02_2117_instance-rsモジュール分割.md
Due: rustfmt-check

#994 Update README stats: improvement records 93→110, rule files 23→26
  README.ja.md
  README.md
Due: none

Show parallel work candidates in /next even without in-progress work
  .claude/skills/next/SKILL.md
Due: none

#1004 Extract PropertyPanel.elm from Designer.elm
  frontend/src/Page/WorkflowDefinition/Designer.elm
  frontend/src/Page/WorkflowDefinition/Designer/PropertyPanel.elm
Due: elm-format-check

#1004 Add implementation plan for Designer.elm split
  prompts/plans/1004_split-designer-elm.md
Due: none

#1004 Extract Palette.elm from Designer.elm
  frontend/src/Page/WorkflowDefinition/Designer.elm
  frontend/src/Page/WorkflowDefinition/Designer/Palette.elm
Due: elm-format-check

#1004 Extract Canvas.elm from Designer.elm
  frontend/src/Page/WorkflowDefinition/Designer.elm
  frontend/src/Page/WorkflowDefinition/Designer/Canvas.elm
Due: elm-format-check

#1004 Extract Update.elm from Designer.elm
  frontend/src/Page/WorkflowDefinition/Designer.elm
  frontend/src/Page/WorkflowDefinition/Designer/Update.elm
Due: elm-format-check

#1004 Extract Types.elm from Designer.elm
  frontend/src/Main.elm
  frontend/src/Page/WorkflowDefinition/Designer.elm
  frontend/src/Page/WorkflowDefinition/Designer/Types.elm
  frontend/tests/Page/WorkflowDefinition/DesignerTest.elm
Due: elm-format-check

#1004 Add explanation docs for Designer.elm split
  docs/90_実装解説/PR1013_Designer-elm分割/01_Designer-elm分割_コード解説.md
  docs/90_実装解説/PR1013_Designer-elm分割/01_Designer-elm分割_機能解説.md
Due: none

#1004 Fix elm-review lint errors and update file-size baseline
  .config/baselines.env
  frontend/src/Page/WorkflowDefinition/Designer.elm
  frontend/src/Page/WorkflowDefinition/Designer/Canvas.elm
  frontend/src/Page/WorkflowDefinition/Designer/Update.elm
Due: elm-format-check

#1004 Add session log for Designer.elm split implementation
  prompts/runs/2026-03/2026-03-02_2200_Designer-elm分割実装.md
Due: none

#1004 Extract Toolbar.elm from Designer.elm
  frontend/src/Page/WorkflowDefinition/Designer.elm
  frontend/src/Page/WorkflowDefinition/Designer/Toolbar.elm
Due: elm-format-check

#990 Add monthly health assessment report (2026-03)
  process/reports/2026-03-02_2130_プロジェクト健全性診断.md
Due: none

#1006 Split instance.rs into sub-modules (state, transitions, record)
  backend/crates/domain/src/workflow/instance.rs
  backend/crates/domain/src/workflow/instance/record.rs
  backend/crates/domain/src/workflow/instance/state.rs
  backend/crates/domain/src/workflow/instance/transitions.rs
Due: rustfmt-check

#996 Fix responsibility count in session log to match ADR-062
  prompts/runs/2026-03/2026-03-02_2115_大型ファイル分割計画の策定.md
Due: none

Path conditions:
  rustfmt-check: any of: *.rs
  elm-format-check: any of: *.elm
