Repository ka2kama/ringiflow: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt-check, elm-format-check

rustfmt-check:
  run: rustfmt +nightly --edition 2024 --check {staged_files}

elm-format-check:
  run: elm-format --validate {staged_files}

Support plan files without Issue in context section
  .claude/rules/zoom-rhythm.md
Due: none

#1024 Convert ASCII art flow diagram to Mermaid in troubleshooting.md
  .claude/rules/troubleshooting.md
Due: none

Add mandatory context section to plan files
  .claude/rules/dev-flow-issue.md
  .claude/rules/zoom-rhythm.md
  prompts/plans/20260304_plan-file-context-section.md
  prompts/plans/README.md
Due: none

#884 Add implementation plan for workflow file attachment
  prompts/plans/884_workflow-file-attachment.md
Due: none

Add exception clause for inappropriate content in docs.md sanitization check
  .claude/rules/docs.md
Due: none

#884 Add file field type to workflow definition validator
  backend/crates/domain/src/document.rs
  backend/crates/domain/src/workflow/definition_validator.rs
Due: rustfmt-check

#1017 Fix rule file style violations in structural-review.md
  .claude/rules/structural-review.md
Due: none

#884 Add Document data/api modules and extend FieldType with FileConfig
  frontend/elm.json
  frontend/src/Api/Document.elm
  frontend/src/Data/Document.elm
  frontend/src/Data/FormField.elm
  frontend/src/Form/DynamicForm.elm
  frontend/tests/Data/DocumentTest.elm
  frontend/tests/Data/FormFieldTest.elm
Due: elm-format-check

#884 Add FileUpload component with validation, D&D, and progress tracking
  frontend/src/Component/FileUpload.elm
  frontend/tests/Component/FileUploadTest.elm
Due: elm-format-check

#1029 Address review feedback and fix settings deny rule
  .claude/settings.json
  backend/crates/infra/tests/credentials_repository_test.rs
  prompts/plans/1029_credentials-repository-test-assessment.md
Due: rustfmt-check

#884 Integrate FileUpload component into workflow application form
  frontend/src/Component/FileUpload.elm
  frontend/src/Form/DynamicForm.elm
  frontend/src/Form/Validation.elm
  frontend/src/Main.elm
  frontend/src/Page/Workflow/New.elm
  frontend/src/Page/Workflow/New/FormView.elm
  frontend/src/Page/Workflow/New/Types.elm
  frontend/src/Page/Workflow/New/Update.elm
  frontend/tests/Form/ValidationTest.elm
Due: elm-format-check

#1032 Update test list to reflect File opaque type constraint
  prompts/plans/1032_fileupload-unique-id.md
Due: none

#1026 Add SRP reference to "責務の蓄積" concept
  .claude/rules/zoom-rhythm.md
  docs/80_ナレッジベース/methodology/独自フレームワークと既知手法の対応.md
Due: none

#884 Add attachments display and download to workflow detail page
  .config/file-size-exceptions.txt
  frontend/src/Page/Workflow/Detail.elm
  frontend/src/Page/Workflow/Detail/Types.elm
  frontend/src/Ports.elm
  frontend/src/main.js
Due: elm-format-check

#884 Add Detail.elm to file-size-exceptions
  .config/file-size-exceptions.txt
Due: none

#884 Fix lint warnings: clippy collapsible-if, unused Elm exports and imports
  backend/crates/domain/src/workflow/definition_validator.rs
  frontend/src/Api/Document.elm
  frontend/src/Component/FileUpload.elm
  frontend/src/Page/Workflow/Detail.elm
  frontend/src/Page/Workflow/New/Types.elm
  frontend/src/Page/Workflow/New/Update.elm
  frontend/tests/Component/FileUploadTest.elm
  frontend/tests/Data/FormFieldTest.elm
Due: rustfmt-check, elm-format-check

#1036 Add session log for PR review prompt redesign
  prompts/runs/2026-03/2026-03-04_1932_PRレビュープロンプトのベストプラクティス起点再設計.md
Due: none

#884 Update plan file: mark all phases complete
  prompts/plans/884_workflow-file-attachment.md
Due: none

#1036 Unify Rules Check severity to all-High blocking (ADR-063)
  .claude/rules/dev-flow-issue.md
  .github/workflows/claude-rules-check.yaml
  CLAUDE.md
  docs/70_ADR/063_PRレビュープロンプトのベストプラクティス起点再設計.md
  prompts/runs/2026-03/2026-03-04_1932_PRレビュープロンプトのベストプラクティス起点再設計.md
Due: none

#884 Add session log and explanation docs for workflow file attachment
  docs/90_実装解説/PR1031_ワークフローファイル添付/01_ファイル添付_コード解説.md
  docs/90_実装解説/PR1031_ワークフローファイル添付/01_ファイル添付_機能解説.md
  prompts/runs/2026-03/2026-03-04_2117_ワークフロー申請ファイル添付実装.md
Due: none

#884 Address review feedback: maxFiles enforcement, formatFileSize dedup
  frontend/src/Component/FileUpload.elm
  frontend/src/Page/Workflow/Detail.elm
  frontend/src/Util/Format.elm
  prompts/runs/2026-03/2026-03-04_2117_ワークフロー申請ファイル添付実装.md
Due: elm-format-check

#1036 Redesign PR review prompts based on best practices (#1037)
  .claude/rules/dev-flow-issue.md
  .github/workflows/claude-auto-review.yaml
  .github/workflows/claude-rules-check.yaml
  CLAUDE.md
  docs/70_ADR/063_PRレビュープロンプトのベストプラクティス起点再設計.md
  docs/80_ナレッジベース/methodology/独自フレームワークと既知手法の対応.md
  prompts/plans/1036_pr-review-best-practices.md
  prompts/runs/2026-03/2026-03-04_1932_PRレビュープロンプトのベストプラクティス起点再設計.md
Due: none

#757 Add ADR-064: Merge Queue design (on hold) (#1039)
  docs/70_ADR/064_MergeQueue導入と品質保証の再設計.md
  process/investigations/2026-03/2026-03-05_2125_MergeQueue-Rulesets-API制約.md
  prompts/plans/757_merge-queue.md
  prompts/runs/2026-03/2026-03-05_2125_MergeQueue導入検討.md
Due: none

#1041 Set up Terraform infrastructure and SES domain verification (#1042)
  .claude/rules/terraform.md
  .gitignore
  docs/60_手順書/03_運用/02_SESメール送信テスト.md
  infra/terraform/environments/dev/.gitkeep
  infra/terraform/environments/dev/backend.tf
  infra/terraform/environments/dev/main.tf
  infra/terraform/environments/dev/outputs.tf
  infra/terraform/environments/dev/providers.tf
  infra/terraform/environments/dev/terraform.tfvars.example
  infra/terraform/environments/dev/variables.tf
  infra/terraform/environments/dev/versions.tf
  infra/terraform/environments/prod/.gitkeep
  infra/terraform/environments/stg/.gitkeep
  infra/terraform/modules/network/.gitkeep
  infra/terraform/modules/ses/main.tf
  infra/terraform/modules/ses/outputs.tf
  infra/terraform/modules/ses/variables.tf
  prompts/plans/1041_terraform-infrastructure.md
  prompts/runs/2026-03/2026-03-05_2130_Terraformインフラ基盤とSESドメイン検証.md
Due: none

#1043 Integrate Terraform quality gate and CI (#1044)
  .claude/rules/terraform.md
  .github/workflows/ci.yaml
  .mise.toml
  docs/60_手順書/01_開発参画/01_開発環境構築.md
  docs/80_ナレッジベース/devtools/GitHubActions.md
  docs/80_ナレッジベース/devtools/Terraform.md
  infra/terraform/.tflint.hcl
  infra/terraform/environments/dev/.terraform.lock.hcl
  justfile
  lefthook.yaml
  prompts/plans/1043-terraform-quality-gate.md
  prompts/runs/2026-03/2026-03-05_2200_Terraform品質ゲートとCI統合.md
  scripts/check/parallel.sh
  scripts/check/terraform.sh
Due: none

#879 Enable SES notification backend in app_builder
  backend/apps/core-service/src/app_builder.rs
  backend/apps/core-service/src/main.rs
  backend/crates/infra/src/notification.rs
  backend/crates/infra/src/notification/ses.rs
Due: rustfmt-check

#879 Add implementation plan and session log for SES integration
  prompts/plans/879_ses-integration.md
  prompts/runs/2026-03/2026-03-05_2120_SES連携と環境設定.md
Due: none

#879 Update plan and session log to reflect Terraform scope separation
  prompts/plans/879_ses-integration.md
  prompts/runs/2026-03/2026-03-05_2120_SES連携と環境設定.md
Due: none

#879 Implement SES integration and environment configuration (#1040)
  .claude/rules/terraform.md
  backend/apps/core-service/src/app_builder.rs
  backend/apps/core-service/src/main.rs
  backend/crates/infra/src/notification.rs
  backend/crates/infra/src/notification/ses.rs
  docs/60_手順書/03_運用/02_SESメール送信テスト.md
  process/improvements/2026-03/2026-03-05_2216_調査フロー内での散弾銃デバッグ再発.md
  prompts/plans/879_ses-integration.md
  prompts/runs/2026-03/2026-03-05_2120_SES連携と環境設定.md
Due: rustfmt-check

Add plan file for sanitize session log rules
  prompts/plans/20260304_sanitize-session-log-rules.md
Due: none

Add plan file for sanitize session log rules (#1045)
  prompts/plans/20260304_sanitize-session-log-rules.md
Due: none

#1049 Add context-dependent dummy value detection to gap discovery (#1051)
  .claude/rules/zoom-rhythm.md
  docs/80_ナレッジベース/methodology/独自フレームワークと既知手法の対応.md
  process/improvements/2026-03/2026-03-05_2300_異なる用途の構造体共用によるダミー値.md
Due: none

#1046 Add session log for notification DI refactoring
  prompts/runs/2026-03/2026-03-05_2230_通知バックエンドDIの型安全リファクタリング.md
Due: none

#1046 Refactor notification DI: construct sender in composition root
  backend/apps/core-service/src/app_builder.rs
  backend/apps/core-service/src/main.rs
  backend/crates/infra/src/notification.rs
Due: rustfmt-check

#1046 Refactor notification backend DI to type-safe (#1048)
  backend/apps/core-service/src/app_builder.rs
  backend/apps/core-service/src/main.rs
  backend/crates/infra/src/notification.rs
  prompts/runs/2026-03/2026-03-05_2230_通知バックエンドDIの型安全リファクタリング.md
Due: rustfmt-check

Path conditions:
  rustfmt-check: any of: *.rs
  elm-format-check: any of: *.elm
