Repository ka2kama/ringiflow: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt-check, elm-format-check

lefthook.yaml:

# lefthook 設定
# インストール: https://github.com/evilmartians/lefthook

# コミット前のチェック（ブランチ保護 + フォーマット + 拡張子）
pre-commit:
  parallel: true
  commands:
    no-main-commit:
      # main ブランチへの直接コミットを禁止
      run: |
        BRANCH=$(git symbolic-ref --short HEAD 2>/dev/null)
        if [ "$BRANCH" = "main" ]; then
          echo "Error: main ブランチへの直接コミットは禁止されています。ブランチを作成してください。"
          exit 1
        fi
    no-yml-extension:
      # .yml ファイルの追加を禁止（.yaml を使用すること）
      # .gitignore 内の参照は許可
      run: |
        files=$(git diff --cached --name-only --diff-filter=A | grep '\.yml$' || true)
        if [ -n "$files" ]; then
          echo "Error: .yml 拡張子は使用できません。.yaml を使用してください。"
          echo "該当ファイル:"
          echo "$files"
          exit 1
        fi
    rustfmt-check:
      glob: "*.rs"
      run: rustfmt +nightly --edition 2024 --check {staged_files}
    elm-format-check:
      glob: "*.elm"
      run: elm-format --validate {staged_files}

# プッシュ前のチェック（lint + unit test、DB 不要）
pre-push:
  commands:
    check-pre-push:
      run: just check-pre-push

# コミットメッセージ作成時に Issue 番号を自動付与
prepare-commit-msg:
  scripts:
    "add-issue-number.sh":
      runner: bash
    "add-model-to-attribution.sh":
      runner: bash

# コミット時刻を夜の時間帯に正規化（生活パターンの推測を抑制）
post-commit:
  scripts:
    "normalize-time.sh":
      runner: bash

#661 Add session log and rename plan file
  prompts/plans/661_design-guidelines-separation.md
  prompts/runs/2026-02/2026-02-18_2119_デザインガイドライン分離.md
Due: none

#661 Extract design guidelines from styles.css to detailed design doc
  .claude/rules/zoom-rhythm.md
  docs/03_詳細設計書/13_デザインガイドライン.md
  docs/04_手順書/04_開発フロー/01_Issue駆動開発.md
  docs/04_手順書/04_開発フロー/02_TDD開発フロー.md
  docs/06_ナレッジベース/methodology/独自フレームワークと既知手法の対応.md
  frontend/src/styles.css
  prompts/plans/sunny-strolling-reddy.md
Due: none

#613 Extract ErrorState component and refactor 12 error displays
  frontend/src/Component/ErrorState.elm
  frontend/src/Page/AuditLog/List.elm
  frontend/src/Page/Home.elm
  frontend/src/Page/Role/Edit.elm
  frontend/src/Page/Role/List.elm
  frontend/src/Page/Task/Detail.elm
  frontend/src/Page/Task/List.elm
  frontend/src/Page/User/Edit.elm
  frontend/src/Page/User/List.elm
  frontend/src/Page/User/New.elm
  frontend/src/Page/Workflow/Detail.elm
  frontend/src/Page/Workflow/List.elm
  frontend/tests/Component/ErrorStateTest.elm
Due: elm-format-check

#661 Rename duplicate heading in design guidelines doc
  docs/03_詳細設計書/13_デザインガイドライン.md
Due: none

#628 Add shadow-sm to section cards and unify border colors
  frontend/src/Page/Home.elm
  frontend/src/Page/Task/Detail.elm
  frontend/src/Page/User/Detail.elm
  frontend/src/Page/Workflow/Detail.elm
Due: elm-format-check

#613 Extract EmptyState component and refactor 3 empty displays
  frontend/src/Component/EmptyState.elm
  frontend/src/Page/AuditLog/List.elm
  frontend/src/Page/Task/List.elm
  frontend/src/Page/User/List.elm
  frontend/tests/Component/EmptyStateTest.elm
Due: elm-format-check

#625 Add plan files for persistent worktree slots
  prompts/plans/625_persistent-worktree-slots.md
  prompts/plans/golden-nibbling-thunder.md
Due: none

#614 Add CSS animation infrastructure for micro-interactions
  frontend/src/styles.css
Due: none

#613 Add implementation plan for state display patterns
  prompts/plans/613_state-display-patterns.md
Due: none

#632 Extract api-test-reset-db to scripts/ and update plan checkboxes
  justfile
  prompts/plans/632_api-test-env-port.md
  scripts/api-test-reset-db.sh
Due: none

#628 Unify form focus rings to focus-visible and align spacing to 4px grid
  frontend/src/Component/FormField.elm
  frontend/src/Main.elm
  frontend/src/Page/Workflow/List.elm
Due: elm-format-check

#644 Fix plan file reference and change history Issue number
  docs/04_手順書/04_開発フロー/02_TDD開発フロー.md
  prompts/runs/2026-02/2026-02-18_2127_UI-UX品質プロセス導入.md
Due: none

#661 Extract design guidelines from styles.css to detailed design doc (#665)
  .claude/rules/zoom-rhythm.md
  docs/03_詳細設計書/13_デザインガイドライン.md
  docs/04_手順書/04_開発フロー/01_Issue駆動開発.md
  docs/04_手順書/04_開発フロー/02_TDD開発フロー.md
  docs/06_ナレッジベース/methodology/独自フレームワークと既知手法の対応.md
  frontend/src/styles.css
  prompts/plans/661_design-guidelines-separation.md
  prompts/runs/2026-02/2026-02-18_2119_デザインガイドライン分離.md
Due: none

#614 Add animate-alert-in class to MessageAlert component
  frontend/src/Component/MessageAlert.elm
  frontend/tests/Component/MessageAlertTest.elm
Due: elm-format-check

#660 Extend pipe prohibition rule to all long-running commands
  .claude/rules/long-running-commands.md
  process/improvements/2026-02/2026-02-18_1824_長時間コマンドのパイプ実行再発.md
Due: none

#613 Refactor User/Detail.elm error state and update plan
  frontend/src/Page/User/Detail.elm
  prompts/plans/613_state-display-patterns.md
Due: elm-format-check

#625 Add session log and remove duplicate plan file
  prompts/plans/golden-nibbling-thunder.md
  prompts/runs/2026-02/2026-02-18_1354_永続worktreeスロット実装.md
Due: none

#660 Extend pipe prohibition rule to all long-running commands (#666)
  .claude/rules/long-running-commands.md
  process/improvements/2026-02/2026-02-18_1824_長時間コマンドのパイプ実行再発.md
Due: none

#628 Document table, badge, form, and card patterns in design guidelines
  frontend/src/styles.css
Due: none

#615 Update plan file verification checkboxes
  prompts/plans/615_wcag-aa-compliance.md
Due: none

#625 Use show-ref --verify for stricter local branch check
  docs/07_実装解説/03_並行開発環境/02_並行開発環境_コード解説.md
  scripts/worktree-switch.sh
Due: none

#628 Update test expectations for new badge borders and focus-visible classes
  frontend/tests/Component/FormFieldTest.elm
  frontend/tests/Data/AdminUserTest.elm
  frontend/tests/Data/WorkflowInstanceTest.elm
Due: elm-format-check

#614 Add dialog-content class to ConfirmDialog for CSS animation targeting
  frontend/src/Component/ConfirmDialog.elm
  frontend/tests/Component/ConfirmDialogTest.elm
Due: elm-format-check

#613 Add session log for state display pattern extraction
  prompts/runs/2026-02/2026-02-18_2127_状態表示パターンの共通化.md
Due: none

#628 Add implementation plan for component visual polish
  prompts/plans/lazy-singing-candle.md
Due: none

#613 Add explanation docs for state display pattern extraction
  docs/07_実装解説/26_状態表示パターン共通化/01_状態表示パターン共通化_コード解説.md
  docs/07_実装解説/26_状態表示パターン共通化/01_状態表示パターン共通化_機能解説.md
Due: none

#628 Add session log and rename plan file
  prompts/plans/628_component-visual-polish.md
  prompts/runs/2026-02/2026-02-18_2114_コンポーネントビジュアルポリッシュ.md
Due: none

#614 Add transition-colors to hover elements for consistent interactions
  frontend/src/Component/ApproverSelector.elm
  frontend/src/Main.elm
  frontend/src/Page/Role/Edit.elm
  frontend/src/Page/Role/New.elm
  frontend/src/Page/User/Detail.elm
  frontend/src/Page/User/Edit.elm
  frontend/src/Page/User/List.elm
  frontend/src/Page/User/New.elm
  frontend/src/Page/Workflow/List.elm
Due: elm-format-check

#653 Add design quality offense lens based on CRAP principles
  .claude/rules/zoom-rhythm.md
  docs/04_手順書/04_開発フロー/01_Issue駆動開発.md
  docs/04_手順書/04_開発フロー/02_TDD開発フロー.md
  docs/06_ナレッジベース/methodology/独自フレームワークと既知手法の対応.md
  prompts/plans/peppy-plotting-falcon.md
Due: none

#628 Check off confirmation items in plan file
  prompts/plans/628_component-visual-polish.md
Due: none

#613 Fix line number references in code explanation doc
  docs/07_実装解説/26_状態表示パターン共通化/01_状態表示パターン共通化_コード解説.md
Due: none

#614 Update design guidelines with animation and transition patterns
  frontend/src/styles.css
Due: none

#653 Rename plan file to follow naming convention
  prompts/plans/653_design-quality-offense-lens.md
Due: none

#649 Fix rules violations: rename mod.rs and correct plan filename
  backend/crates/shared/src/observability.rs
  docs/07_実装解説/27_ログ初期化共通化/01_ログ初期化共通化_コード解説.md
  prompts/plans/649_structured-logging.md
  prompts/runs/2026-02/2026-02-18_2024_ログ初期化共通モジュール化.md
Due: rustfmt-check

#653 Add design quality offense lens to quality process (#667)
  .claude/rules/zoom-rhythm.md
  docs/04_手順書/04_開発フロー/01_Issue駆動開発.md
  docs/04_手順書/04_開発フロー/02_TDD開発フロー.md
  docs/06_ナレッジベース/methodology/独自フレームワークと既知手法の対応.md
  prompts/plans/653_design-quality-offense-lens.md
  prompts/runs/2026-02/2026-02-18_2206_デザイン品質攻めレンズ導入.md
Due: none

Apply custom make_request_span to Core and Auth Services
  backend/apps/auth-service/src/main.rs
  backend/apps/core-service/src/main.rs
Due: rustfmt-check

#650 Add X-Request-Id header assertions to API tests
  tests/api/hurl/auth/login.hurl
  tests/api/hurl/health.hurl
Due: none

#650 Propagate Request ID from BFF to internal services via task-local
  backend/Cargo.lock
  backend/apps/bff/src/client/auth_service.rs
  backend/apps/bff/src/client/core_service/role_client.rs
  backend/apps/bff/src/client/core_service/task_client.rs
  backend/apps/bff/src/client/core_service/user_client.rs
  backend/apps/bff/src/client/core_service/workflow_client.rs
  backend/apps/bff/src/main.rs
  backend/apps/bff/src/middleware.rs
  backend/apps/bff/src/middleware/request_id.rs
Due: rustfmt-check
