Repository ka2kama/ringiflow: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt-check, elm-format-check

rustfmt-check:
  run: rustfmt +nightly --edition 2024 --check {staged_files}

elm-format-check:
  run: elm-format --validate {staged_files}

Update Rules Check model to claude-sonnet-4-6
  .github/workflows/claude-rules-check.yaml
Due: none

Update Rules Check model to claude-sonnet-4-6 (#808)
  .github/workflows/claude-rules-check.yaml
Due: none

#773 Document generated files and add pre-implementation guard (#811)
  .claude/rules/generated-files.md
  .claude/rules/pre-implementation.md
  prompts/plans/773_generated-files-guard.md
  prompts/runs/2026-02/2026-02-23_2126_generated-files-guard.md
Due: none

#810 Unify terminology: 状態マシン → ステートマシン
  .claude/rules/pre-implementation.md
  .claude/rules/zoom-rhythm.md
  .github/workflows/claude-auto-review.yaml
  docs/03_詳細設計書/00_実装ロードマップ.md
  docs/04_手順書/04_開発フロー/02_TDD開発フロー.md
  docs/05_ADR/054_ADTベースステートマシンパターンの標準化.md
  docs/07_実装解説/PR802_Designer-ADTステートマシン/01_Designer-ADTステートマシン_コード解説.md
  docs/07_実装解説/PR802_Designer-ADTステートマシン/01_Designer-ADTステートマシン_機能解説.md
  frontend/src/Page/WorkflowDefinition/Designer.elm
  prompts/plans/796_designer-adt-state-machine.md
  prompts/runs/2026-02/2026-02-23_2114_ADTベースステートマシン標準化.md
  prompts/runs/2026-02/2026-02-23_2120_Designer-ADT-state-machine.md
Due: elm-format-check

#810 Add session log for terminology unification
  prompts/runs/2026-02/2026-02-23_2103_用語統一ステートマシン.md
Due: none

Unify terminology: 状態マシン → ステートマシン (#812)
  .claude/rules/pre-implementation.md
  .claude/rules/zoom-rhythm.md
  .github/workflows/claude-auto-review.yaml
  docs/03_詳細設計書/00_実装ロードマップ.md
  docs/04_手順書/04_開発フロー/02_TDD開発フロー.md
  docs/05_ADR/054_ADTベースステートマシンパターンの標準化.md
  docs/07_実装解説/PR802_Designer-ADTステートマシン/01_Designer-ADTステートマシン_コード解説.md
  docs/07_実装解説/PR802_Designer-ADTステートマシン/01_Designer-ADTステートマシン_機能解説.md
  frontend/src/Page/WorkflowDefinition/Designer.elm
  prompts/plans/796_designer-adt-state-machine.md
  prompts/runs/2026-02/2026-02-23_2103_用語統一ステートマシン.md
  prompts/runs/2026-02/2026-02-23_2114_ADTベースステートマシン標準化.md
  prompts/runs/2026-02/2026-02-23_2120_Designer-ADT-state-machine.md
Due: elm-format-check

#805 Add session log and rename plan file for #805
  prompts/plans/805_formfield-for-id-accessibility.md
  prompts/runs/2026-02/2026-02-23_2119_FormField-for-id-accessibility.md
Due: none

#805 Add for/id attributes to FormField.elm for accessibility
  frontend/src/Component/FormField.elm
  frontend/src/Page/Role/Edit.elm
  frontend/src/Page/Role/New.elm
  frontend/src/Page/User/Edit.elm
  frontend/src/Page/User/New.elm
  frontend/src/Page/WorkflowDefinition/Designer.elm
  prompts/plans/peppy-waddling-cherny.md
  tests/e2e/tests/user-management.spec.ts
Due: elm-format-check

#805 Fix session log plan file reference after rename
  prompts/runs/2026-02/2026-02-23_2119_FormField-for-id-accessibility.md
Due: none

#805 Add for/id attributes to FormField.elm for accessibility (#809)
  frontend/src/Component/FormField.elm
  frontend/src/Page/Role/Edit.elm
  frontend/src/Page/Role/New.elm
  frontend/src/Page/User/Edit.elm
  frontend/src/Page/User/New.elm
  frontend/src/Page/WorkflowDefinition/Designer.elm
  prompts/plans/805_formfield-for-id-accessibility.md
  prompts/runs/2026-02/2026-02-23_2119_FormField-for-id-accessibility.md
  tests/e2e/tests/user-management.spec.ts
Due: elm-format-check

Optimize Rules Check by pre-computing path matching
  .github/scripts/match-rules.py
  .github/workflows/claude-rules-check.yaml
Due: none

Optimize Rules Check by pre-computing path matching (#813)
  .github/scripts/match-rules.py
  .github/workflows/claude-rules-check.yaml
Due: none

Add Lightsail demo environment reset script
  infra/lightsail/README.md
  infra/lightsail/reset.sh
Due: none

Add session log, knowledge base entry, and investigation record
  docs/06_ナレッジベース/infra/sqlxマイグレーションチェックサム互換.md
  process/investigations/2026-02/2026-02-23_2108_Lightsailリセットでのsqlxマイグレーション互換性問題.md
  prompts/runs/2026-02/2026-02-23_2108_Lightsailデモ環境リセットスクリプト.md
Due: none

Fix broken relative links in wrap-up documents
  docs/06_ナレッジベース/infra/sqlxマイグレーションチェックサム互換.md
  prompts/runs/2026-02/2026-02-23_2108_Lightsailデモ環境リセットスクリプト.md
Due: none

Add Lightsail demo environment reset script (#814)
  docs/06_ナレッジベース/infra/sqlxマイグレーションチェックサム互換.md
  infra/lightsail/README.md
  infra/lightsail/reset.sh
  process/investigations/2026-02/2026-02-23_2108_Lightsailリセットでのsqlxマイグレーション互換性問題.md
  prompts/runs/2026-02/2026-02-23_2108_Lightsailデモ環境リセットスクリプト.md
Due: none

#797 Survey ADT state machine application candidates
  prompts/runs/2026-02/2026-02-23_2200_ADTステートマシン適用箇所調査.md
Due: none

#797 Add Epic #822 reference to session log
  prompts/runs/2026-02/2026-02-23_2200_ADTステートマシン適用箇所調査.md
Due: none

#797 Survey ADT state machine application candidates (#821)
  prompts/runs/2026-02/2026-02-23_2200_ADTステートマシン適用箇所調査.md
Due: none

Add retrospective report for 2026-02-23 (#824)
  process/reports/2026-02-23_1902_レトロスペクティブ.md
Due: none

#818 Refactor Task/Detail.elm Model to ADT state machine
  frontend/src/Page/Task/Detail.elm
  prompts/plans/async-waddling-pizza.md
Due: elm-format-check

#818 Add session log for Task/Detail.elm ADT state machine refactoring
  prompts/runs/2026-02/2026-02-23_2230_Task-Detail-ADT-state-machine.md
Due: none

#818 Refactor Task/Detail.elm Model to ADT state machine (#823)
  frontend/src/Page/Task/Detail.elm
  prompts/plans/818_task-detail-adt-state-machine.md
  prompts/runs/2026-02/2026-02-23_2230_Task-Detail-ADT-state-machine.md
Due: elm-format-check

#815 Add session log, knowledge base, and explanation docs
  docs/06_ナレッジベース/devtools/rust-script.md
  docs/07_実装解説/PR825_CIスクリプトRust移行/01_match-rules-Rust移行_コード解説.md
  docs/07_実装解説/PR825_CIスクリプトRust移行/01_match-rules-Rust移行_機能解説.md
  prompts/plans/815_ci-script-rust-migration.md
  prompts/runs/2026-02/2026-02-23_2118_match-rules_Rust移行.md
Due: none

#815 Migrate match-rules from Python to Rust (rust-script)
  .github/scripts/match-rules.py
  .github/scripts/match-rules.rs
  .github/workflows/claude-rules-check.yaml
  docs/05_ADR/056_CIスクリプトの言語選定方針.md
  prompts/plans/glittery-wandering-breeze.md
Due: rustfmt-check

#815 Fix broken ADR links in rust-script knowledge base
  docs/06_ナレッジベース/devtools/rust-script.md
Due: none

#815 Migrate CI match-rules script from Python to Rust (#825)
  .github/scripts/match-rules.rs
  .github/workflows/claude-rules-check.yaml
  docs/05_ADR/056_CIスクリプトの言語選定方針.md
  docs/06_ナレッジベース/devtools/rust-script.md
  docs/07_実装解説/PR825_CIスクリプトRust移行/01_match-rules-Rust移行_コード解説.md
  docs/07_実装解説/PR825_CIスクリプトRust移行/01_match-rules-Rust移行_機能解説.md
  prompts/plans/815_ci-script-rust-migration.md
  prompts/runs/2026-02/2026-02-23_2118_match-rules_Rust移行.md
Due: rustfmt-check

#827 Add improvement records for retro action item miss and response judgment
  process/improvements/2026-02/2026-02-23_1902_レトロスペクティブ完了後のアクションアイテムIssue化漏れ.md
  process/improvements/2026-02/2026-02-23_1902_質問に対して回答せず行動で応答する.md
Due: none

#827 Add Issue #829 reference to retro action item improvement record
  process/improvements/2026-02/2026-02-23_1902_レトロスペクティブ完了後のアクションアイテムIssue化漏れ.md
Due: none

Add improvement records for retro flow and response judgment (#828)
  process/improvements/2026-02/2026-02-23_1902_レトロスペクティブ完了後のアクションアイテムIssue化漏れ.md
  process/improvements/2026-02/2026-02-23_1902_質問に対して回答せず行動で応答する.md
Due: none

#830 Delete match-rules.py (no longer needed after #825 merge)
  .github/scripts/match-rules.py
Due: none

Delete match-rules.py after Rust migration (#832)
  .github/scripts/match-rules.py
Due: none

#817 Refactor Workflow/New.elm Model to ADT state machine
  frontend/review/src/ReviewConfig.elm
  frontend/src/Page/Workflow/New.elm
  frontend/tests/Page/Workflow/NewTest.elm
  prompts/plans/optimized-hugging-book.md
Due: elm-format-check

#817 Add session log and rename plan file for #817
  prompts/plans/817_workflow-new-adt-state-machine.md
  prompts/runs/2026-02/2026-02-23_2116_workflow-new-adt-state-machine.md
Due: none

#817 Refactor Workflow/New.elm Model to ADT state machine (#826)
  frontend/review/src/ReviewConfig.elm
  frontend/src/Page/Workflow/New.elm
  frontend/tests/Page/Workflow/NewTest.elm
  prompts/plans/817_workflow-new-adt-state-machine.md
  prompts/runs/2026-02/2026-02-23_2116_workflow-new-adt-state-machine.md
Due: elm-format-check

#833 Add investigation record for shell script rust-script migration survey
  prompts/runs/2026-02/2026-02-23_2330_shell-script-rustscript移行候補調査.md
Due: none

Survey shell scripts for rust-script migration (#838)
  prompts/runs/2026-02/2026-02-23_2330_shell-script-rustscript移行候補調査.md
Due: none

Path conditions:
  rustfmt-check: any of: *.rs
  elm-format-check: any of: *.elm
