Repository ka2kama/ringiflow: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt-check, elm-format-check

rustfmt-check:
  run: rustfmt +nightly --edition 2024 --check {staged_files}

elm-format-check:
  run: elm-format --validate {staged_files}

#652 Expand design guidelines with spacing, layout, color, and responsive rules
  frontend/src/styles.css
  prompts/plans/cozy-baking-sky.md
Due: none

#652 Add session log, improvement record, and rename plan file
  process/improvements/2026-02/2026-02-18_1824_長時間コマンドのパイプ実行再発.md
  prompts/plans/652_design-guidelines.md
  prompts/runs/2026-02/2026-02-18_1824_デザインガイドライン拡充.md
Due: none

#652 Expand design guidelines in styles.css (#656)
  frontend/src/styles.css
  process/improvements/2026-02/2026-02-18_1824_長時間コマンドのパイプ実行再発.md
  prompts/plans/652_design-guidelines.md
  prompts/runs/2026-02/2026-02-18_1824_デザインガイドライン拡充.md
Due: none

#663 Create English README and rename Japanese version
  README.ja.md
  README.md
Due: none

#663 Add session log for English README creation
  prompts/runs/2026-02/2026-02-18_2117_README英語版作成.md
Due: none

#663 Fix improvement record count and capitalize "Offense"
  README.ja.md
  README.md
Due: none

#663 Create English README (#664)
  README.ja.md
  README.md
  prompts/runs/2026-02/2026-02-18_2117_README英語版作成.md
Due: none

#649 Add LogFormat enum and TracingConfig with TDD
  backend/crates/shared/src/lib.rs
  backend/crates/shared/src/observability/mod.rs
Due: rustfmt-check

#649 Migrate 3 services to shared observability module
  backend/.env.api-test.template
  backend/.env.template
  backend/apps/auth-service/Cargo.toml
  backend/apps/auth-service/src/main.rs
  backend/apps/bff/Cargo.toml
  backend/apps/bff/src/main.rs
  backend/apps/core-service/Cargo.toml
  backend/apps/core-service/src/main.rs
Due: rustfmt-check

#649 Add implementation explanation docs for logging centralization
  docs/07_実装解説/27_ログ初期化共通化/01_ログ初期化共通化_コード解説.md
  docs/07_実装解説/27_ログ初期化共通化/01_ログ初期化共通化_機能解説.md
Due: none

#649 Implement init_tracing() with JSON/Pretty format switching
  backend/crates/shared/Cargo.toml
  backend/crates/shared/src/observability/mod.rs
Due: rustfmt-check

#649 Add addendum to ADR-049 for clone 2 decision change
  docs/05_ADR/049_サービス間共通コード抽出の方針.md
Due: none

#649 Add session log and rename plan file
  prompts/plans/649_structured-logging.md
  prompts/runs/2026-02/2026-02-18_2024_ログ初期化共通モジュール化.md
Due: none

#649 Add implementation plan for structured logging
  prompts/plans/curried-humming-glacier.md
Due: none

#649 Remove unused tracing dependency from shared crate
  backend/Cargo.lock
  backend/crates/shared/Cargo.toml
Due: none

Update SDD section with latest Spec Kit v0.1.0 changes
  docs/06_ナレッジベース/methodology/独自フレームワークと既知手法の対応.md
Due: none

#625 Add worktree-create and worktree-switch scripts
  justfile
  scripts/worktree-create.sh
  scripts/worktree-switch.sh
Due: none

#627 Add session log for color palette renovation
  prompts/runs/2026-02/2026-02-17_2117_カラーパレット刷新.md
Due: none

#625 Reform worktree-issue to use slots, remove worktree-add
  scripts/worktree-add.sh
  scripts/worktree-issue.sh
Due: none

Add mprocs workaround for Ghostty Wayland keyboard freeze
  justfile
  prompts/recipes/debug/fix-mprocs-input-freeze-on-ghostty-wayland.md
Due: none

#627 Brighten sidebar and primary accent colors
  frontend/src/Component/Button.elm
  frontend/src/Main.elm
  frontend/tests/Component/ButtonTest.elm
Due: elm-format-check

#628 Polish badges with borders and migrate legacy color palette
  frontend/src/Component/Badge.elm
  frontend/src/Data/AdminUser.elm
  frontend/src/Data/AuditLog.elm
  frontend/src/Data/WorkflowInstance.elm
  frontend/src/Page/AuditLog/List.elm
  frontend/src/Page/Role/List.elm
  frontend/src/Page/User/Detail.elm
Due: elm-format-check

#625 Update cleanup.sh to preserve persistent worktree slots
  scripts/cleanup.sh
Due: none

Consolidate settings.local.json into settings.json
  .claude/settings.json
Due: none

#646 Clarify issue checkbox update check in quality checklist
  docs/04_手順書/04_開発フロー/01_Issue駆動開発.md
  process/improvements/2026-02/2026-02-18_1920_品質チェックリストのIssue状態更新漏れ.md
Due: none

#627 Update session log with brightness adjustment details
  prompts/runs/2026-02/2026-02-17_2117_カラーパレット刷新.md
Due: none

#646 Add next action section to improvement record
  process/improvements/2026-02/2026-02-18_1920_品質チェックリストのIssue状態更新漏れ.md
Due: none

#652 Add exception note for Info badge border shade
  frontend/src/styles.css
Due: none

#633 Migrate focus: to focus-visible: in AuditLog and PermissionMatrix
  frontend/src/Component/PermissionMatrix.elm
  frontend/src/Page/AuditLog/List.elm
Due: elm-format-check

Refine gh api permission: allow reads, ask for writes
  .claude/settings.json
Due: none

#628 Unify table styles across list pages to User/List baseline
  frontend/src/Page/Task/List.elm
  frontend/src/Page/Workflow/List.elm
Due: elm-format-check

#625 Update docs and skills for persistent worktree slots
  .claude/skills/next/SKILL.md
  .gitignore
  README.md
  docs/04_手順書/04_開発フロー/04_並行開発（Worktree）.md
  docs/05_ADR/021_並行開発環境の構成.md
  docs/07_実装解説/03_並行開発環境/01_並行開発環境_機能解説.md
  docs/07_実装解説/03_並行開発環境/02_並行開発環境_コード解説.md
Due: none

#649 Centralize logging initialization and add structured JSON logging (#658)
  backend/.env.api-test.template
  backend/.env.template
  backend/Cargo.lock
  backend/apps/auth-service/Cargo.toml
  backend/apps/auth-service/src/main.rs
  backend/apps/bff/Cargo.toml
  backend/apps/bff/src/main.rs
  backend/apps/core-service/Cargo.toml
  backend/apps/core-service/src/main.rs
  backend/crates/shared/Cargo.toml
  backend/crates/shared/src/lib.rs
  backend/crates/shared/src/observability.rs
  docs/05_ADR/049_サービス間共通コード抽出の方針.md
  docs/07_実装解説/27_ログ初期化共通化/01_ログ初期化共通化_コード解説.md
  docs/07_実装解説/27_ログ初期化共通化/01_ログ初期化共通化_機能解説.md
  prompts/plans/649_structured-logging.md
  prompts/runs/2026-02/2026-02-18_2024_ログ初期化共通モジュール化.md
Due: rustfmt-check

Path conditions:
  rustfmt-check: any of: *.rs
  elm-format-check: any of: *.elm
